%li
  - status, label, url, modal, tooltip = form_status
  - data = {data: { loads_in_pjax_modal: true }} if modal
  = if_link_to(link, url, data) do
    - case status
    - when :no_signed_form, :in_progress
      %span.icon-checkmark.mr-1.o-color--gray-l{data: {toggle: :tooltip, title:tooltip}}
    - when :too_old, :expired, :being_updated
      %span.icon-hourglass.mr-1.o-color--gray-d{data: {toggle: :tooltip, title:tooltip}}
    - else
      %span.icon-checkmark.o-color--positive.mr-1{data: {toggle: :tooltip, title:tooltip}}
    = label