%section#appointments-list.jAppointments{data: {path: client_health_appointments_path()}}
-# %section#utilization-list.jUtilization{data: {path: client_health_utilization_index_path()}}
%section#problems-list.jProblems{data: {path: client_health_problems_path()}}
%section#medications-list.jMedications{data: {path: client_health_medications_path()}}
