.ho-container
  = d3_container_header('patient', @patient.name, just_patient: true)
  .row
    .col-sm-12
      = d3_base_chart('d3-housing-status__chart', 'd3-housing-status__dates', 'Housing Status')
  .row
    .col-sm-12
      - if @patient.ed_ip_visits.exists?
        %section#ed_ip_visits.jEdIpVists{data: {path: client_health_ed_ip_visits_path(@client.to_param, format: :json)}}
          %h2 ED & IP Visits
          .jEdIpVisitChart.opaque-area-chart

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var data = #{@client.health_housing_stati.to_json.html_safe}
      hsChart = {
        margin: {top: 25, right: 45, bottom: 70, left: 150},
        selector: '.d3-housing-status__chart',
        data: data,
        type: 'hs',
        viewBoxSizing: true
      }
      var pc = new App.D3Chart.PatientCharts([hsChart])
    })
