%section#appointments-list.jAppointments{data: {path: window_client_health_appointments_path()}}
-# %section#utilization-list.jUtilization{data: {path: window_client_health_utilization_index_path()}}
%section#problems-list.jProblems{data: {path: window_client_health_problems_path()}}
%section#medications-list.jMedications{data: {path: window_client_health_medications_path()}}
- if @patient.ed_ip_visits.exists?
  %section#ed_ip_visits.jEdIpVists{data: {path: window_client_health_ed_ip_visits_path(@client.to_param, format: :json)}}
    %h2 ED & IP Visits
    .jEdIpVisitChart.opaque-area-chart
