.ho-chart__container
  .ho-chart__header
    .row
      .col-xs-12
        %h3 
          Top Providers and Clinical Conditions
          %br
          %small
            (all claims & medical/BH claims only)
        #d3-top-legend__pc.pull-right
  .ho-chart__content
    .row
      .ho-chart__section.col-xs-12.col-md-6
        .d3-top__chart#top-providers{data: {url: "/api/health/claims/patients/#{@patient.id}/top_providers", yattr: 'provider_name', ylabel: 'of Total Cost', maintype: 'patient'}}
          %h4 Top Providers: Current Patient
      .ho-chart__section.col-xs-12.col-md-6
        .d3-top__chart#top-conditions{data: {url: "/api/health/claims/patients/#{@patient.id}/top_conditions", yAttr: 'description', yLabel: 'of med/BH Cost', mainType: 'patient'}}
          %h4 Top Conditions: Current Patient

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var ids = ['#top-providers', '#top-conditions']
      var legendSelector = '#d3-top-legend__pc'
      var topBars = new App.D3Chart.TopBarCharts(ids, legendSelector, true)
      topBars.draw()
    })
      