.jServicesList
  - if @services.blank?
    %p.no-data
      No services listed.
      = link_to polymorphic_path([:new] + health_path_generator + [:service]), data: { loads_in_pjax_modal: true } do
        Add Service

  - else
    %table.table.service__list.mb-0
      %thead
        %tr
          %th Type
          %th Provider
          %th Hours
          %th Days
          %th Requested On
          %th Effective Date
          %th End Date
          %th Status
          %th

      %tbody
        - @services.each do |service|
          = render 'window/health/services/service_row', service: service
