- content_for :modal_title, "Full Permissions for #{@user.name}"

.warehouse-reports__user-permission__profile
  .mb-4
    .warehouse-reports__user-permission__profile-access_controls
      - @user.access_controls.preload(:role, :access_group, :user_group).each do |ac|
        %h2 Access Control
        = render '/access_controls/control', access_control: ac
        %hr
