= f.input :subdomain
= f.input :api_key, label: 'API Key'
= f.input :courseid, label: 'Course ID'
= f.input :months_to_expiration, label: 'Months Until Required Recertification - Leave blank if recertification is not required'