%p Roles that match exactly on role name will replace existing permissions with those proposed.  Roles that do not exist will be created.
.card
  %table.table.table-striped
    %thead
      %tr
        %th
        - @import.roles.each do |role|
          %th{colspan: 3}
            = role[:name]
            - if role[:new_role]
              (new)
      %tr
        %th
        - @import.roles.each do
          %th Existing
          %th
          %th.border-right Incoming
    %tbody
      - Role.permissions(exclude_health: true).each do |column|
        %tr
          %th.border-right= Role.title_for_column(column)
          - @import.roles.each do |role|
            - perm = role[:permissions].try(:[], column)
            %td.text-right= checkmark_or_x(perm.try(:[], :existing_value))
            %td.text-center
              %i.icon-arrow-right
            %td.border-right= checkmark_or_x(perm.try(:[], :incoming_value))
