= f.input :cohort_ids, collection: @filter.cohorts_for_select(user: current_user), required: false, input_html: { multiple: true, placeholder: 'Any Cohort' }, label: control.label, as: :select_two, placeholder: 'Any Cohort', hint: 'Limit to clients on the selected cohorts'
