= f.input :age_ranges, collection: @filter.available_age_ranges, required: false, input_html: { multiple: true, placeholder: 'Any Age' }, label: control.label, as: :select_two, placeholder: 'Any Age'
