.row
  .col-sm-8
          
    %p If the Comprehensive Health Assessment was conducted on paper, you may upload a scanned version here. 

  .col-sm-4
    - if @blank_cha_url.present?
      .col-sm-6.text-right
        = link_to @blank_cha_url, class: 'btn btn-secondary' do
          %i.icon-download2
          Blank CHA  
.row
  .col-sm-12
    = render 'window/health/health_files/form'