- if @report.report_data.present?
  %table.table
    %thead
      %tr
        %th ACO
        - @report.housing_status_buckets.each do |status|
          %th.text-center= status.to_s.humanize
    %tbody
      - @report.report_data.each do |aco_id, clients|
        %tr
          %td= @report.aco_for_id(aco_id).name
          - @report.housing_status_buckets.each do |status|
            %td.text-center
              - count = @report.count_for_aco(housing_status: status, aco_id: aco_id)
              = link_to_if(count > 0, count, details_warehouse_reports_health_housing_status_index_path({aco_id: aco_id, housing_status: status, end_date: @end_date}), data: {loads_in_pjax_modal: true})
    %tfoot
      %tr
        %th Total
        - @report.housing_status_buckets.each do |status|
          %th.text-center= @report.count_for_status(housing_status: status)

