- title = 'Housing Status Detail'
- content_for :modal_title, title
%table.table
  %thead
    %th Patient
    %th Homeless Data Source
    %th Housing Status
    %th Housing Status Reported
  %tbody
    - @report.report_data[@aco_id].each do |client_id, row|
      - next unless row[:clean_housing_status] == @housing_status
      - client = @report.client_for_id(client_id)
      - next unless client
      %tr
        %td= link_to client.name, client_health_patient_index_path(client)
        %td= row.source
        %td= row.clean_housing_status&.to_s&.humanize
        %td= row.housing_status