- akas = client_aliases(client)
- if akas.any?
  .clients__client-additional-names
    - akas.each_with_index do | aka, i |
      .client__client-name
        .client-aka
          = aka
.ml-auto.mt-4.text-muted.text-small.h3
  Warehouse ID:
  = client.id
