.modal.fade#agency-user-modal{role: 'dialog'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .pull-right
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span &times;
        #agency-user-form