.d-flex
  .mr-4
    .alert.alert-info
      %i.icon-info.mr-4
      Please note, while the clients included in the report are limited to those with enrollments in the chosen universe, some activitie are included that may be outside the chosen universe.
  .ml-auto.mb-4
    - params['filters'] = default_filter_options.with_indifferent_access['filters'] if params['filters'].blank?
    = render 'report_downloads/report_download', export: nil, excel_export: @excel_export, excel_download_path: nil