---

# See sections at bottom for actual shape of deployments

_global_defaults:
  :execution_role: arn:aws:iam::123456789012:role/ecsTaskExecutionRole

_dj_options: &dj_options
  - name: long
    container_count: 1
    env:
      QUEUE: long_running
  - name: short
    container_count: 2
    env:
      QUEUE: short_running
  - name: all
    container_count: 3
    env: {}

_web_options: &web_options
  container_count: 1

_some_city: &some_city
  :target_group_name: some-city-ecs
  :secrets_arn: arn:aws:secretsmanager:us-east-1:123456789012:secret:some-city-ecs-ABCDE
  :task_role: arn:aws:iam::123456789012:role/ecsTaskRoleFor-some-city
  :web_options: *_web_options
  :dj_options: *dj_options

_some_state: &some_state
  :target_group_name: some-state-ecs
  :secrets_arn: arn:aws:secretsmanager:us-east-1:123456789012:secret:some-state-ecs-ABCDE
  :task_role: arn:aws:iam::123456789012:role/ecsTaskRoleFor-some-state
  :web_options: *_web_options
  :dj_options: *dj_options

warehouse:
  staging:
    - *some_city
    - *some_state

cas:
  just_city:
    - *some_city
