.d-flex
  %h2{ class: "#{base_name}-race-ethnicity-header"} Race by Cohort
= render 'boston_reports/warehouse_reports/street_to_homes/race_ethnicity_by_cohort', base_name: base_name, chart: 'race', data_method: :race_by_cohort, hidden_class: ''
