- title = _('Street To Home')
- content_for :title, title

%h1.mb-5= title
%section.filter-summary.mb-5
  %h2.mb-4 Summary of Selected Universe
  = render 'performance_dashboards/active_filters_three_col'
%section.mb-5=# render 'boston_reports/warehouse_reports/street_to_homes/hero_counts'
- @report.class.available_section_types.each do |section|
  %section.mb-5.page-break-after
    = render "boston_reports/warehouse_reports/street_to_homes/section/#{section}"
