%div{ style: 'padding: 2rem;' }

  %div{ style: ( "white-space: pre;" unless @message.html? ) }
    = @message.body_html

- content_for :modal_title, @message.subject
- content_for :modal_footer do
  %strong
    Sent:
  = @message.created_at