%div{ style: 'padding: 2rem;' }

  %div
    = @message.sanitized_body(render_as: :html)

- content_for :modal_title, @message.subject
- content_for :modal_footer do
  %strong
    Sent:
  = @message.created_at
