%div{ style: 'padding: 2rem;' }

  %div
    - if @message.html?
      = @message.body_html
    - else
      = simple_format(@message.body_html).gsub(URI.regexp(['http', 'https']), '<a href="\0">\0</a>').html_safe

- content_for :modal_title, @message.subject
- content_for :modal_footer do
  %strong
    Sent:
  = @message.created_at