= content_for :page_js do
  :javascript
    (function($) {
      // manage some button classes manually to get the colors we want
      $(document).on('change', '.jForcePayable input', function(e) {
        var cell = $(e.currentTarget).closest('.jForcePayable');
        var checked_no_label = $(cell).find('.jNo input:checked').closest('label');
        var unchecked_no_label = $(cell).find('.jNo input:not(:checked)').closest('label');
        var checked_yes_label = $(cell).find('.jYes input:checked').closest('label');
        var unchecked_yes_label = $(cell).find('.jYes input:not(:checked)').closest('label');
        checked_no_label.removeClass('btn-secondary').addClass('btn-danger');
        unchecked_no_label.removeClass('btn-danger').addClass('btn-secondary');
        checked_yes_label.removeClass('btn-secondary').addClass('btn-success');
        unchecked_yes_label.removeClass('btn-success').addClass('btn-secondary');
      });
    })(jQuery);