- if @reports.any?
  %p= paginate @reports
  %table.table.table-condensed
    %thead
      %tr
        %th Report
        %th Claims before
        %th Status
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to_if report.completed_at, 'Review Claims', warehouse_reports_health_claim_path(id: report.id)
          %td= report.max_date
          %td= report.status