- if @client.signed_consent_form_fully?
  :ruby
    health_questions = [
      'A-11. Do you have a permanent physical disability that limits your mobility?', 
      'F-106. Have you ever had problematic drug or alcohol use, abused drugs or alcohol, or been told you do?',
      'F-107. Have you been treated for drug or alcohol problems in the past year?',
      '',
    ]
  %table.table
    %thead
      %tr
        %th{style: 'width: 50%;'} Question
        %th Answer
        %th.nobr Date collected
    %tbody
      - @client.source_hmis_forms.each do |assessment|
        - assessment[:answers]['sections'].each do |section|
          - if section['section_title'] == "PAGE #5. Wellness,..."
            - section['questions'].each do |q|
              - if q['answer'].present?
                %tr.q
                  %td= q['question']
                  %td
                    %strong
                      = q['answer'] 
                  %td= assessment[:collected_at].to_date