%p Access Controls grant a set of permissions for a set of data to a set of users.  Permissions are attached to Roles, data access is granted through Collections and users are assigned via User Groups.
.row
  .col-8
    = f.input :role_id, as: :select_two, label_method: :name, collection: Hmis::Role.all
    = f.input :access_group_id, as: :select_two, label_method: :name, collection: Hmis::AccessGroup.all, label: 'Collection'
    = f.input :user_group_id, as: :select_two, label_method: :name, collection: Hmis::UserGroup.all, label: 'User Group'
