= f.input :disabilities, collection: @filter.available_disabilities, required: false, input_html: { multiple: true }, label: control.label, as: :select_two, hint: 'Include only enrollments with the chosen disabilities during the reporting range'
