= simple_form_for @filter, as: :filter, url: warehouse_reports_hashed_only_hmis_exports_path, html: { method: :post, class: 'jFilter' } do |f|
  = render 'warehouse_reports/hmis_exports/shared_filter', f: f, include_hash_status: false


  .well
    = f.button :submit, value: 'Queue Export', data: { disable_with: 'running...' }
