- size = :md
- if params[:size] && [:md, :lg, :xl].include?(params[:size].to_sym)
  - size = params[:size].to_sym
.table-wrapper
  .row
    .col-sm-8.cohort--table-info
      = "Cohort: #{pluralize(@cohort.cohort_clients.size, 'client')}; #{@cohort.cohort_clients.active.size} active."
    .col-sm-4.cohort-search
      %input#cohort-search{placeholder: 'Search', type: :search, class: 'form-control'}
  .cohort-client__table.datatable{class: size}
