%table.table.table-condensed.datatable.cohort-client__table
  %thead
    %tr
      %th
        -# We've had issues with the fixed columns, this seems to fix it
        .div{style: 'width: 4em;'}
          &nbsp;
      - @cohort.visible_columns.each do |column|
        %th
          = column.title
  %tbody
    - @cohort_clients.each do |cohort_client|
      =# render 'client_row', cohort_client: cohort_client
