:ruby
  tabs = {
    cohort_path(@cohort, population: :active) => {
      title: 'Active Clients',
      permission: true,
    },
    cohort_path(@cohort, population: :housed) => {
      title: 'Housed Clients',
      permission: @all_cohort_clients.where.not(housed_date: nil).where(ineligible: [nil, false]).any?,
    },
    cohort_path(@cohort, population: :ineligible) => {
      title: 'Ineligible Clients',
      permission: @all_cohort_clients.where(ineligible: true).any?,
    },
  }

= render "tabs", tabs: tabs, current: current
