:ruby
  tabs = {
    cohort_path(@cohort, population: :active) => {
      title: 'Active Clients',
      permission: true,
    },
    cohort_path(@cohort, population: :housed) => {
      title: 'Housed Clients',
      permission: @show_housed,
    },
    cohort_path(@cohort, population: :ineligible) => {
      title: 'Ineligible Clients',
      permission: @show_inactive,
    },
  }

= render "tabs", tabs: tabs, current: current
