- if @cohort.cohort_clients.any?
  :ruby
    tabs = {
      cohort_path(@cohort, population: :active) => {
        title: 'Active Clients',
        permission: true,
      },
      cohort_path(@cohort, population: :inactive) => {
        title: 'Inactive Clients',
        permission: @cohort.show_inactive(current_user),
      },
      cohort_path(@cohort, population: :housed) => {
        title: 'Housed Clients',
        permission: @cohort.show_housed,
      },
      cohort_path(@cohort, population: :ineligible) => {
        title: 'Ineligible Clients',
        permission: @cohort.show_ineligible,
      },
    }

  = render "tabs", tabs: tabs, current: current
