= content_for :page_js do
  :javascript
    $('.datatable').DataTable({
        scrollY: false,
        scrollX: true,
        //scrollCollapse: true,
        //fixedColumns:   {
        //  leftColumns: 2,
        //  rightColumns: 1,
        //  heightMatch: 'none'
        // }
    });

    (function($) {
      var clients = new App.Cohorts.Client('.jCohortClient', '.jCohortClientInput');
    })(jQuery);