= content_for :page_js do
  :javascript
    (function($) {
      var clients = new App.Cohorts.Client('.jCohortClient', '.jCohortClientInput', '#{cohort_cohort_clients_path(@cohort)}');

      var datatable = $('.datatable').DataTable({
        scrollY: false,
        scrollX: true,
        scrollCollapse: true,
        pageLength: 100,
        fixedColumns: {
         leftColumns: 4
        },
        order: [[1, 'asc']]
      });
    })(jQuery);
