.o-page__search
  = simple_form_for :search_form, url: cohorts_path, method: :get do |f|
    .input-group
      = f.input :q, label: false, placeholder: 'Search by cohort name...', class: 'form-control', input_html: { value: @search_string }
      %span.input-group-append
        %button.btn.btn-secondary{type: :submit} Search
