:ruby
  excel_download_tooltip ||= ''
  filter_params = {}
  (params['filters'] || params['filter'] || {}).to_h.each_pair do |key, value|
    if value.is_a?(Array)
      value = value.map(&:presence).compact.presence
    end
    if value.present?
      filter_params[key] = value
    end
  end
  report_params = {
    'filters' => filter_params,
    'filter' => filter_params,
  }
  report_params['id'] = params['id'] if params['id'].present?

  if defined?(breakdown) && breakdown.present?
    report_params['breakdown'] = breakdown
  end
  if export.present?
    data = {
      type: export.type,
      query_string: report_params.to_query
    }
  end

= render 'report_downloads/report_download_button', export: export, data: data, excel_download_path: excel_download_path, excel_download_tooltip: excel_download_tooltip
