- if @data.blank?
  %h3 No Projects Included
- else
  %h3 #{pluralize(@data.count, 'Project')} Included
  .scroll-box
    - @data.each do |(o_id, org_name), projects|
      %h4= org_name
      %ul.list-unstyled
        - projects.each do |name, id, selected|
          %li{value: id}= name
