- title = "Currently enrolled clients with length of stay"
- content_for :title, title
%h1= content_for :title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

%div{ data: { controller: 'length-of-stay-chart',
        'length-of-stay-chart-headers-value': @headers.to_json,
        'length-of-stay-chart-chart-keys-value': (@headers - %w(average)).to_json } }
  .well
    Calculate the length of stay in days for clients in the respective projects whose enrollment
    periods overlap the interval in question. Days prior to the beginning of the interval are included but not
    those after. Only those days are included for which there is a record of the client receiving service from
    the project.

  .jFormContainer{ "data-length-of-stay-chart-target" => "formContainer" }
    = render 'form'


  :css
    .length-table td:not(:first-child), .length-table th:not(:first-child) {
      text-align: right;
    }
    .loading-cell {
      text-align: center;
    }

  %h3.jOrganizationTitle{style: "display:none;", "data-length-of-stay-chart-target" => "organizationTitle" }
  .table-responsive.mb-4
    %table.table.table-hover.length-table.table-striped
      %thead
        %tr
          %th Project
          - @headers.each_with_index do |header, i|
            %th{ class: ( 'lightest-gray' if i % 2 == 0 ), data: ( { 'bs-toggle' => 'tooltip', title: 'days in project' } if header == 'average' ) }
              = header
      %tbody{ "data-length-of-stay-chart-target" => "tableBody" }

  .mb-6{ "data-length-of-stay-chart-target" => "chart" }
