- if can_edit_users?
  = link_to admin_users_path, class: 'vsm-item-link' do
    .vsm-item-link--description
      User Accounts
.vsm-group.vsm-group__account
  = link_to edit_account_path, class: 'vsm-item-link' do
    .vsm-item-link--description
      Edit Account
  -# = current_user.name
  = link_to destroy_user_session_path, method: :delete, class: 'vsm-item-link' do
    .vsm-item-link--description
      Sign Out
    .menu-icon
      %i{class: "icon-exit"}
