%ul.o-menu__group.list-unstyled
  %li.o-menu__item
    = link_to edit_account_path, class: 'o-menu__link' do
      Edit Account
  -# = current_user.name
  %li.o-menu__item
    = link_to destroy_user_session_path, method: :delete, class: 'o-menu__link' do
      Sign Out
      %i.ml-2{class: "icon-exit"}
