- if can_view_imports? || can_view_projects? || can_edit_project_groups? || can_view_organizations?
  %ul.o-menu__group.list-unstyled
    - if can_view_projects? || can_view_organizations?
      %li.o-menu__item
        = link_to data_sources_path, class: 'o-menu__link' do
          = _('Data Sources')
    - if can_edit_project_groups?
      %li.o-menu__item
        = link_to project_groups_path, class: 'o-menu__link' do
          = _('Project Groups')
