- if can_view_clients? || can_edit_clients? || can_view_client_window?
  .vsm-group.vsm-group__group-a
    - if can_view_clients? || can_edit_clients?
      = link_to clients_path, class: 'vsm-item-link' do
        .vsm-item-link--description
          = GrdaWarehouse::Hud::Client.model_name.human.pluralize
    - if can_view_client_window?
      = link_to window_clients_path, class: 'vsm-item-link' do
        .vsm-item-link--description Window into the Warehouse