:ruby
  tabs = [
    {
      title: 'Patient Referrals',
      path: review_admin_health_patient_referrals_path,
      controllers: ['patient_referrals'],
      visible: can_approve_patient_assignments?,
    },
    {
      title: 'Identify Patients',
      path: review_admin_health_agency_patient_referrals_path,
      controllers: ['agency_patient_referrals'],
      visible: can_manage_patients_for_own_agency? || can_manage_health_agency?,
    },
    {
      title: 'Health Agencies',
      path: admin_health_agencies_path,
      controllers: ['agencies'],
      visible: can_administer_health? || can_manage_health_agency?,
    },
    {
      title: 'Pilot Patients',
      path: admin_health_patients_path,
      controllers: ['patients'],
      visible: can_administer_health? || can_manage_all_patients?,
    },
    {
      title: 'User Access',
      path: admin_health_users_path,
      controllers: ['users'],
      visible: can_administer_health? ,
    },
    {
      title: 'Health Roles',
      path: admin_health_roles_path,
      controllers: ['roles'],
      visible: can_administer_health? ,
    },
    {
      title: 'Care Coordination Teams',
      path: admin_health_coordination_teams_path,
      controllers: ['coordination_teams'],
      visible: can_administer_health? ,
    },
    {
      title: 'Care Coordination Team Members',
      path: admin_health_team_members_path,
      controllers: ['team_members'],
      visible: can_administer_health? ,
    },
    {
      title: 'ACOs',
      path: admin_health_accountable_care_organizations_path,
      controllers: ['accountable_care_organizations'],
      visible: can_manage_accountable_care_organizations? ,
    },
        {
      title: 'Scheduled Documents',
      path: admin_health_scheduled_documents_path,
      controllers: ['scheduled_documents'],
      visible: can_manage_accountable_care_organizations? ,
    },
  ]

- if GrdaWarehouse::Config.get(:healthcare_available)
  %ul.nav.nav-tabs
    - tabs.each do |tab|
      - if tab[:visible]
        %li.nav-item{role: 'presentation', class: tab[:controllers].include?(controller_name) ? 'active' : ''}
          = link_to tab[:path], class: 'nav-link' do
            = tab[:title].html_safe
