- if can_view_any_reports? || can_view_hud_reports?
  %ul.o-menu__group.list-unstyled
    - if can_view_hud_reports?
      %li.o-menu__item
        - url = Rails.application.config.hud_reports.values.sort_by { |row| row[:title] }.first[:helper]
        = link_to public_send(url), class: 'o-menu__link' do
          = _("HUD Reports")
    - if can_view_any_reports?
      %li.o-menu__item
        = link_to warehouse_reports_path, class: 'o-menu__link' do
          = _("Reports")
