.well
  %h4 EOHHS working definitions:
  %p
    “Homeless”- An individual who lacks a fixed, regular, and adequate nighttime residence, which includes a primary nighttime residence of:
    A place not designed for or ordinarily used as a regular sleeping accommodation (including car, park, abandoned building, bus/train station, airport, or camping ground)
    A publicly or privately operated shelter or transitional housing, including a hotel or motel paid for by government or charitable organizations.
  %p
    “Fixed” means a residence that is “stationary, permanent and not subject to change.” “Regular” means a dwelling at which a person resides on a regular basis (i.e. nightly). “Adequate” means that the dwelling provides safe shelter. In addition, a person is Homeless if he or she is being discharged from an institution where he or she has been a resident for 90 days or less and the person resided in a shelter (but not transitional housing) or place not meant for human habitation immediately prior to entering that institution.
  %p
    In addition, a person is Homeless if he or she is being discharged from an institution where he or she has been a resident for 90 days or less and the person resided in a shelter (but not transitional housing) or place not meant for human habitation immediately prior to entering that institution.
  %p
    “At risk of homelessness” –   a person 24 years of age or younger whose status or circumstances indicate a significant danger of experiencing homelessness in the near future (four months). Statuses or circumstances that indicate a significant danger may include: (1) youth exiting out-of-home placements; (2) youth who previously were homeless (3) youth whose parents or primary caregivers are or were previously homeless or have a history of multiple evictions or other types of housing instability; ; (4) youth who are exposed to abuse and neglect in their homes; (5) youth who experience conflict with parents due to chemical or alcohol dependency, mental health disabilities, or other disabilities; and (6) runaways.
  %p
    “Stably housed” – An individual who has sufficient resources or support networks immediately available to prevent them from moving to an emergency shelter or another place within 30 days.
    “Prevention Services” Methods and systems that prioritize retention of housing by assisting those At Risk of Homelessness from actually becoming Homeless. Specific Prevention practices include, but are not be limited to: diversion/problem solving, counseling, mediation, negotiation, and short-term flexible support funds.​
  %p
    “ReHousing” - A set of strategies to help individuals quickly move out of homelessness and into permanent housing. Strategies may include, but not be limited to housing search, landlord mediation assistance (when applicable), short-term rental assistance, and transitional case management services. By helping people exit homelessness more rapidly, shelters are able to accommodate more homeless persons without increasing capacity.
  %p
    “YYA” (Youth and Young Adults) - individuals between the ages of 14 and 24.
