- project_ids = list.map(&:project_id).uniq
- current_user.policy_context.preload_project_dependencies(project_ids)
- presenter = HopwaCaper::DrilldownPresenter.new(list, @report, current_user, format: :html)
- display_headers = presenter.headers
.card
  .overflow-x-scroll
    %table.table.table-sm.table-bordered
      %thead.table-dark
        %tr
          - display_headers.each_value do |header|
            %th= header
      %tbody
        - list.each do |record|
          %tr
            - display_headers.each_key do |field|
              %td{style: 'max-width: 600px;'}
                = presenter.display_value(record, field)
