.well.mt-6
  %p
    It is often helpful to name the group for the agency where the people included in the group work and their role in that agency.
  %p
    Some examples:
    %ul
      %li.font-italic Blue Mountain Shelter: Providers
      %li.font-italic Blue Mountain Shelter: Site Managers
      %li.font-italic Administrators: MA-500
      %li.font-italic Providers: MA-500
