- content_for "client_card_demographics__#{client.id}" do
  - ssns = client.source_clients_searchable_to(current_user).map{|c| masked_ssn(c[:SSN]).html_safe if c[:SSN].present?}.uniq.compact
  - ages = client.source_clients_searchable_to(current_user).map{|m| [m.DOB, m.age].compact}.uniq.select(&:present?)
  :ruby
    ssns = []
    ages = []
    client.source_clients_searchable_to(current_user).each do |client|
      pii = client.pii(current_global_auth_policy)
      ssns.push(pii.ssn(force_mask: true))
      ages.push(pii.dob_and_age)
    end
    ssns = ssns.compact.uniq
    ages = ages.compact.uniq
  - if (@show_ssn && ssns.present?) || ages.any?
    .row
      - if @show_ssn && ssns.present?
        .col-md-6.client__ssns.mb-2
          %h3 SSN
          - # Note always mask SSN for list
          - ssns.each do |ssn_for_lists|
            .client__ssn
              .no-wrap= ssn_for_lists
      - if ages.any?
        .col-md-6.client__dobs
          - # Note only show year and age for list
          %h3 Year of Birth (age)
          - ages.each do |age|
            .client__dob
              .no-wrap= age
