.o-filtration.o-filtration--xs.client__sort.dropdown
  %button.btn.btn-secondary.dropdown-toggle{data: {toggle: 'dropdown'}}
    Sort
    %span.caret
  .o-filtration__container.dropdown-menu.options
    %ul.mb-0.list-unstyled
      - GrdaWarehouse::Hud::Client::SORT_OPTIONS.each do |key, title|
        - classes = if @selected_sort == key then 'icon-checkbox-checked' else 'icon-checkbox-unchecked' end
        %li
          = link_to({ q: params[:q], sort: key }) do
            %span{ class: classes }
            = title
