.o-filtration.o-filtration--xs.client__sort.dropdown
  %button.btn.btn-secondary.dropdown-toggle{data: {toggle: 'dropdown'}}
    Sort
    %span.caret
  .o-filtration__container.dropdown-menu.options
    %ul.mb-0.list-unstyled
      - GrdaWarehouse::Hud::Client::SORT_OPTIONS.each do |key, title|
        - html = if @selected_sort == key
          - "<span class='icon-checkbox-checked'></span> #{title}".html_safe
        - else
          - "<span class='icon-checkbox-unchecked'></span> #{title}".html_safe
        %li= link_to(html, { q: params[:q], sort: key })
