.mb-2.reports.warehouse-reports__completed
  - # NOTE: this is not ideal, we need to figure out which filter type we're actually using
  - # but for displaying the items chosen, it's probably fine
  - filter = Filters::FilterBase.new(user_id: report.user_id).update(report.options.with_indifferent_access)
  = filter.describe_filter_as_html(@generator.allowed_options)
  = render 'filters/view_filter_details', filter_hash: filter.to_h, selected_keys: @generator.allowed_options
