.text-right
  .md.mb-2
    = render 'hud_reports/filter_data', filter_data: @view_filter if @view_filter.present?
  = render 'hud_reports/view_filter'
- if @pagy.count.positive?
  .jReportListing
    = render 'hud_reports/reports'
  = render 'hud_reports/list_refresher'
- else
  .none-found.mt-4 No reports to show
