.table-responsive
  %table.table.table-sm.table-bordered
    %thead.thead-dark
      %tr
        %th
        - columns.each do |label|
          %th= label
    %tbody.thead-dark
      - rows.each_with_index do |row, index|
        %tr
          %th= index + 1
          - row.each do |value|
            - cell_color = 'table-primary' if value.nil? || value == ''
            - value = '0.0000' if value == 'NaN'
            %td{class: cell_color}= value
