- tabs = @report_urls.map { |category, url| { category: category, controls: category, url: url } }
%ul.nav.nav-pills.report-nav.flex-column{role: :tablist, aria: {orientation: :vertical}}
  - tabs.sort_by { |row| row[:category] }.each do |row|
    %li.nav-item{role: :presentation}
      - active = row[:category] == tab_name
      = link_to row[:category], row[:url], role: :tab, aria: { controls: row[:controls] }, class: [ 'nav-link', active ? 'active' : '' ]
