# build/runtime artifacts from host OS
node_modules/
tmp/
log/
vendor/cache*
public/packs*
var/
coverage/

# Dev cruft
*.swp
*.swo
.sass-cache
yarn-error.log
.irb-history
.pry_history
.pryrc
byebug_history
.powrc
.env.*
untracked
.bundle
.github
.git/
tags
shape_files/*/*.zip
shape_files/*/*.xml
shape_files/*/*.shp
shape_files/*/*.prj
shape_files/*/*.dbf
shape_files/*/*.cpg
