language: ruby

before_script:
  - cp config/letsencrypt_plugin.yml.sample config/letsencrypt_plugin.yml
  - cp config/secrets.yml.sample config/secrets.yml
  - cp .rspec.travis .rspec

env:
  - RAILS_ENV=test DATABASE_ADAPTER=postgresql WAREHOUSE_DATABASE_ADAPTER=postgresql HEALTH_DATABASE_ADAPTER=postgresql DATABASE_APP_DB_TEST=boston_hmis_test WAREHOUSE_DATABASE_DB_TEST=warehouse_test HEALTH_DATABASE_DB_TEST=health_test DEFAULT_FROM=greenriver.testing@mailinator.com

script:
  - date
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake warehouse:db:create
  - bundle exec rake warehouse:db:migrate
  - bundle exec rspec
