%h1 Outcomes
.ho-container.rrh
  .ho-container__header.clearfix
    %h3.pull-left Overview
    #d3-outcome__legend.pull-right
  .row.rrh-row
    .col-xs-12.col-md-6
      = content_for :program_1_title
      .d3-chart#d3-outcome-1
    .col-xs-12.col-md-6
      = content_for :program_2_title
      .d3-chart#d3-outcome-2

  