%h2 Overview
.row
  .col-xs-12.col-md-6
    %h3= @charts.program_1_name
    %p.rrh__overview.callout
      = @charts.report.num_housed_1
      .sub_header
        participated in the reference program
    .d3-chart#d3-overview-1
  .col-xs-12.col-md-6
    %h3= @charts.program_2_name
    %p.rrh__overview.callout
      = @charts.report.num_housed_2
      .sub_header
        participated in the comparison program
    .d3-chart#d3-overview-2