.ho-container.rrh.jProgramMakeup
  .ho-container__header
    %h3 Program Makeup
  .rrh__exiting_pre-placement.chunk.pr-4.mr-4
    - content_for :panel_collapse_content, flush: true do
      .percentExitingPrePlacementChart
      %p.mb-4.text-center.description
        Percentage of clients exiting pre-placement to stabilization out of those who exited pre-placement.
    = render 'common/panel_collapse', id: 'percentExitingPrePlacementChart', title: 'Percentage Exiting Pre-Placement to Stabilization', default_open: 'yes'

    - content_for :panel_collapse_content, flush: true do
      .percentInStabilizationChart
      %p.mb-4.text-center.description
        Percentage of clients enrolled in stabilization out of those enrolled in either pre-placement or stabilization.
    = render 'common/panel_collapse', id: 'percentInStabilizationChart', title: 'Percentage of Participants Enrolled in Stabilization', default_open: 'yes'
    - content_for :panel_collapse_content, flush: true do
      .percentExitingStabilizationChart
      %p.mb-4.text-center.description
        Percentage of clients exiting stabilization to housing out of those who were enrolled in stabilization.
    = render 'common/panel_collapse', id: 'percentExitingStabilizationChart', title: 'Percentage Exiting Stabilization to Housing', default_open: 'yes'