.ho-container.rrh
  .ho-container__header 
    %h3 Returns to Shelter from Permanent Housing
  .description  
    %p Clients that returned to shelter some point after successfully exiting Rapid Rehousing to a permanent housing destination.
  .metric
    = debug @report.returns_to_shelter