%h4 Returns to Shelter from Permanent Housing
%p Clients that returned to shelter some point after successfully exiting Rapid Rehousing to a permanent housing destination.
.row
  .col-xs-12.col-md-6
    %p.rrh__retuns-to-shelter.callout
      = @charts.report.return_1
      .sub_header
        of those who exited to permanent housing from the reference program
    .d3-chart#d3-return-1
  .col-xs-12.col-md-6
    %p.rrh__retuns-to-shelter.callout
      = @charts.report.return_2
      .sub_header
        of those who exited to permanent housing from the comparison program
    .d3-chart#d3-return-2