.ho-container.rrh
  .ho-container__header
    %h3 Time in Program
  .rrh__time-in-pre-placement.chunk.pr-4.mr-4
    .row
      .col-sm-9
        %h4 Exited to Stabilization
        .jTimeInPrePlacementExitToStabilizationChart
        %h4 Did not Exit to Stabilization
        .jTimeInPrePlacementExitNoStabilizationChart
        %h4 Exited to Any Destination
        .jTimeInPrePlacementChart
      .col-sm-3.metric.text-center
        .title
          Average Time in Pre-Placment for the Reporting Period
        .metric
          = pluralize(@report.average_days_in_pre_placement, 'day')
    .row
      .col-sm-9
        %h4 Time in Stabilization
        .jTimeInStabilizationChart
      .col-sm-3.metric.text-center
        .title
          Average Time in Stabilization for the Reporting Period
        .metric
          = pluralize(@report.average_days_in_stabilization, 'day')