%h2 Time in Program
.row
  .col-xs-12.col-md-6
    %p.rrh__days-to-housing.callout
      = @charts.report.time_to_housing_1
      .sub_header
        on average in the reference program
    %p.rrh__time-in-program.callout
      = @charts.report.time_in_housing_1
      .sub_header
        on average in the reference program
  .col-xs-12.col-md-6
    %p.rrh__days-to-housing.callout
      = @charts.report.time_to_housing_2
      .sub_header
        on average in the comparison program
    %p.rrh__time-in-program.callout
      = @charts.report.time_in_housing_2
      .sub_header
        on average in the comparison program