- title = "Rapid Rehousing Dashboard"
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
.row
  .col-xs-6
    .ho-container.rrh
      %h4.ho-container__header Reference Program
      .form-group
        = select_tag :program_1, options_for_select(@programs_for_select), include_blank: 'All', class: 'form-control', id: 'program-1-filter', data: {path: program_data_warehouse_reports_rrh_index_path()}
  .col-xs-6
    .ho-container.rrh
      %h4.ho-container__header Comparison Program
      .form-group
        = select_tag :program_2, options_for_select(@programs_for_select), include_blank: 'All', class: 'form-control', id: 'program-2-filter', data: {path: program_data_warehouse_reports_rrh_index_path()}

#rrh-report__container
  Loading...
#d3-tooltip
- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var charts = new App.D3Chart.RRHCharts('#rrh-report__container','#program-1-filter', '#program-2-filter', {});
      charts.load();
    })
