= simple_form_for :report, url: warehouse_reports_tableau_dashboard_export_index_path do |f|
  - content_for :filters_col_l do
    .row
      .col-sm-6
        = f.input :coc_code, collection: GrdaWarehouse::Hud::ProjectCoc.distinct.pluck(:CoCCode), include_blank: "CoC Code (All)", required: false, label: false, input_html: { class: 'select2' }

  - content_for :filter_actions do
    = f.button :submit, value: 'Queue report'

  = render 'warehouse_reports/filters', f:f
