.well.section-expander-block.closed
  .row
    .col-md-8
      %h3.section-expander-block__header Team Goals
    .col-md-4
      .section-expander-block__expander-region
        .section-expander-block__metadata.text-small
          = link_to polymorphic_path(careplan_path_generator), class: 'section-expander-block__expander-arrow' do
            %i.icon-arrow-circled-right