- if allow_household_submit
  -# if present, this action is the default submit, which is why it's first
  .my-2.text-right
    %button(class="btn btn-secondary" type="submit" id="submitAndAddAnother") Submit and Add Next Household Member
  - content_for :page_js do
    :javascript
      'use strict';
      $(function() {
        // todo: pass the name of the hh size input
        window.addHouseholdSizeListener();
      });
.my-2.text-right
  %button(class="btn btn-primary" type="submit") Submit form