.dependent-form-group.fade-effect{id: html_id}= content

- content_for :page_js do
  :javascript
    'use strict';
    $(function() {
      var conditions= #{conditions.to_json.html_safe};
      var target = '#' + #{html_id.to_json.html_safe};
      window.addMultiDependentGroup(conditions, target);
    });
