.dependent-form-group.fade-effect{id: html_id}= content

- content_for :page_js do
  :javascript
    'use strict';
    $(function() {
      var inputName= #{input_name.to_json.html_safe};
      var inputValue = #{input_value.to_json.html_safe};
      var target = '#' + #{html_id.to_json.html_safe};
      window.addDependentGroup(inputName, inputValue, target);
    });
