-# household warning is hidden by default
%div{id: 'householdWarning', class: 'alert alert-info', style: 'display:none;'}
  %div.font-weight-bold.mb-2 Family Survey In Progress
  %p This form will add a new member to the current family profile. If you have finished adding all family members, click the button to start over.
  %button.btn.btn-sm.btn-primary.reload-button{ type: "button" }
    Exit Family Survey