%div{id: 'householdWarning', class: 'alert alert-info', style: 'display:none;'}
  %p
    %span.font-weight-bold= 'Warning:'
    You are adding a member to an existing household. If you are trying to add a new member that is NOT part of the previous household, click the below button to refresh.
  %button.btn.btn-sm.btn-primary.reload-button{ type: "button" }
    I'm finished with this household, reload page