%p
  The CSV import threshold was exceeded for #{@data_source.name}:

%p
  %strong #{@csv_file_name}:
  = @body_message

%p
  - if @import.present?
    = link_to 'View import', import_url(@import)
  - else
    Check the import log for this data source for details.
