The CSV import threshold was exceeded for #{@data_source.name}:

#{@csv_file_name}: #{@body_message}

- if @import.present?
  View import: #{import_url(@import)}
- else
  Check the import log for this data source for details.
