= content_for :crumbs do
  = link_to census_tracking_warehouse_reports_census_trackers_path(params: @filter.for_params) do
    = "« Census Tracker"
- title = [@project_name, @type, @key].compact.join(' - ')
- content_for :title, title
= content_for :modal_title, title