- note = Health::SdhCaseManagementNote

.row
  .col-sm-8
    = f.input :notes_from_encounter, input_html: {rows: 10}, label: 'Additional information'

.row
  .col-sm-8.j-file-upload
    = render 'fields_for_upload', f: f
    

