- content_for :page_js do
  :javascript
    
    var radioButtonsWithOtherChange = function(input) {
      var container = $(input).parents('.string-collection-with-other__container');
      var otherInput = container.find('.string-collection-with-other__input');
      var otherValue = otherInput.data('other-value');
      if($(input).is(':checked') && $(input).val() === otherValue) {
        otherInput.slideDown();
      } else {
        otherInput.find('input').val('');
        otherInput.slideUp();
      }
    }

    var addActivity = function(event) {
      event.preventDefault();
      var container = $('[data-behavior="activities"]');
      var activities = $('[data-behavior="activity"]');
      var template = $('[data-behavior="activity to copy"]')[0];
      var html = $(template).html().replace(/COPY/gi, activities.length);
      container.append("<h5 class='uppercase gray-light'>Qualifying Activity #"+(activities.length+1)+"</h5>");
      container.append("<div data-behavior='activity'>"+html+"</div>");
      return false
    }