%h1.mb-6 Community of Origins Report
.mb-8= render 'across_the_country_card', data: across_the_country_data
.mb-8= render 'top_ten_zip_codes_card', data: top_ten_zip_codes_data
    
= render 'across_the_country_card_js', data: across_the_country_data
.mb-8= render 'top_ten_zip_codes_card_js', data: top_ten_zip_codes_data