%ul.client__aliases.d-flex.list-unstyled.mb-0
  %li.client__client-name
    %span.ds-case
      CASE
    %span.client__client-name-title
      = @case.name
      = "(#{@case.aliases})" if @case.aliases.present?
  - if @case.client.present?
    = render 'clients/aliases'