- contacts = index_case.contacts.select{|c| m.first_name.starts_with?(@result.names.first) || m.last_name.starts_with?(@result.names.last) }
- if contacts.any?
  - content_for "client_card_contacts__#{index_case.id}" do
    .col-md-6.client__contacts.mb-2
      - contacts.each do |contact|
        .case_contact
          .no-wrap= contact.name