- contacts = index_case.matching_contacts(@searcher.names.first, @searcher.names.last)
-# contacts = index_case.contacts.select{|c| c.first_name.downcase.starts_with?(@searcher.names.first.downcase) || c.last_name.downcase.starts_with?(@searcher.names.last.downcase) }
- if contacts.any?
  - content_for "client_card_contacts__#{index_case.id}" do
    .col-md-6.client__contacts.mb-2
      - contacts.each do |contact|
        .case_contact
          .no-wrap
            = contact.name
            = "(#{contact.aliases})" if contact.aliases.present?