.clients__client-additional-names
  .client__client-name
    .client-aka
      %em.ds-case
        CASE
      = index_case.name
- if index_case.client.present?
  = render 'clients/search/aliases', client: index_case.client