- title = 'Edit Warehouse Alert'
- content_for :title, title
%h1= content_for :title
= render :partial => 'menus/admin_tabs'
.row
  .col-sm-8
    = render "form", alert: @alert
  .col-sm-4.text-right
    = link_to admin_warehouse_alert_path(@alert), class: 'btn btn-primary margin-bottom-02' do
      View


