body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body.show {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

body.not-signed-in .l-main__content {
  max-width: 100%;
  flex: 0 0 100%;
}
