- content_for :title, 'Youth Families Dashboard'
- @show_census = false
%h1= content_for :title
- if @html
  = render 'dashboards/tabs', active: 'unaccompanied_minors'
%p.text-muted
  Clients in families enrolled in homeless projects (ES, SH, SO, TH) where the head of household is between 18 and 24 years of age and the enrollment contains at least one client under 18.
