- content_for :title, _("Coordinated Entry Assessments")
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: client_coordinated_entry_assessments_path(client_id: @client)

= render 'list'