.auth-support-links
  - unless controller_name.in?(["sessions", "root"])
    = oauth2_sign_in_link text: "Sign in"
    %br/
  - unless resource_name == :hmis_user
    - if GrdaWarehouse::Config.get(:request_account_available)
      = link_to 'Request an account', new_users_account_request_path
