
@mixin checkbox-default($size: 30px, $round: false, $border-radius: 5px) {
  @if ($round == true) { $border-radius: 50%; }
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  transition: .15s ease-in-out;
  display: flex;
  align-items: center;
  min-height: rem($size);
  min-width: rem($size);
  &::before,
  &::after {
    position: absolute;
    height: rem($size);
    width: rem($size);
    left: 0;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before {
    content: '';
    display: block;
    background: $white;
    border: 2px solid $gray-040;
    transition: .15s ease-in-out;
    color: $gray-025;
    border-radius: $border-radius;
  }
  &::after {
    font-family: 'icons';
    content: get-icon-code('checkmark');
    color: $gray-020;
  }
  span {
    display: block;
    padding-left: calc(#{rem($size)} + #{space(2)});
  }
  span.c-checkbox__label {
    padding-left: space(2);
  }
}

@mixin checkbox-checked() {
  &::before {
    background: $brand-success-l;
    border-color: $brand-success;
  }
  &::after {
    color: darken($brand-success, 10%);
  }
  &:hover,
  &:focus {
    &::before {
      background: rgba($brand-success-l, .5);
      transform: scale(.95);
    }
    &::after {
      color: lighten(desaturate($brand-success, 35%), 10%);
      transform: scale(.95);
    }
  }
  &:active {
    outline: 0;
    box-shadow: none;
    &::before,
    &::after {
      transform: scale(.75);
    }
  }
}

@mixin checkbox-not-checked() {
  &:hover,
  &:focus {
    &::before {
      transform: scale(.95);
      background: rgba($brand-success-l, .5);
      border-color: $brand-success;
    }
    &::after {
      transform: scale(.95);
      color: lighten(desaturate($brand-success, 35%), 10%);
    }
  }
  &:active {
    outline: 0;
    box-shadow: none;
    &::before,
    &::after {
      transform: scale(.75);
    }
  }
}

@mixin checkbox-checked-dirty() {
  &::before {
    background: $brand-warning-l;
    border-color: $brand-warning;
  }
  &::after {
    color: darken($brand-warning, 10%);
  }
  &:hover,
  &:focus {
    &::before {
      background: rgba($brand-warning-l, .5);
    }
    &::after {
      color: lighten(desaturate($brand-warning, 35%), 10%);
    }
  }
}

@mixin checkbox-not-checked-dirty() {
  &::before {
    border: 2px solid $brand-warning;
  }
}
