@import '../../_settings/variables';
@import 'bootstrap/mixins';

@mixin card {
  background: $white;
  color: $text-color;
  border-radius:  $border-radius-default;
  border: 1px solid $gray-025;
}

@mixin card-content {
  @include card;
  padding: $card-padding;
  width: 100%;
  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@mixin internal_card_heading {
  border-top: $gray-020 1px solid;
  border-bottom: $gray-020 1px solid;
  background: $gray-015;
  color: $gray-080;
  margin-bottom: space(4);
  margin-top: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  font-size: rem(16px);
}

@mixin poppins {
  font-family: 'Poppins', sans-serif;
}
@mixin poppins-light {
  @include poppins;
  font-style: normal;
  font-weight: 300;
}
@mixin poppins-normal {
  @include poppins;
  font-style: normal;
  font-weight: 400;
}
@mixin poppins-medium {
  @include poppins;
  font-style: normal;
  font-weight: 500;
}
@mixin poppins-bold {
  @include poppins;
  font-style: normal;
  font-weight: 700;
}
@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}
@mixin montserrat-light {
  @include montserrat;
  font-style: normal;
  font-weight: 300;
}
@mixin montserrat-normal {
  @include montserrat;
  font-style: normal;
  font-weight: 400;
}
@mixin montserrat-medium {
  @include montserrat;
  font-style: normal;
  font-weight: 500;
}
@mixin montserrat-bold {
  @include montserrat;
  font-style: normal;
  font-weight: 700;
}
@mixin open-sans {
  font-family: 'Open Sans', sans-serif;
}
@mixin open-sans-normal {
  @include open-sans;
  font-style: normal;
  font-weight: 400;
}
@mixin open-sans-light {
  @include open-sans;
  font-style: normal;
  font-weight: 300;
}
@mixin open-sans-normal-italic {
  @include open-sans;
  font-style: italic;
  font-weight: 400;
}
@mixin open-sans-medium {
  @include open-sans;
  font-style: normal;
  font-weight: 600;
}
@mixin open-sans-bold {
  @include open-sans;
  font-style: normal;
  font-weight: 700;
}
@mixin open-sans-condensed {
  font-family: 'Open Sans Condensed', sans-serif;
}
@mixin open-sans-condensed-bold {
  @include open-sans-condensed;
  font-style: normal;
  font-weight: 700;
}
@mixin lora {
  font-family: 'Lora', serif;
}
@mixin lora-normal {
  @include lora;
  font-weight: 400;
}
@mixin lora-italic {
  @include lora;
  font-weight: 400;
  font-style: italic;
}

@mixin icon {
  font-family: 'icons';
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin no-transitions {
  transition: none;
  transition-property: none;
}
/* for bs2 to 3 compat, from vert menu so maybe not needed */
@mixin content-box-sizing {
  -webkit-box-sizing: content-box;
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}

// Truncates text and adds an ellipsis to represent overflow
@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

// Gradient position is optional. Position can be a degree (90deg). Mixin supports up to 10 color-stops.
// This mixin will output a fallback background-color: #first-color; declaration. A $fallback argument can be passed to change the fallback color.
// examples:
// @include linear-gradient(#1e5799, #2989d8);
// @include linear-gradient(to top, #8fdce5, #3dc3d1);
// @include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
// @include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
@mixin linear-gradient($pos, $g1, $g2: null,
                       $g3: null, $g4: null,
                       $g5: null, $g6: null,
                       $g7: null, $g8: null,
                       $g9: null, $g10: null,
                       $fallback: null) {
  // Detect what type of value exists in $pos
  $pos-type: type-of(nth($pos, 1));
  $pos-spec: null;
  $pos-degree: null;

  // If $pos is missing from mixin, reassign vars and add default position
  @if ($pos-type == color) or (nth($pos, 1) == "transparent")  {
    $g10: $g9; $g9: $g8; $g8: $g7; $g7: $g6; $g6: $g5;
    $g5: $g4; $g4: $g3; $g3: $g2; $g2: $g1; $g1: $pos;
    $pos: null;
  }

  @if $pos {
    $positions: _linear-positions-parser($pos);
    $pos-degree: nth($positions, 1);
    $pos-spec:   nth($positions, 2);
  }

  $full: $g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10;

  // Set $g1 as the default fallback color
  $fallback-color: nth($g1, 1);

  // If $fallback is a color use that color as the fallback color
  @if (type-of($fallback) == color) or ($fallback == "transparent") {
    $fallback-color: $fallback;
  }

  background-color: $fallback-color;
  background-image: -webkit-linear-gradient($pos-degree $full); // Safari 5.1+, Chrome
  background-image: unquote("linear-gradient(#{$pos-spec}#{$full})");
}

@mixin header-menu-link {
  color: $white;
  &:hover,
  &:focus {
    color: $gray-030;
  }
}

@mixin cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin scrollbar ($size: 10px) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $gray-020;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-050;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $gray-060;
  }
}

@mixin tag-pill {
  border-radius: 10px;
  padding: space(1) space(3);
  font-size: 0.7rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

// Copied from Bootstrap source:
// https://github.com/twbs/bootstrap/blob/master/scss/_forms.scss
@mixin form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}
