.well
  = simple_form_for @card, as: :card, url: service_scanning_scanner_ids_path do |f|
    = f.hidden_field :id, value: @client.id
    = f.input :scanned_id, label: 'Scan Card ID', hint: 'Scan the card into this box'
    = f.button :submit, value: 'Add Scan Card ID'