- if @pagy.present? && @pagy.count.positive?
  = render 'common/pagination_top', item_name: 'client'
  - @clients.each do |client|
    = render 'client_card', client: client
  = render 'common/pagination_bottom', item_name: 'client'
- elsif @pagy.present?
  .none-found No clients found.
