- content_for :modal_title, 'Attach a Scan Card'

%p Use this form to search for a client.  Once you find them, you can attach a scan card for future use.
= render 'search_form'
.mt-6
  = render 'search_results', form_options: { data: { submits_to_ajax_modal: request.xhr? }}