- content_for :modal_title, 'Attach a Scan Card'

%p Use this form to search for a client.  Once you find them, you can attach a scan card for future use.
= render 'search_form', tooltip: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results', data: {placement: 'bottom'}
.mt-6
  = render 'search_results'