.form-group.form-group-valid
  .mb-1.h5-prs1= control.label
  .d-flex
    .mr-2
      = f.input :start, as: :date_picker, label: 'Start date of period'
    %div
      = f.input :end, as: :date_picker, label: 'End date of period'
  %small.form-text The report period is limited to #{pluralize(GrdaWarehouse::Config.get(:filter_date_span_years), 'years')} and will automtically adjust the end date if you choose a larger time span.
