- if data
  - chart_class = "average-household-size-chart-#{population}"
  - active_date = data.keys.last
  - active_value = data[active_date]['data']
  %h2= data[active_date]['title']
  .jQuarterChosenDate
  .household-size-chart.jSliderDependentText.pt-2{ data: { active_date: active_date, numbers: data.to_json }, class: [chart_class, "active_date_#{active_date}"] }
    = active_value
