- chart_class = "pit-chart-#{population}"
.chart.chart-pit.pt-2{ class: chart_class }

:javascript
  var data = #{data.to_s.html_safe};
  var chart = bb.generate({
    data: {
      x: 'x',
      columns: data.data,
      type: 'line'
    },
    bindto: {
      element: ".#{chart_class}"
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: 'Q%q %Y'
        },
        padding: {
          right: 1000*60*60*24*60, // Two months padding to accomodate the tick label: milliseconds, seconds, minutes, hours, days
          left: 1000*60*60*24*60 // Two months padding to accomodate the tick label: milliseconds, seconds, minutes, hours, days
        }
      },
      y: {
        min: 0,
        padding: {
          bottom: 0,
          top: 20
        },
        tick: {
          culling: true,
          show: false,
          format: d3.format("~s")
        }
      }
    },
    grid: {
      x: {
        show: false
      },
      y: {
        show: false
      }
    },
    color: {
      pattern: #{@report.chart_color_pattern}
    },
    tooltip: {
      contents: function(d, defaultTitleFormat, defaultValueFormat, color) {
        var row = d[0];
        var tooltip_title = defaultTitleFormat(row.x);
        var change = data['change']
        var color = color(0);
        var box = "<td class='name'><svg><rect style='fill:" + color + "' width='10' height='10'></rect></svg>" + row.name + "</td>"
        var value = '<td>' + row.value + '</td>'
        html = '<table class="bb-tooltip"><head><tr><th colspan="2">' + tooltip_title + '</th></tr></thead><tbody>';
        html += '<tr class="bb-tooltip-name' + chart.internal.getTargetSelectorSuffix(row.id) + '">' + box + value + '</tr>';
        if(row.index > 0) {
          html += '<tr><td>' + change[0] + '</td><td>' + change[row.index] + '%</td></tr>';
        }
        html += '</tbody></table>';

        return html;
      }
    }
  });
