.m-4
  .data-list-wrapper
    %input.jQuarters#jQuarters{ type: :range, min: 0, max: data.count - 1, value: 0, step: 1, data: { dates: data, selected: data.first }, list: :quarters}
    .data-list-markers.d-flex
      - data.each_with_index do |date, index|
        - marker_class = if index.zero? then 'first' elsif index == data.count - 1 then 'last' else '' end
        .data-list-marker-wrapper
          .data-list-marker
            .data-list-marker-mark-wrapper
              .data-list-marker-mark{class: marker_class}
            .text-center.w-100
            = date
:javascript
  $('.jQuarters').on('change', function(e) {
    var index = $(this).val();
    var selected_date = $(this).data('dates')[index]
    $(this).data('selected', $(this).data('dates')[index]);
    var charts = $('body').data('publicCharts');
    if(charts == undefined) {
      return;
    }
    // update date display
    $('.jQuarterChosenDate').text(selected_date);
    // update all charts
    $.each(charts, function(i){
      var chart = charts[i].chart;
      var dates = charts[i].dates;
      chart.load({ columns: dates[selected_date]['data']});
    });
  });
  $('.jQuarters').trigger('change');
