- data = JSON.parse(@report.precalculated_data)
= debug data
-# .housed-total-count{class: data['change_direction']}= number_to_percentage(data['count'], precision: 0)
-# .housed-total-count-date-range= data['date_range']
-# .housed-total-count-comparison-date-range= data['comparison_range']
