- years = ((data[:config]||{})[:keys]||[]).map { |key| key.gsub(' Cohort', '')}
- series = data[:series] || []
- exited = (series.select { |s| s[:name] == 'exited'}.first || {})[:values] || []
- returned = (series.select { |s| s[:name] == 'returned'}.first || {})[:values] || []
- rate = (series.select { |s| s[:name] == 'rate'}.first||{})[:values] || []

%table.table{id: id}
  %thead
    %tr
      %th.text-right{width: '20%'} Cohort Year
      %th.text-center{width: '30%'} Exited
      %th.text-center{width: '30%'} Returned (Cumulative)
      %th.text-right{width: '20%'} Rate of Return
  %tbody
    - years.each_with_index do |year, i|
      %tr
        %td.text-right= year
        %td.text-center= exited[i]
        %td.text-center= returned[i]
        %td.text-right= rate[i]