- id = filter_id(tab[:id], name)
.form-group.mb-0
  %label{for: id}= label
  %select.form-control{name: "#{tab[:id]}_#{name}", id: id}
    - options.each do | option |
      %option{value: option}= option
