%ul.nav.nav-tabs{role: 'tablist'}
  - tabs.each_with_index do |tab, i|
    %li.nav-item
      - link_classes = ['nav-link']
      - if i == 0
        - link_classes.push('active')
      = link_to tab[:name], "##{tab[:id]}", class: link_classes, id: "#{tab[:id]}_tab", data: {toggle: 'tab'}, role: 'tab', aria: {controls: tab[:id]}
