- content_for :crumbs do
  = link_to all_neighbors_system_dashboard_warehouse_reports_reports_path do
    &laquo;
    = @report.title
- if can_publish_reports?
  = render 'common/publish'
= render 'show'

