:ruby
  tabs = [
    {name: 'Housing Placements'},
    {name: 'Time To Obtain Housing'},
    {name: 'Returns To Homelessness'},
    {name: 'Unhoused Population'}
  ].map{|tab| tab.merge({id: tab[:name].gsub(' ', '').underscore})}

%h1 REAL Time Rehousing Initiative Community Dashboard
.mb-7= render 'tabs', tabs: tabs
.tab-content
  - tabs.each_with_index do |tab, i|
    - pane_classes = ['tab-pane', 'fade', 'show', 'active']
    - if i == 0
      - pane_classes += ['js-first']
    %div{class: pane_classes, id: tab[:id], role: 'tabpanel', aria: {labelledby: "#{tab[:id]}_tab"}}
      = render tab[:id], tab: tab

