.ho-container
  = d3_container_header('patient', '', just_patient: true)
  .row
    .col-xs-12
      = d3_base_chart('d3-housing-status__chart', 'd3-housing-status__dates', 'Housing Status')
  .row
    .col-xs-12
      .ss-matrix__container
        .clearfix
          %h4 Self Sufficiency Scores
          .d3-ss__legend.pull-right.clearfix
        .d3-ss-matrix__chart

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var data = #{@client.health_housing_stati.to_json}
      hsChart = {
        margin: {top: 25, right: 45, bottom: 70, left: 150},
        selector: '.d3-housing-status__chart',
        data: data,
        type: 'hs',
        viewBoxSizing: true
      }
      var pc = new App.D3Chart.PatientCharts([hsChart])
      
      var ssData = #{@client.health_self_sufficiency_scores.to_json}
      var chart = new App.D3Chart.SelfSufficiencyScores('.d3-ss-matrix__chart', '.d3-ss__legend', {top: 20, right: 10, bottom: 20, left: 150}, ssData);
      chart.draw();
    })
