#appointments-list.jAppointments{data: {path: window_client_health_appointments_path()}}
#utilization-list.jUtilization{data: {path: window_client_health_utilization_index_path()}}
#problems-list.jProblems{data: {path: window_client_health_problems_path()}}
#medications-list.jMedications{data: {path: window_client_health_medications_path()}}