.jUtilization{data: {path: window_client_health_utilization_index_path()}}
.jAppointments{data: {path: window_client_health_appointments_path()}}
.jProblems{data: {path: window_client_health_problems_path()}}
.jMedications{data: {path: window_client_health_medications_path()}}