.patient__remaining_requirements.ml-4
  .patient__remaining_requirement
    - if patient.participation_forms.valid.exists?
      %span.icon-checkmark.o-color--positive.mr-1
    - else
      %span.icon-checkmark.mr-1.o-color--gray-l
    Participation Form
  .patient__remaining_requirement
    - if patient.release_forms.valid.exists?
      %span.icon-checkmark.o-color--positive.mr-1
    - else
      %span.icon-checkmark.mr-1.o-color--gray-l
    Release Form
  .patient__remaining_requirement
    - if patient.ssms?
      %span.icon-checkmark.o-color--positive.mr-1
    - else
      %span.icon-checkmark.mr-1.o-color--gray-l
    Self-Sufficiency Matrix
  .patient__remaining_requirement
    - if patient.comprehensive_health_assessments.reviewed.exists?
      %span.icon-checkmark.o-color--positive.mr-1
    - else
      %span.icon-checkmark.mr-1.o-color--gray-l
    Comprehensive Health Assessment
  .patient__remaining_careplan
    - if patient.careplans.locked.exists?
      %span.icon-checkmark.o-color--positive.mr-1
    - else
      %span.icon-checkmark.mr-1.o-color--gray-l
    PCTP Signed