.d-flex.align-items-center.mb-5.gray
  .pr-2
    %h3.gray Select Universe
  .ml-auto
    - total_url = polymorphic_path(@report.filter_path_array, *link_params.except(:action))
    %a.btn.btn-primary.btn-sm{href: total_url, data: { loads_in_pjax_modal: true }}
      Edit

- @report.control_sections.each do |section|
  - section_url = polymorphic_path(@report.filter_path_array, *(link_params.except(:action).merge(filter_section_id: section.id)))
  .sb-filter-section-prs1
    %h4.mb-2.gray= section.title
    - section.controls.each do |control|
      .mb-3
        %div
          %a.sb-link-prs1{class: (control.required ? 'sb-link-required-prs1' : nil), href: section_url, data: { loads_in_pjax_modal: true }}= control.label
        %div= render control.summary_partial_path, control: control
