- title = @report.title
- content_for :title, title

= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%h1.mb-5= title
.d-flex.mb-4
  %p The following items have been overridden from their HMIS values.
  .ml-auto
    = render 'report_downloads/report_download', export: nil, excel_download_path: override_summary_warehouse_reports_reports_path({format: :xlsx})

= render_paginated_list(pagy: @pagy, list: @data, item_name: 'override', list_partial: 'overrides')
