= f.input :veteran_statuses, collection: HUD.no_yes_reasons_for_missing_data_options.invert, required: false, input_html: { multiple: true, placeholder: 'Any Veteran Status' }, label: control.label, as: :select_two, placeholder: 'Any Veteran Status'
