:ruby
  items = [
    { link_to: { path: edit_admin_content_page_path(page) }, icon: :pencil, label: 'Edit' },
  ]
  items << { link_to: { path: admin_content_page_path(page), method: :delete, data: { confirm: "Delete '#{page.title}'?" } }, icon: :cross, label: 'Delete'}

= action_menu_or_button(items: items)
