%h3 Ethnicity Breakdowns
.card.mb-4
  %table.table
    %thead
      %tr
        %th Ethnicity
        %th Count
        %th Percentage
    %tbody
      - HUD.ethnicities.each do |id, title|
        %tr
          %th= title
          %td= number_with_delimiter(@report.ethnicity_count(id))
          %td= number_to_percentage(@report.ethnicity_percentage(id), precision: 2)
