- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
.row
  - reports.each_with_index do |report, index|
    %div{class: column_class}
      %h3 Gender Breakdowns
      .card.mb-4
        %table.table
          %thead
            %tr
              %th Gender
              %th Count
              %th Percentage
          %tbody
            - HUD.genders.each do |id, title|
              %tr
                %th= title
                %td= number_with_delimiter(report.gender_count(id))
                %td= number_to_percentage(report.gender_percentage(id), precision: 2)
