.card
  %table.table
    %thead
      %tr
        %th Unique Clients
        %th Heads of Household
        %th Households
        %th Average Adult Age

    %tbody
      %tr
        %td= @report.total_client_count
        %td= @report.hoh_count
        %td= @report.household_count
        %td= @report.average_adult_age
