= simple_form_for :filter, as: :filter, url: warehouse_reports_youth_follow_ups_path,  html: { method: :get, class: 'jFilter' } do |f|
  - content_for :filters_col_l do
    .row
      .col-sm-12
        = f.input :end, label: false, as: :date_picker, input_html: { value: @end_date }

  - content_for :filter_actions do
    = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f