- title = "Confidential Touch Point Exports"
- content_for :title, title
%h1= title
%p This report will pull all ETO TouchPoint responses for the selected touch point during the selected date range.  These are limited to TouchPoints at projects that have been marked confidential.

= render '/warehouse_reports/breadcrumbs', tab: 'health-reports'

.well
  .row
    .col-sm-12
      = render 'filter'