.ho-container.rrh
  .ho-container__header
    %h3 Overview
  .d-flex.text-center.justify-content-center.mt-4.mb-6
    .rrh__enrolled.chunk.pr-4.mr-4.mb-4
      %h4.title
        Enrolled Clients
      %i.icon-group.metric
      .metric
        - client_count = @report.stabilization_clients.distinct.select(:client_id).count
        = link_to_if @report.can_see_client_details?(current_user), pluralize(client_count, 'client'), clients_warehouse_reports_th_index_path(passed_params.merge(metric: :enrolled_in_stabilization)), data: { loads_in_pjax_modal: true }
      .description
        - if client_count != 1
          were enrolled in the
        - else
          was enrolled in the
        - if @filter.project_id.present?
          project
        - else
          projects
        during the reporting period.
        .project-name.text-small.mt-2
          %em= @report.project_names
    .rrh__entered-stabilization.chunk.pr-4.mr-4
      %h4.title
        Clients Entering
      %i.icon-enter.metric
      .metric
        - client_count = @report.entering_stabilization.distinct.select(:client_id).count
        = link_to_if @report.can_see_client_details?(current_user), pluralize(client_count, 'client'), clients_warehouse_reports_th_index_path(passed_params.merge(metric: :entering_stabilization)), data: { loads_in_pjax_modal: true }
      .description
        entered during the reporting period.
    .rrh__exited-stabilization.chunk.pl-4.ml-4
      %h4.title
        Clients Exited
      %i.icon-exit.metric
      .metric
        - client_count = @report.exiting_stabilization.distinct.select(:client_id).count
        = link_to_if @report.can_see_client_details?(current_user), pluralize(client_count, 'client'), clients_warehouse_reports_th_index_path(passed_params.merge(metric: :exiting_stabilization)), data: { loads_in_pjax_modal: true }
      .description
        exited during the reporting period.
