- content_for :title, 'Family Dashboard'
- @show_census = false
%h1= content_for :title
= render 'dashboards/tabs', active: 'family'
%p.text-muted
  Clients enrolled in homeless projects (ES, SH, SO, TH) where the enrollment is at a project with inventory for families.