- title = 'Healthcare Administration'
- content_for(:title, title)
%h1= title
= render 'menus/health_admin_tabs'
.clearfix
  .pull-left
    %h3 Add and Review Patient Assignments
    %p Patients added here can be claimed by agencies, subject to BHCHP approval.
  .pull-right.margin-top-02
    %button.btn.btn-secondary{type: 'button', data: {toggle: 'modal', target: '#new-patient-referral__modal'}} Add Patient
.row
  .col-sm-6
    = render 'search_form'
  - if show_filters?
    .col-sm-4
      = render 'admin/health/patient_referrals/filter'