- title = 'Healthcare Administration'
- content_for(:title, title)
.o-page
  .o-page__header
    %h1= title

  = render 'menus/health_admin_tabs'

  .o-page__main-content.mt-0
    .d-flex.align-items-center.mb-6.flex-wrap
      %div
        %h3 Add and Review Patient Assignments
        %p
          Please indicate patients who you have an existing care relationship with.
          BHCHP will use this information to assign patients to agencies.
        %p
          Note: Choosing 'Not Our Patient' is optional. It is offered as a way to clear your review list.
          Once BHCHP assigns patients to agencies, those patients will also no longer appear in your review list.
        - if @active_patient_referral_tab == 'review' &&  current_user.has_patient_referral_review_access?
          %p
            If a patient is assigned to an agency, and subsequently, the ACO or referral date is changed,
            the patient will be returned to the set of patients to be reviewed.
    .mb-6
      = render 'admin/health/patient_referrals/filter'
