- title = 'Healthcare Administration'
- content_for(:title, title)
.o-page
  .o-page__header
    %h1= title

  = render 'menus/health_admin_tabs'

  .o-page__main-content.mt-0
    .d-flex.align-items-center.mb-3
      %div
        %h3 Add and Review Patient Assignments
        %p Patients added here can be claimed by agencies, subject to BHCHP approval.
      - if current_user.can_administer_health?
        %button.btn.btn-secondary.ml-auto{type: 'button', data: {toggle: 'modal', target: '#new-patient-referral__modal'}} Add Patient
    = render 'admin/health/patient_referrals/filter'
