.tab-content.patient-referrals
  - @patient_referral_tabs.each do |tab|
    - tab_classes = []
    - if tab[:id] == @active_patient_referral_tab
      - tab_classes.push('active')
    .tab-pane{id: tab[:id], role: 'tabpanel', class: tab_classes}
      - if tab[:partial_path].present?
        = render tab[:partial_path], patient_referrals: (tab[:patient_referrals] || [])
      - else
        = render 'admin/health/patient_referrals/tab', patient_referrals: (tab[:patient_referrals] || [])
