- content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jRemoteSubmit').on('change', function(e){
        console.log(e);
        var form = $(e.currentTarget).closest('form');
        form.submit();
      });
    });