- content_for :title, 'Children Only Dashboard'
- @show_census = false
%h1= content_for :title
= render 'dashboards/tabs', active: 'children_only'
%p.text-muted
  Clients enrolled in homeless projects (ES, SH, SO, TH) where everyone in the enrollment is under 18.