
= f.error_notification

= f.association :user, collection: GrdaWarehouse::Contact::Project.available_users(@entity, include_current: include_current), label_method: :name_with_email, value_method: :id, include_blank: true, as: :select_two, required: true, selected: f.object.user_id
