- title = "My Agency's Assigned Clients"
- content_for :title, title

%h1.mb-5= content_for :title

- if @users.any?
  - @users.each do |user|
    %h3
      Clients for
      = user.name
    = render 'assigned/clients/client_table', clients: user.user_clients.joins(:client).merge(GrdaWarehouse::UserClient.active)
  = render 'application/js_link', base_path: 'clients/'
- else
  %p No assignments found.