- item = quarantine
.d-flex
  %dl
    %dt Agency
    %dd= item.agency&.name
- if can_edit_health_emergency_clinical?
  .d-flex
    = link_to destroy_isolation_client_he_clinical_path(client_id: @client.id, id: item.id), method: :delete, class: 'btn btn-danger ml-auto', data: { confirm: "Really delete this #{item.title}?"} do
      %i.icon-cross
      Delete