.row.flex-wrap
  .col-4
    = render 'performance_dashboards/active_filters/dates'
    = render 'performance_dashboards/active_filters/demographics'
  .col-4
    = render 'performance_dashboards/active_filters/projects_and_funding'
  .col-4
    = render 'performance_dashboards/active_filters/household'

