.row.flex-wrap
  .col-md-6.col-lg-4
    .mr-4
      = render 'performance_dashboards/active_filters/dates'

  .col-md-6.col-lg-4
    .mr-4
      = render 'performance_dashboards/active_filters/projects_and_funding'

  .col-md-6.col-lg-4
    = render 'performance_dashboards/active_filters/household'
    = render 'performance_dashboards/active_filters/demographics'
