:ruby
  data = {
    type: export.type,
    query_string: request.query_string
  }

%button.btn.btn-secondary.j-document-exports{type: 'button', data: data}
  Download PDF

= render 'document_exports/modal'
