- key = :enrolled
- detail_params = filter_params.merge(options: {key: key,breakdown: breakdown}.merge(options))
- comparison_params = detail_params.dup.to_h
- comparison_params[:filters] ||= {}
- comparison_params[:filters].merge!({ start_date: @comparison.start_date, end_date: @comparison.end_date })
- chart_class = "#{key}-#{breakdown.parameterize}-chart"

= render 'performance_dashboards/overview/breakdown/base',
  key: key,
  chart_class: chart_class,
  desc: 'Clients with an ongoing enrollment in a project matching the filters above during the period.',
  detail_params: detail_params,
  comparison_params: comparison_params,
  columns: columns,
  categories: categories,
  sub_keys: sub_keys
