:plain
  (function($) {
    var note = #{@note.to_json.html_safe};

    if(note.error != undefined) {
      alert(note.error);
    }
    else {
      var cohort_client_id = note.cohort_client_id;
      var $badge = $('[data-column=client_notes][data-cohort-client-id=' + cohort_client_id + ']');

      $badge.each(function(){
        var count = +$(this).text() - 1;
        $(this).text(count);
      });
      $(".modal").modal('hide');
      cohort = $('body').data('cohort');
      cohort.reload_client(cohort_client_id);
    }
  })(jQuery);