= render 'cohorts/breadcrumbs'

.row.mb-4
  .col-sm-12.pull-right.mb-2
    = link_to new_cohort_cohort_client_client_note_path(@cohort, @cohort_client), class: 'btn btn-secondary btn-sm', data: {loads_in_pjax_modal: true} do
      %i.icon-plus
      Add a note

- notes = @cohort_client.client.cohort_notes.order(updated_at: :desc).to_a
- if notes.present?
  - notes.each do |note|
    = render 'cohorts/common/note_card', note: note, url: cohort_cohort_client_client_note_path(@cohort, @cohort_client, note)
- else
  .none-found No notes found.

- content_for :modal_title do
  Notes for #{@cohort_client.client.full_name}
