.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.select2-selection.select2-selection--single,
.select2-container--bootstrap.select2-selection--single {
  @extend .form-control;
  box-shadow: none;
  border-color: $input-border-color;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: $brand-primary;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  @extend .form-control;
  min-height: rem(40px);
  margin: rem(5px);
  width: calc(100% - 10px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &,
  b {
    position: static;
    border-color: $brand-primary transparent transparent transparent;
  }
}

.select2--full-width {
  &,
  + .select2-container {
    width: 100% !important; // Override mis-computed inline width
  }
}

.select2--with-prepends {
  + .select2-container .select2-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1 1 auto;
    min-width: 300px;
  }
  + .select2-container {
    width: auto !important;
    flex: 1 1 auto;
  }
}
