- breakdown = 'By Veteran Status'

= render 'performance_dashboards/overview/by_veteran_status/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_veteran_status/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_veteran_status/exiting', breakdown: breakdown
