- breakdown = 'By Ethnicity'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_ethnicity/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_ethnicity/exiting', breakdown: breakdown
