- breakdown = 'By Veteran Status'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_veteran_status/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_veteran_status/exiting', breakdown: breakdown
