- breakdown = 'By Race'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_race/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_race/exiting', breakdown: breakdown
