- breakdown = 'By Gender'

= render 'performance_dashboards/overview/by_gender/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_gender/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_gender/exiting', breakdown: breakdown
