- breakdown = 'By Ethnicity'

= render 'performance_dashboards/overview/by_ethnicity/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_ethnicity/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_ethnicity/exiting', breakdown: breakdown
