- breakdown = 'By Age'

= render 'performance_dashboards/overview/by_age/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_age/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_age/exiting', breakdown: breakdown
