- breakdown = 'By Gender'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_gender/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_gender/exiting', breakdown: breakdown
