- breakdown = 'By Race'

= render 'performance_dashboards/overview/by_race/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_race/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_race/exiting', breakdown: breakdown
