- breakdown = 'By Household'

= render 'performance_dashboards/overview/by_household/entering', breakdown: breakdown
= render 'performance_dashboards/overview/by_household/enrolled', breakdown: breakdown
= render 'performance_dashboards/overview/by_household/exiting', breakdown: breakdown
