- breakdown = 'By Age'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_age/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_age/exiting', breakdown: breakdown
