- breakdown = 'By Household'
.row
  .col-sm-6
    = render 'performance_dashboards/overview/by_household/entering', breakdown: breakdown
  .col-sm-6
    = render 'performance_dashboards/overview/by_household/exiting', breakdown: breakdown
