:ruby
  options = @report.available_breakdowns.map do |id, title|
    title = title.gsub(/^By /, '')
    [title, id]
  end
  html_options = {
    id: 'j-disaggregation',
    class: 'form-control select optional select2 stimulus-select',
    'data-minimum-results-for-search': 10,
  }
.d-flex.align-items-center.disaggregation-picker-prs-1
  .d-flex.align-items-start.disaggregation-picker-prs-1__disaggregation
    %label.h4.mt-2.gray.mb-0.mr-3(for='j-disaggregation' style='flex-shrink: 0')
      Disaggregated By:
    .ml-0.mt-0
      = render 'inputs/select', field_name: :tab, label: false, options: options_for_select(options, breakdown), html_options: html_options
  #j-disaggregation-spinner.ml-2.mb-5.d-none
    .mr-2= render 'spinner'
    %div Loading&hellip;
  .ml-auto
    = render 'report_downloads/report_download', export: @pdf_export, excel_download_path: download_performance_dashboards_overview_index_path(filter_params)

- content_for :page_js do
  :javascript
    'use strict';
    $(function() {
      var $select = $('#j-disaggregation');
      $select.change(function() {
        var breakdown = $select.val();
        if (breakdown) {
          $select.prop('disabled', true)
          $('#j-disaggregation-spinner').removeClass('d-none').addClass('d-flex');
          var url = new URL(window.location.href);
          url.searchParams.set("breakdown", breakdown);
          window.location = url.href;
          history.pushState({}, breakdown, url.href);
        }
      });
    })
