.mb-1.font-weight-bold.gray
  Universe Selection:
%ul.list-inline
  - @report.control_sections.each do |section|
    -# - section_url = polymorphic_path(@report.filter_path_array, *(link_params.except(:action).merge(filter_section_id: section.id)))
    - section.controls.reject(&:report_period?).each do |control|
      - values = Array.wrap(control.value.presence).compact
      - values.each do |value|
        %li.list-inline-item.chip-v2-prs1
          %span.chip-v2-label-prs1= control.short_label
          %span.chip-v2-value-prs1= value
