- @title = "Patient Housing Status Changes"
%h2= @report.describe

= render 'warehouse_reports/health/housing_status_changes/housed_chart'
= render 'warehouse_reports/health/housing_status_changes/trend_chart'
= render 'warehouse_reports/health/housing_status_changes/table'
