.well.overflow-scroll
  .row
    .col-sm-3.text-center
      %br
      %p Bed Inventory
      %h3
        = pluralize(@report.report_project_group.bed_inventory, 'bed')
      %hr
      %p Average Daily / Nightly Clients

      %h3
        = pluralize(@report.report_project_group.average_nightly_clients, 'client')
      %hr
      %p Average Bed Utilization

      %h3
        #{@report.report_project_group.average_bed_utilization}%

    .col-sm-9
      %h3.text-center Nightly Client Census
      .bed-census-chart.jChart
        %p.jLoading Loading