:ruby
  reports = [@report]
  if @report.include_comparison?
    reports << @comparison
  end
- reports.each_with_index do |report, index|
  - if @report.include_comparison?
    %h4.d-flex
      .pb-4.mr-2.c-swatch__display{class: "c-swatch__display--chart-#{index}"}
      .title= report.filter.date_range_words
  .d-flex.flex-wrap
    .hero-prs1
      .d-flex.align-items-center
        .h1.hero-value-prs1.mr-3= number_with_delimiter report.total_client_count
        .hero-label-prs1.h5-prs1 Unique Clients
    .hero-prs1
      .d-flex.align-items-center
        .h1.hero-value-prs1.mr-3= number_with_delimiter report.hoh_count
        .hero-label-prs1.h5-prs1
          %i.icon-info{data: { toggle: :tooltip, title: 'Households are counted as the number of unique clients marked as Heads of Households.  This differs from HUDs definition of a household, which is counted as each distinct group of people presenting together for an enrollment.'}}
          Households
