- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
.row
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      %h3 Unsheltered and Active in Street Outreach
      %p Counts of clients who are enrolled in Street Outreach and have had at least one current living situation collected during the reporting period.
      .card.mb-4{class: comparison_class}
        %table.table
          %thead
            %tr
              %th Type
              %th Count
              %th Percentage
          %tbody
            - id = :client
            %tr
              %th Unsheltered and Active in Street Outreach
              %td= link_to_if @report.can_see_client_details?(current_user), number_with_delimiter(report.chronic_count(id)), polymorphic_path(@report.detail_path_array, report.filter.for_params.deep_merge(key: "chronic_#{id}", filters: { start: report.filter.start_date, end: report.filter.end_date })), target: :_blank
              %td= number_to_percentage(report.chronic_percentage(id), precision: 2)
