@import '../helpers';

.c-card {
  overflow: auto;
}
.c-card-overflow-inherit {
  overflow: inherit;
}

.c-card--block {
  display: block;
}

.c-card--flex {
  display: flex;
}

.c-card__header {
  padding: space(3) space(3) 0 space(3);
  flex: 1 1 auto;
}

.c-card__header--bordered {
  border-bottom: $gray-015 1px solid;
}

.c-card__header--external {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin-bottom: space(2);
  h1,
  h2,
  h3 {
    margin: 0;
    padding-right: space(4);
  }
  a,
  button {
    margin-left: auto;
  }
}

.c-card__content {
  @include card-content;
  &.highlight {
    animation: highlight 2s;
  }
}

.c-card__content-container {
  @include flex(1, 1, auto);
}

.c-card__content .form-control,
.c-card__content textarea,
.c-card__content input:not([type="submit"]),
.c-card__content .select2-selection {
  background-color: $body-bg;
}

.c-card__content--content-under {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.c-card__content--flush {
  padding: 0;
}

.c-card--flush {
  @include card;
  padding: 0;
  .table {
    margin-bottom: 0;
  }
  .table thead tr th,
  .table tbody tr td {
    &:first-of-type {
      padding-left: rem(15px);
    }
    &:last-of-type {
      padding-right: rem(15px);
    }
  }
}

.c-card--padded {
  padding: space(3);
}

.c-card--no-padding {
  padding: 0;
}

.c-card--linked {
  cursor: pointer;
  &:focus,
  &:hover {
    color: $text-color;
    box-shadow: 0 2px 8px rgba($black, .1);
  }
  &:active {
    background-color: $body-bg;
  }
}

.c-card__title {
  margin-bottom: space(3);
  font-size: 110%;
  font-weight: 800;
}

.c-card__description {
}

.c-card__content table {
  thead tr th:first-of-type,
  tbody tr td:first-of-type {
    padding-left: space(4);
  }
  thead tr th:last-of-type,
  tbody tr td:last-of-type {
    padding-right: space(4);
  }
}

.c-card__content .dataTable {
  margin: 0 !important;
}

.c-card__content .dataTables_wrapper {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  .row:last-of-type {
    padding-left: space(4);
    padding-right: space(4);
    margin-top: space(2);
    margin-bottom: space(2);
  }
}

.c-card__item {
  padding-bottom: space(6);
  &:first-of-type {
    margin-top: -16px;
    .c-card__item-header {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
      border-top: 0;
    }
  }
}

.c-card__internal-primary-action,
.c-card__item-header {
  @include internal-card-heading;
}

.c-card__item-header {
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
    padding-right: space(4);
  }
}

.c-card__internal-primary-action {
  margin-top: space(3);
  margin-bottom: -16px;
  border-bottom: 0;
  border-bottom-left-radius: $border-radius-default;
  border-bottom-right-radius: $border-radius-default;
}

// Align Well styles with card
.well {
  @include card-content;
  box-shadow: none;
  margin-bottom: space(6);
}

.c-card--row {
  &.children-visible {
    &,
    + table {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .c-card__content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.c-card__toggle {
  color: red;
  &.open { }
}

.c-card__detail-col {
  display: flex;
  margin-bottom: space(4);
  flex: 1 1 100%;
  &:first-child {
    margin-top: space(4);
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    &:first-child {
      margin-top: 0;
      max-width: 33%;
      flex: 1 1 33%;
    }
    padding-top: space(4);
    flex: 1 1 auto;
  }
}

.c-card__detail-col--reversed-mobile {
  flex-direction: column-reverse;
  @include media-breakpoint-up(lg) {
    flex-direction: column;
  }
}

.c-card__content .c-card__detail-col {
  &:last-child {
    padding-bottom: 0;
  }
}

.c-card__footer {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: $gray-015 1px solid;
  flex-wrap: wrap;
  padding: 0 space(4);
  .btn {
    display: block;
  }
}

.c-card__footer-content {
  padding: space(3) 0;
}

.c-card__footer-content--left {
  margin-right: space(4);
}

.c-card__footer-content--right {
  margin-left: auto;
}

.c-card__content-block {
  padding: space(4);
  h3 {
    font-size: 1.25rem;
  }
}

.c-card__content-block--full-bleed {
  padding: 0;
}

.c-card__content-block--danger {
  background-color: lighten($brand-danger-l, 10%);
  padding: space(4);
}

.card-content .row--internal,
.card-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.card-wrapper {
  display: flex;
  margin-bottom: space(2);
}

.c-card--internal {
  display: flex;
  flex: 1;
  .card-content {
    flex: 1;
    min-height: 100px;
    background: #f9f9f9;
  }
  .card-title {
    margin-top: 0;
    margin-bottom: space(3);
  }
}
$levels: (
  warning: $brand-warning,
  danger: $brand-danger,
  info: $brand-info,
);
@each $level, $color in $levels {
  .c-card--#{$level} {
    border-color: rgba($color, .35);
    .card-content {
      background: rgba($color, .2);
    }
  }
}
.c-card--form {
  .form-group {
    margin-bottom: 10px;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
}
