// https://tobiasahlin.com/spinkit/
// https://github.com/tobiasahlin/SpinKit

.c-loading {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.c-loading--lg {
  width: 60px;
  height: 60px;
}

.c-loading__dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: c-loading__dot 2.0s infinite ease-in-out both;
}

.c-loading__dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: c-loading__dot-before 2.0s infinite ease-in-out both;
}

.c-loading--dark .c-loading__dot:before {
  background-color: black;
}

.c-loading__dot:nth-child(1) { animation-delay: -1.1s; }
.c-loading__dot:nth-child(2) { animation-delay: -1.0s; }
.c-loading__dot:nth-child(3) { animation-delay: -0.9s; }
.c-loading__dot:nth-child(4) { animation-delay: -0.8s; }
.c-loading__dot:nth-child(5) { animation-delay: -0.7s; }
.c-loading__dot:nth-child(6) { animation-delay: -0.6s; }
.c-loading__dot:nth-child(1):before { animation-delay: -1.1s; }
.c-loading__dot:nth-child(2):before { animation-delay: -1.0s; }
.c-loading__dot:nth-child(3):before { animation-delay: -0.9s; }
.c-loading__dot:nth-child(4):before { animation-delay: -0.8s; }
.c-loading__dot:nth-child(5):before { animation-delay: -0.7s; }
.c-loading__dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes c-loading__dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes c-loading__dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}
