@import '../helpers';

.c-spinner {
  &::before {
    content: '';
    display: block;
    margin-right: space(2);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid $white;
    border-top-color: $brand-primary;
    animation: spinner .6s linear infinite;
  }
}

.c-spinner--lg {
   &::before {
    content: '';
    display: block;
    margin-right: space(2);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 12px solid $white;
    border-top-color: $brand-primary;
    animation: spinner .6s linear infinite;
  }
}

.c-spinner--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-10;
}

.c-spinner--gray {
  &::before {
    border: 3px solid $gray-020;
    border-top-color: $brand-primary;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
