@import '../helpers';

.c-bar-viz {
  display: flex;
  align-items: center;
}

.c-bar-viz__total {
  flex: 1 1 5%;
  max-width: 5%;
  font-weight: bold;
  margin-right: space(1);
  text-align: right;
}

.c-bar-viz__bars {
  flex: 1 1 95%;
  max-width: 95%;
}

.c-bar-viz__bar {
  min-height: 20px;
  margin-bottom: 3px;
}
