@import '../helpers';

.c-boolean-button {
  position: relative;
}

.c-boolean-button input ~ label{
  @include button($white);
  align-items: center;
  margin-right: space(2);
  border: 1px solid $brand-primary;
  max-height: 40px;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    border: 1px solid $brand-primary;
  }
}

.c-boolean-button input {
  position: absolute;
  left: -9999px;
}

.c-boolean-button input:checked,
.c-boolean-button input:not(:checked) {
}

.c-boolean-button input:checked ~ label,
.c-boolean-button input:not(:checked) ~ label {
}

.c-boolean-button input:not(:checked) ~ label {
}

.c-boolean-button input:checked ~ label {
  color: darken($brand-success, 10%);
  background: $brand-success-ll;
  border-color: $brand-success-l;
  box-shadow: 0 4px 15px -5px rgba(0,0,0,.2);
  font-weight: bold;
}

.c-boolean-button input:disabled:checked ~ label,
.c-boolean-button input.disabled:checked ~ label,
.c-boolean-button input.disabled:not(:checked) ~ label,
.c-boolean-button input:disabled:not(:checked) ~ label {
}

.c-boolean-button input:not(:checked):disabled ~ label,
.c-boolean-button input:not(:checked).disabled ~ label {
}

.c-boolean-button input:disabled:checked ~ label,
.c-boolean-button input.disabled:checked ~ label {
}
