@import '../helpers';

.c-filters {
  display: flex;
  flex-direction: column;
  margin-top: space(2);
  margin-bottom: space(8);
}

.c-filters.c-card {
  overflow-y: visible;
}

.c-filters__row,
.c-filters__group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: space(4);
}

.c-filters__group {
  flex: 1 1 50%;
  max-width: 50%;
}

// Fix for IE11
.c-filters__group > .row {
  flex: 1 1 auto;
  min-width: 100%;
}

.c-filters__group--w-100 {
  max-width: 100%;
  flex: 1 1 100%;
  margin-right: 0;
  margin-bottom: 0;
  display: block;
  &:empty {
    display: none;
    margin: 0;
  }
}

.c-filters__group .form-group {
  margin-bottom: space(4);
  margin-right: space(3);
  flex: 1 1 auto;
}

.c-filters__group--w-100 .form-group {
  margin-bottom: space(4);
  margin-right: 0;
}

.c-filters__group .input-group.datepicker {
  padding: 0;
}

.c-filters__group .select2-container {
  min-width: 200px;
}

.c-filters__group--justify {
  justify-content: space-between;
}

.c-filters__group--right {
  margin-left: auto;
  justify-content: flex-end;
}

.c-filters__group--right .form-group,
.c-filters__group--right .select2-container {
  margin-left: space(3);
  margin-right: 0;
}

.c-filters__actions input[type=submit],
.c-filters__actions a,
.c-filters__actions button {
  margin-right: space(3);
  margin-bottom: space(3);
}

.c-filters hr {
  margin-top: space(4);
  margin-bottom: space(4);
}
