@import '../helpers';

.c-filters {
  display: flex;
  flex-direction: column;
  margin-top: space(2);
  margin-bottom: space(8);
}

.c-filters__row,
.c-filters__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-filters__group {
  margin-right: space(6);
}

.c-filters__group--w-100 {
  width: 100%;
  flex: 1 1 100%;
  margin-right: 0;
  &:empty {
    display: none;
    margin: 0;
  }
}

.c-filters__group .form-group,
.c-filters__group .select2-container {
  margin-bottom: 0;
  margin-right: space(3);
}

.c-filters__group .select2-container {
  min-width: 200px;
}

.c-filters__group--justify {
  justify-content: space-between;
}

.c-filters__group--right {
  margin-left: auto;
  justify-content: flex-end;
}

.c-filters__group--right .form-group,
.c-filters__group--right .select2-container {
  margin-left: space(3);
  margin-right: 0;
}

.c-filters__actions input[type=submit],
.c-filters__actions a,
.c-filters__actions button {
  margin-right: space(3);
}

.c-filters hr {
  margin-top: space(6);
  margin-bottom: space(4);
}
