@import '../helpers';

.c-indicator {
  min-height: 75px;
  margin: 0 auto;
}
.c-indicator--constrained-width {
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
}
.c-indicator__title {
  font-size: rem(16px);
  font-weight: bold;
  margin-bottom: space(3);
}
.c-indicator__content {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
.c-indicator__passed {
  margin-left: auto;
  margin-right: space(2);
  span {
    font-size: rem(30px);
  }
  &.pass {
    color: $brand-success;
    fill: $brand-success;
  }
  &.fail {
    color: $brand-danger;
    fill: $brand-danger;
  }
}
.c-indicator__values {

}
.c-indicator__value {
  margin-right: space(2);
}
.c-indicator__value--primary {
  margin-right: space(6);
}
.c-indicator__change-icon {
  margin-left: space(2);
  margin-right: space(4);
  svg,
  .icon-svg svg {
    width: 2rem;
    height: 2rem;
  }
}
.c-indicator__value-number {
  font-size: rem(28px);
  font-weight: bold;
  line-height: 1;
}
.c-indicator__value-unit {
  font-weight: bold;
  font-size: rem(20px);
  line-height: 1;
}
.c-indicator__value--secondary {
  .c-indicator__value-number {
    font-size: rem(20px);
    font-weight: bold;
  }
  .c-indicator__value-unit {
    font-size: rem(16px);
  }
}
.c-indicator__label {
  font-size: rem(15px);
  line-height: 16px;
}
.indicator .system {
  align-items: left;
}
.indicator .project {
  align-items: right;
}
