%h4.mt-0 Household
- if @filter.hoh_only
  %dl
    %dt Clients Limited
    %dd Counting only Heads of Households
%dl
  %dt Household Type
  %dd= @filter.chosen_household_type
%dl
  %dt Ages
  - if @filter.chosen_age_ranges.blank?
    %dd.text-muted
      Any
  - else
    %dd
      = @filter.chosen_age_ranges
%dl
  %dt Veteran Statuses
  - if @filter.chosen_veteran_statuses.blank?
    %dd.text-muted
      Any
  - else
    %dd
      - @filter.chosen_veteran_statuses.each do |status|
        .status= status
%dl
  %dt Genders
  - if @filter.chosen_genders.blank?
    %dd.text-muted
      All
  - else
    %dd
      - @filter.chosen_genders.each do |gender|
        .gender= gender
