.deleted, [data-deleted] {
  text-decoration: line-through;
}
.margin-left-01 {
  margin-left: .5rem;
}
.margin-left-02 {
  margin-left: 1rem;
}
.margin-bottom-00 {
  margin-bottom: 0;
}
.margin-bottom-01 {
  margin-bottom: 6px;
}
.margin-bottom-02 {
  margin-bottom: 12px;
}
.margin-bottom-03 {
  margin-bottom: 18px;
}
.margin-bottom-04 {
  margin-bottom: 24px;
}
.margin-top-01 {
  margin-top: 6px;
}
.margin-top-02 {
  margin-top: 12px;
}
.margin-top-03 {
  margin-top: 18px;
}
.margin-top-04 {
  margin-top: 24px;
}
.padding-left-01 {
  padding-left: 6px;
}
.padding-left-02 {
  padding-left: 12px;
}
.padding-left-06 {
  padding-left: 36px;
}
.padding-top-02 {
  padding-top: 12px;
}
.padding-top-04 {
  padding-top: 24px;
}
[class^="icon-"], 
[class*=" icon-"] {
  vertical-align: middle;
}
.img-shadowed {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.display-block {
  display: block;
}
.nobr {
  white-space: nowrap;
}
.overflow-scroll
{
  overflow: scroll;
}
.attribution
{
  font-size: 0.8em;
  color: $gray-065;
}
.spinner {
  width: 1.5em;
  height: 1.5em;

  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $gray-065;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 4.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}