%table.table.table-sm
  %thead
    %tr
      %th Device Name
      %th Expires At
      %th
  %tbody
    - @user.two_factors_memorized_devices.active.each do |device|
      %tr
        %th= device.name
        %th= device.expires_at
        %th= link_to("Remove",  remove_device_account_two_factor_path(device_id: device.id), data: {confirm: "Deleting a device means you won't be able to bypass 2FA on the corresponding device in the future. Are you sure?"})