%table.table.table-sm
  %thead
    %tr
      %th Device Name
      %th Expires On
      %th
  %tbody
    - @user.two_factors_tokens.active.each do |token|
      %tr
        %th= token.name
        %th= Time.now + TwoFactorsToken.active_duration - (Time.now - token.created_at)
        %th= link_to("Remove",  remove_token_account_two_factor_path(token_id: token.id), data: {confirm: "Deleting a token means you won't be able to bypass 2FA on the corresponding device in the future. Are you sure?"})