#clinical-triage-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    = render "he/clients/#{health_emergency}/clinical_triage_form"

  = render 'common/panel_collapse', id: 'clinical-triage', title: 'Clinical Triage'