.d-flex.ml-auto.align-items-center.d-sm-none
  %span.mr-2.text-body Current Status:
  - if defined?(wrapper_classes)
    = pill_badge labels: labels, wrapper_classes: wrapper_classes
  - else
    = pill_badge labels: labels
