%button.btn.btn-default.save-progress{ type: 'button', style: 'visibility:hidden', data: { url: polymorphic_path(vispdat_path_generator, client_id: @client.id, id: @vispdat.id, format: :js)}} Save Progress
