.vispdat-type-warning
  - if @vispdat.family?
    = Translation.translate('This is a Family VI-SPDAT')
  - elsif @vispdat.youth?
    = Translation.translate('This is a Youth VI-SPDAT')
  - else
    = Translation.translate('This is an Individual VI-SPDAT')
