- content_for :title, "VISPDATs for #{@client.name}"
= render 'clients/breadcrumbs'

.row
  .col-sm-12
    = render 'clients/tab_navigation', current: client_vispdats_path(client_id: @client.id)

= render 'list'
