- content_for :title, "VISPDATs"
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: polymorphic_path(vispdats_path_generator, client_id: @client)

= render 'list'
