%section.row.health-care-plan__about-me.row
  .col-sm-10.col-lg-8
    - sized_textarea_html = {class: 'sized'}
    %h3 Strengths and Barriers
    = f.input :patient_health_problems, label: 'My Health Problems', as: :text, input_html: sized_textarea_html, disabled: @careplan.locked?
    = f.input :patient_strengths, label: 'My Strengths', as: :text, input_html: sized_textarea_html, disabled: @careplan.locked?, hint: '(including interests, preferences, and cultural considerations and available informal, caregiver, or social supports, peer supports)'
    = f.input :patient_barriers, label: 'My Barriers', as: :text, input_html: sized_textarea_html, disabled: @careplan.locked?