= render 'case_management_notes'
= render 'ssms'
= render 'chas'

= content_for :page_js do
  :javascript
    $('.datatable-ssm').DataTable({
      searching: false,
      ordering: false,
      pageLength: 20,
      lengthChange: false,
      pagingType: 'simple'
    })