%section.client__assessments.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2.section-expander-block__header Case Management Notes
    - if current_user.can_edit_patient_items_for_own_agency?
      = link_to polymorphic_path([:new] + sdh_case_management_note_path_generator), class: 'btn btn-secondary btn-sm ml-auto' do
        %i.icon-plus
        Add Case Note
  .c-card__content.c-card__content--flush
    = render 'sdh_case_management_notes'
