.no-data
  %h4 Note:
  %p
    There is no PCTP created yet.
    %strong A plan must be signed by #{@patient.engagement_date} for this patient. </br>
    To create one:
  %ol
    %li Click Create a Care Plan
    %li Review the Services page
