- title = "Person-Centered Treatment Plan for #{@patient.name}"

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  :css
    body,
    .l-print__header {
      box-sizing: border-box;
      background: none;
      margin: 0;
      padding: 0 0.18in;
      overflow: hidden;
    }
    .l-print__header {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .l-print__header h1 {
      font-size: 16px;
      font-family: sans-serif;
      margin-bottom: 0;
      color: #091F2F;
    }

  %body
    .l-print__header
      %h1= title
