- title = "Person-Centered Treatment Plan"

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  :css
    body,
    .l-print__header {
      box-sizing: border-box;
      background: none;
      margin: 0;
      padding: 0 0.18in;
      overflow: hidden;
    }
    .l-print__header {
      font-size: 12px;
      font-family: sans-serif;
      margin-top: 10px;
      margin-bottom: 0px;
      color: #091F2F;
    }
    .l-print__header__title {
      font-weight: 700;
      margin-bottom: 4px;
    }

  %body
    .l-print__header
      .l-print__header__title= title
      = @patient.name
