= inline_stylesheet_link_tag 'print'

- title = "Care Plan for #{@patient.name} as of #{Date.current}"
- content_for :title, title

.l-print.hide-blank-page
  =render 'health/careplans/pctp'

  = render 'health/careplans/pctp_signatures'
