.spinner
  .double-bounce1
  .double-bounce2

= content_for :page_js do
  :javascript
    (function($) {
      // Refresh page every 30 seconds since a delayed job should be running
      var timeoutPeriod = 30000
      setTimeout("location.reload(true);", timeoutPeriod);
    })(jQuery);