.well
  %p
    = link_to history_hud_reports_hopwa_capers_path do
      See the history of all report runs and download zip files
  %p
    = link_to new_hud_reports_hopwa_caper_path do
      Generate New HOPWA CAPER

= render 'hud_reports/all_questions_table'
