.row
  .col-md-8.col-xl-6
    %p.file-upload__download-warning
      = _('Files downloaded from this page may contain Personal Protected Information from a secured environment.  Once you download this file, you and your agency are responsible for maintaining all related Privacy, Security and Confidentiality protections.')
