.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th.text-center Select
        %th Preview
        %th Download
        %th Document
        - if can_manage_client_files?
          %th Visible in <br> Window
        %th
          Effective Date /
          %br
          Signed On
        - if consent
          %th.text-center Consent Type
          %th.text-center Consent Confirmed
        - else
          %th Expiration Date
        %th.text-center
      %tbody
        - files.each do |file|
          = render 'file_row', file: file, consent: consent
- if paginate
  - if consent
    - anchor = 'consent'
  - else
    - anchor = 'other'
  .o-pagination.o-pagination--centered.mt-5
    = paginate files, params: { anchor: anchor }
