.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th.text-center Select
        %th Preview
        %th Document
        %th Note
        - if can_manage_client_files?
          %th Visible in <br> Window
        %th Uploaded
        %th
          Effective Date /
          %br
          Signed On
        - if consent
          %th.text-center Consent Type
          %th.text-center Consent Confirmed
        %th.text-center
      %tbody
        - files.each do |file|
          = render 'file_row', file: file, consent: consent
- if paginate
  .o-pagination.o-pagination--centered.mt-5
    = paginate(files)
