- if GrdaWarehouse::Config.get(:healthcare_available) && current_user.has_some_patient_access?
  .alert.alert--flex.alert-danger
    %i.alert__icon.icon-warning
    %p The files listed on this page relate to a client's Homeless data, and should not include any healthcare or patient data.