- title = "File Uploads"
- content_for :title, title
= render 'window/clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_files_path(@client)
= render 'window/clients/files/index'