- html_options ||= {}
.form-group.select_two{ class: field_name, data: { controller: 'stimulus-select'}}
  .select2__label-wrapper
    - if label
      %label= label
    .select2-select-all
  .d-flex.flex-row.justify-content-between.align-items-center
    = select_tag(field_name, options, {class: 'stimulus-select', data: { 'stimulus-select-target' => 'element' }}.deep_merge(html_options))
