- title = 'Healthcare Administration'
- content_for(:title, title)
%h1= title
%p Use the following links to manage who is included in the healthcare window and who has access to see and update health related items within the window.
= render 'menus/health_admin_tabs'

