- @relationships.each do |agency, relationships|
  .row
    .col-sm-12
      %h4= agency.name
      - relationships.each do |r|
        - @display_claim_buttons_for = [agency]
        .row{class: "j-pr-#{r.patient_referral.id}"}
          .col-sm-12
            = render 'admin/health/patient_referrals/patient_referral', pr: r.patient_referral
