- required_documents = GrdaWarehouse::AvailableFileTag.document_ready
- if required_documents.any?
  .d-flex.mb-2.align-items-center
    %h3.mb-0.mt-0.mr-4 Document Readiness
    = link_to polymorphic_path(files_path_generator, client_id: @client.id), class: 'btn btn-default align-self-center' do
      View File Uploads
  .c-card.c-card--block.c-card--flush
    %table.table.table-condensed
      %thead
        %tr
          %th File
          %th Uploaded
      %tbody
        - @client.document_readiness(required_documents).each do |file|
          %tr
            %td
              = file.name
            %td
              - if file.available
                = checkmark('Y')
                = file.updated_at&.to_date
