- show_health = can_edit_client_health? && @client.patient.present?
:ruby
  tabs = {
    polymorphic_path(client_path_generator, id: @client.id) => {
      title: 'Basic Info & Programs',
      permission: true,
    },
    polymorphic_path(health_path_generator + [:patient, :index]) => {
      title: 'Health',
      permission: show_health,
    },
    polymorphic_path(careplan_path_generator) => {
      title: 'Care Plan',
      permission: show_health
    }
  }

- # For now, we only need tabs if we can see the health information
- if show_health
  %ul.nav.nav-tabs.margin-bottom-01
    - tabs.each do |action, details|
      - if action == current
        - if details[:permission]
          %li.active.active-tab{role: 'presentation'}
            %a{href: '#'} 
              = details[:title]
      - else
        - if details[:permission]
          %li= link_to details[:title], action
