:ruby
  tabs = {
    window_client_path(@client) => {title: 'Basic Info & Programs', controller: 'window/clients', action: 'show', permission: true},
    window_client_health_index_path(@client) => {title: 'Health',  controller: 'window/health', action: 'index', permission: @client.signed_consent_form_fully?},
    window_client_youth_index_path(@client) => {title: 'Youth Details',  controller: 'window/youth', action: 'index', permission: @client.signed_consent_form_fully?},
  }
%ul.nav.nav-tabs
  - tabs.each do |action, details|
    - if params[:controller] == details[:controller] && params[:action] == details[:action]
      - if details[:permission]
        %li.active.active-tab{role: 'presentation'}
          %a{href: '#'} 
            = details[:title]
    - else
      - if details[:permission]
        %li= link_to details[:title], action
