.ho-chart__container#d3-drilldown
  .ho-chart__header
    .row
      .col-xs-12
        %h3 
          Drilldown: Emergency and Inpatient
  .ho-chart__content
    .row
      .ho-chart__section.col-xs-12
        %h4 ED Visit Severity 
        %small(NYU Alogithm)
        .d3-drilldown__chart#drilldown__severity
          TODO
      .ho-chart__section.col-xs-12
        .d3-top__chart#top-ip-condition{data: {types: {all: '/api/health/claims/top_ip_conditions'}}}
          %h4 Top Inpatient Conditions: All Participants

- content_for :page_js do
  :javascript
    $(document).ready(function() {

      var all = $('#top-ip-condition').data('types-all')
      $.get(all, function(data) {
        var chart = new App.D3Chart.OneBar('#top-ip-condition', data, 'description', 'of IP cost', 'all')
        chart.draw()
      })

      
    })