.ho-chart__container
  .ho-chart__header
    .row
      .col-xs-12
        %h3 
          Top Providers and Clinical Conditions
          %br
          %small
            (all claims & medical/BH claims only)
  .ho-chart__content
    .row
      .ho-chart__section.col-xs-12.col-md-6
        .d3-top__chart#top-providers{data: {url: '/api/health/claims/top_providers', yattr: 'provider_name', ylabel: 'of Total Cost', maintype: 'all'}}
          %h4 Top Providers: All Participants
      .ho-chart__section.col-xs-12.col-md-6
        .d3-top__chart#top-conditions{data: {url: '/api/health/claims/top_conditions', yattr: 'description', ylabel: 'of med/BH cost', maintype: 'all'}}
          %h4 Top Conditions: All Participants

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var ids = ['#top-providers', '#top-conditions']
      var topBars = new App.D3Chart.TopBarCharts(ids)
      topBars.draw()
    })

