- just_patient = data_type == 'patient'
- text = data_type == 'all' ? 'All Participants' : @patient.name
.ho-container#d3-claims
  = d3_container_header(data_type, text, just_patient: just_patient)
  .row
    .col-xs-12
      %h4 
        Trends Over Time
        %small.d3-claims__dates
  .row  
    .col-xs-12.col-md-6
      .ho-chart__title Amount Paid by Location and Month
      = d3_trend_chart('amount_paid', data_type)
    .col-xs-12.col-md-6
      .ho-chart__title Claims Volume by Location and Month
      = d3_trend_chart('claims_volume', data_type)
  .row
    .col-xs-12
      .ho-hints.d3-claims__legend

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var claimsCharts = new App.D3Chart.Claims('d3-claims')
      claimsCharts.draw()
    })