.well.overflow-scroll
	.row
		.col-sm-4
			%h4.title Bed Inventory
			%hr
			%h3 38 beds
			%p
			%h4.title Average Daily Clients
			%hr
			%h3 30.2 beds
			%p
			%h4.title Average Bed Utilization
			%hr
			%h3 100 %

		.col-sm-8
			%h3 Nightly Bed Census
			.bed-census-chart.jChart
				%p.jLoading Loading