.well.overflow-scroll
  .row
    .col-sm-3
      %h4.title
        Enrolled Clients
      %hr
      %h3 15 clients
      %p were enrolled in the project during the reporting period.
    .col-sm-3
      %h4.title
        Active Clients
      %hr
      %h3 35 clients
      %p were active in the project during the reporting period.
    .col-sm-3
      %h4.title
        Enterers
      %hr
      %h3 10 clients
      %p entered the project during the reporting period.
    .col-sm-3
      %h4.title
        Exiters
      %hr
      %h3 0 clients
      %p exited the project during the reporting period.