.well.overflow-scroll
  %h3 Project Descriptor Completeness
  .row
    .col-sm-1
      %h4.title
        Bed Inventory
      %hr
      %p 38 beds
    .col-sm-1
      %h4.title
        CoC Code
      %hr
      %p KY-500
    .col-sm-1
      %h4.title
        Funder
      %hr
      %p NA
    .col-sm-1
      %h4.title
        Geocode
      %hr
      %p 250282
    .col-sm-1
      %h4.title
        Geography Type
      %hr
      %p Urban
    .col-sm-1
      %h4.title
        Housing Type
      %hr
      %p Site-based – single site
    .col-sm-1
      %h4.title
        Information Date
      %hr
      %p Oct 17, 2017
    .col-sm-1
      %h4.title
        Operating Start Date
      %hr
      %p NA
    .col-sm-1
      %h4.title
        Project Type
      %hr
      %p Emergency Shelter
    .col-sm-1
      %h4.title
        Unit Inventory
      %hr
      %p 15 units

