.well.overflow-scroll
	.row
		.col-sm-6
			%h3 Time to Enter
			.time-to-enter-chart.jChart
				%p.jLoading Loading
		.col-sm-6
			%h3 Time to Exit
			.time-to-exit-chart.jChart
				%p.jLoading Loading