.well.overflow-scroll
	.row
		.col-sm-6
			%h3 Time to Enter
			.col-sm-6
				%h4.title Goal
				%hr
				%h3 14 days or less
			.col-sm-6
				%h4.title This Program
				%hr
				%h3
					= "#{@report.report['average_timeliness_of_entry']['Average']} days"
			.time-to-enter-chart.jChart
				%p.jLoading Loading
		.col-sm-6
			%h3 Time to Exit
			.col-sm-6
				%h4.title Goal
				%hr
				%h3 14 days or less
			.col-sm-6
				%h4.title This Program
				%hr
				%h3
					= "#{@report.report['average_timeliness_of_exit']['Average']} days"
			.time-to-exit-chart.jChart
				%p.jLoading Loading