.row
	.col-sm-4
		%h3 Time in Program
		%h4.title Average Time in Program
		%hr
		%h3 7 days
		%h4.title Percent in Program Over One Year
		%hr
		%h3 10%
	.col-sm-8
		.time-in-program-chart.jChart
			%p.jLoading Loading