.well.overflow-scroll
	.row
		.col-sm-4
			%h4.title Unit Inventory
			%hr
			%h3 15 units
			%p
			%h4.title Average Daily Households
			%hr
			%h3 0 units
			%p
			%h4.title Average Unit Utilization
			%hr
			%h3 0 %

		.col-sm-8
			%h3 Nightly Unit Census
			.unit-census-chart.jChart
				%p.jLoading Loading