%h2 Patient MassHealth Eligibility

In a recent MassHealth eligibility check, the following patients were marked as not having managed care coverage:

%ul
  - @patients.each do |patient|
    %li= link_to nil, window_client_health_patient_index_url(patient)