:root {
  --bs-primary: #0065a6;
  --bs-primary-rgb: 0, 101, 166;
  --brand-primary-d: #004d7e;
  --theme-background: #0F1C29;
  --theme-background-rgb: 15, 28, 41;
}

footer {
  background-color: white;
  box-shadow: none;
  color: rgb(28, 26, 27);
}

footer .seal-image {
  max-width: 400px;
}

.o-header--page__title a {
  color: rgb(28, 26, 27);
}
