$brand-primary: #0A406B;
$brand-primary-l: #9BB8CF;
$brand-primary-ll: #E7EEF4;

$brand-success: #006E47;
$brand-success-l: #BFD9C9;
$brand-success-ll: #D6E7DD;

$brand-warning: #FCB125;
$brand-warning-l: #FBE28D;

$brand-danger: #CD0D0D;
$brand-danger-d: #680A1D;
$brand-danger-l: #FFD1CC;

$cob-sg-freedom-trail-red: #CD0D0D;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: $brand-primary-l;

$cob-sg-blue-002: darken($brand-primary, 10%);

$footer-background: white;
$footer-foreground: #222;
