:root {
  --bs-primary: #002664;
  --bs-primary-rgb: 0, 38, 100;
  --brand-primary-l: #73B7D3;
  --brand-primary-ll: #BFE2FF;
  --bs-success: #00A3E0;
  --bs-success-rgb: 0, 163, 224;
  --brand-success-l: #00b2f7;
  --brand-success-ll: #1ac0ff;
  --bs-warning: #fed700;
  --bs-warning-rgb: 254, 215, 0;
  --brand-warning-l: #fee34d;
  --bs-danger: #c82a52;
  --bs-danger-rgb: 200, 42, 82;
  --brand-danger-d: #bb133e;
  --brand-danger-l: #e04f76;
  --theme-background: #002664;
  --theme-background-rgb: 0, 38, 100;
}
