/* FIXME */
:root {
  /* Primary: #002664 */
  --bs-primary-hue: 225;
  --bs-primary-saturation: 100%;
  --bs-primary-lightness: 20%;

  /* Success: #00A3E0 */
  --bs-success-hue: 197;
  --bs-success-saturation: 100%;
  --bs-success-lightness: 44%;

  /* Warning: #fed700 */
  --bs-warning-hue: 51;
  --bs-warning-saturation: 100%;
  --bs-warning-lightness: 50%;

  /* Danger: #c82a52 */
  --bs-danger-hue: 337;
  --bs-danger-saturation: 65%;
  --bs-danger-lightness: 47%;

  /* Theme Background: #002664 */
  --theme-background-hue: 225;
  --theme-background-saturation: 100%;
  --theme-background-lightness: 20%;

  /* Custom overrides */
  --brand-primary-lll: #73B7D3;
  --brand-primary-llll: #BFE2FF;
  --brand-success-lll: #1ac0ff;
  --brand-warning-lll: #fee34d;
  --brand-danger-lll: #e04f76;
}
