$brand-primary: #14558f;
$brand-primary-l: #8AAAC7;
$brand-primary-ll: #E7EEF4;

$brand-success: #388557;
$brand-success-l: #97C2A9;
$brand-success-ll: #D6E7DD;

$brand-warning: #F6C51B;
$brand-warning-l: #FBE28D;

$brand-danger: #CD0D0D;
$brand-danger-d: #680A1D;
$brand-danger-l: #AD7E88;

$cob-sg-freedom-trail-red: #CD0D0D;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: #8AAAC7;

$cob-sg-blue-002: darken($brand-primary, 10%);

