:root {
  --bs-primary: #387E92;
  --bs-primary-rgb: 56, 126, 146;
  --bs-success: #529452;
  --bs-success-rgb: 82, 148, 82;
  --bs-warning: #94713B;
  --bs-warning-rgb: 148, 113, 59;
  --bs-danger: #943A43;
  --bs-danger-rgb: 148, 58, 67;
  --theme-background-rgb: 27, 50, 93;
}
