$brand-primary: #4F2C1D;
$brand-primary-l: #d39f89;
$brand-primary-ll: #e9cfc4;

$brand-success: #66CDAA;
$brand-success-l: #c1ebdd;
$brand-success-ll: #e0f5ee;

$brand-warning: #EAAA00;
$brand-warning-l: #ffefc7;

$brand-danger: #D22630;
$brand-danger-d: #4b1c11;
$brand-danger-l: #eea6aa;

$cob-sg-freedom-trail-red: #7c2529;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: #BCDFE9;

$cob-sg-blue-002: darken($brand-primary, 10%);

$footer-background: white;
$footer-foreground: #005583;
