:root {
  --bs-primary: #4F2C1D;
  --bs-primary-rgb: 79, 44, 29;
  --brand-primary-l: #d39f89;
  --brand-primary-ll: #e9cfc4;
  --bs-success: #66CDAA;
  --bs-success-rgb: 102, 205, 170;
  --brand-success-l: #c1ebdd;
  --brand-success-ll: #e0f5ee;
  --bs-warning: #EAAA00;
  --bs-warning-rgb: 234, 170, 0;
  --brand-warning-l: #ffefc7;
  --bs-danger: #D22630;
  --bs-danger-rgb: 210, 38, 48;
  --brand-danger-l: #eea6aa;
  --brand-danger-d: #4b1c11;
  --theme-background: #4F2C1D;
  --theme-background-rgb: 79, 44, 29;
}

footer {
  background-color: #FFFAEB;
  box-shadow: none;
  color: rgb(28, 26, 27);
}
