:root {
  --bs-primary: #14558f;
  --bs-primary-rgb: 20, 85, 143;
  --brand-primary-l: #8AAAC7;
  --brand-primary-ll: #E7EEF4;
  --brand-primary-d: #0d375e;
  --bs-success: #388557;
  --bs-success-rgb: 56, 133, 87;
  --brand-success-l: #97C2A9;
  --brand-success-ll: #D6E7DD;
  --bs-warning: #F6C51B;
  --bs-warning-rgb: 246, 197, 27;
  --brand-warning-l: #FBE28D;
  --bs-danger: #CD0D0D;
  --bs-danger-rgb: 205, 13, 13;
  --brand-danger-l: #AD7E88;
  --brand-danger-d: #680A1D;
  --theme-background: #14558f;
  --theme-background-rgb: 20, 85, 143;
}
