$brand-primary: #3e4e71;
$brand-primary-l: #ADB8D1;
$brand-primary-ll: #e5e8f1;

$brand-success: #4e713e;
$brand-success-l: #91b97f;
$brand-success-ll: #e8f1e5;

$brand-warning: #BB8E2B;
$brand-warning-l: #f7eedb;

$brand-danger: #bb462b;
$brand-danger-d: #4b1c11;
$brand-danger-l: #f7e0db;

$cob-sg-freedom-trail-red: #de3008;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: #91b97f;

$cob-sg-blue-002: darken($brand-primary, 10%);

$footer-background: white;
$footer-foreground: #222;
