:root {
  --bs-primary: #00407F;
  --bs-primary-rgb: 0, 64, 127;
  --brand-primary-l: #9BB8CF;
  --brand-primary-ll: #E7EEF4;
  --brand-primary-d: #002952;
  --bs-success: #50A191;
  --bs-success-rgb: 80, 161, 145;
  --brand-success-l: #BFD9C9;
  --brand-success-ll: #D6E7DD;
  --bs-warning: #FAD672;
  --bs-warning-rgb: 250, 214, 114;
  --brand-warning-l: #FBE28D;
  --bs-danger: #F3696E;
  --bs-danger-rgb: 243, 105, 110;
  --brand-danger-d: #680A1D;
  --theme-background: #00407F;
  --theme-background-rgb: 0, 64, 127;
}

footer {
  background-color: white;
  box-shadow: none;
  color: rgb(28, 26, 27);
}

footer .seal-image {
  max-width: 400px;
}

.o-header--page__title a {
  color: rgb(28, 26, 27);
}
