$brand-primary: #00407F;
$brand-primary-l: #9BB8CF;
$brand-primary-ll: #E7EEF4;

$brand-success: #50A191;
$brand-success-l: #97C2A9;
$brand-success-ll: #D6E7DD;

$brand-warning: #FAD672;
$brand-warning-l: #FBE28D;

$brand-danger: #F3696E;
$brand-danger-d: #680A1D;
$brand-danger-l: #FFD1CC;

$cob-sg-freedom-trail-red: #F3696E;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: #8AAAC7;

$cob-sg-blue-002: darken($brand-primary, 10%);

$footer-background: white;
$footer-foreground: #222;
