:root {
  /* Overrides from nc.scss */
  --bs-primary: #1B325D;
  --bs-primary-rgb: 27, 50, 93;
  --brand-primary-l: #8AAAC7;
  --brand-primary-ll: #E7EEF4;
  --bs-success: #388557;
  --bs-success-rgb: 56, 133, 87;
  --brand-success-l: #97C2A9;
  --brand-success-ll: #D6E7DD;
  --bs-warning: #F6C51B;
  --bs-warning-rgb: 246, 197, 27;
  --brand-warning-l: #FBE28D;
  --bs-danger: #CD0D0D;
  --bs-danger-rgb: 205, 13, 13;
  --brand-danger-d: #680A1D;
  --brand-danger-l: #AD7E88;
  --cob-sg-charles-blue: #1B325D;
  --cob-sg-charles-blue-rgb: 27, 50, 93;

  /* Defaults from application.html.haml */
  --brand-primary-d: #3b6576;
  --brand-success-d: #68c27f;
  --brand-warning-d: #e5b17e;
  --bs-info: #d8e7ea;
  --bs-info-rgb: 216, 231, 234;
  --cob-sg-charles-blue-lighter: #1b3a57;
  --brand-primary-ll-rgb: 216, 231, 234;
  --cas-blue-007-darker: #7c91ac;
  --cob-sg-charles-blue-darker-2: #05141f;
  --cob-sg-blue-006-darker: #0c56a8;
  --cob-sg-blue-006-darker-2: #05141f;
  --cob-sg-charles-blue-darker: #0f1c29;
  --brand-primary-l-darker: #a1c3d1;
  --brand-primary-l-darkest: #8fb4c6;
  --brand-primary-l-desaturated: #e1e2e3;
  --bs-primary-desaturated: #c6cdd0;
  --brand-success-l-darkest: #8ddbb1;
  --brand-success-l-desaturated: #e1e2e3;
  --bs-success-desaturated: #c6cdd0;
  --brand-warning-l-darkest: #f8b87a;
  --brand-warning-l-desaturated: #e1e2e3;
  --bs-warning-desaturated: #c6cdd0;
  --brand-danger-l-darkest: #f8b87a;
  --brand-danger-l-desaturated: #e1e2e3;
  --bs-danger-desaturated: #c6cdd0;
  --bs-pagination-active-bg: var(--brand-primary-d);
  --bs-pagination-active-border-color: var(--brand-primary-d);
  --nav-tab-active-border-color: var(--brand-primary-d);
}

body>header,
.o-header--page {
  background-color: #1B325D;
}

footer {
  background-color: #1B325D;
  box-shadow: none;
}

.o-header--page__title a {
  color: rgb(28, 26, 27);
}

.o-menu {
  background-color: #1B325D;
  border-top: 2px solid #1B325D;
  border-bottom: 2px solid #1B325D;
}

.site-menu {
  background-color: #1B325D;
}
