:root {
  --bs-primary: #003D79;
  --bs-primary-rgb: 0, 61, 121;
  --brand-primary-l: #9BB8CF;
  --brand-primary-ll: #E7EEF4;
  --brand-primary-d: #00264c;
  --bs-success: #50A191;
  --bs-success-rgb: 80, 161, 145;
  --brand-success-l: #BFD9C9;
  --brand-success-ll: #D6E7DD;
  --bs-warning: #FAD672;
  --bs-warning-rgb: 250, 214, 114;
  --brand-warning-l: #FBE28D;
  --bs-danger: #F3696E;
  --bs-danger-rgb: 243, 105, 110;
  --brand-danger-d: #680A1D;
  --theme-background: #003D79;
  --theme-background-rgb: 0, 61, 121;
}
