$brand-primary: #048086;
$brand-primary-l: #ADE6E6;
$brand-primary-ll: #dafcfe;

$brand-success: #036d08;
$brand-success-l: #81e7a7;
$brand-success-ll: #e6fee8;

$brand-warning: #f27c37;
$brand-warning-l: #fde9dd;

$brand-danger: #712e07;
$brand-danger-d: #f5945b;
$brand-danger-l: #fde8dc;

$cob-sg-freedom-trail-red: #95b00c;
$cob-sg-charles-blue: $brand-primary;
$cob-sg-optimistic-blue: #95b00c;

$cob-sg-blue-002: darken($brand-primary, 10%);

$footer-background: white;
$footer-foreground: #222;
