:root {
  /* Primary: #0065a6 */
  --bs-primary-hue: 203;
  --bs-primary-saturation: 100%;
  --bs-primary-lightness: 33%;

  /* Theme Background: #1B325D (from default) */
  --theme-background-hue: 222;
  --theme-background-saturation: 55%;
  --theme-background-lightness: 24%;
}

footer {
  background-color: white;
  box-shadow: none;
  color: black;
}
