- # Set @user for the original partial
- @user = user

= simple_form_for(user, url: admin_user_path(user), html: { class: 'form' }) do |f|
  = render 'users/entity_column', entity: entity, entity_type: entity_type, associations: associations, f: f
