- base ||= 'user'

%h3 User Access
%p Access to data in the warehouse is granted through Access Controls.  Access Controls are a combination of a Role that grants permissions, an Entity Group that specifies where the permissions should be applied, and a User Group containing the members who should be granted the permission to the associated entities.  You can assign the user to specific groups below.  Any Access Controls they have will be listed at the bottom of the page.

= f.association :user_groups, as: :select_two, collection: UserGroup.options_for_select, label: 'User Groups', input_html: { multiple: true }
