= simple_form_for @file, as: :file, wrapper: :inline_form, url: url_for(action: :create) do |f|
  .well
    = f.input_field :content, as: :file, label: false
    = f.submit 'Upload', class: 'btn btn-primary'
