- title = 'Clients Housed, Previously on the Chronic List'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'cas-reports'
.row
  .col-sm-10
    %p
      Limit to clients on the chronic list within a date range.
    = render 'filter'
  .col-sm-2
    .pull-right
      = link_to({format: :xlsx}.merge(params),{class: 'btn btn-secondary'}) do
        Download Excel
.row
  .col-sm-12
    .warehouse-reports
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Client          
        %tbody
          