-# JWT-arm edit. Omits the shared view's Devise "active password reset request" banner, which
-# depends on the Devise-only reset_password_period_valid?.
= render 'breadcrumbs'
%h1
  Edit User Account:
  = @user.name
= render 'form'
