.well
  %p
    The Longitudinal System Analysis...
  %p
    = link_to history_hud_reports_lsas_path do
      See the history of all report runs and download zip files
  %p
    = link_to hud_reports_historic_lsas_path do
      Pre-FY 2022 LSAs
  %p
    = link_to new_hud_reports_lsa_path do
      Generate New LSA
= render 'hud_reports/all_questions_table'
