$icons: (
  ok-circled: '\e800',
  ok-circled2: '\e801',
  cancel-circled: '\e802',
  cancel-circled2: '\e803',
  plus-circled: '\e804',
  minus-circled: '\e805',
  up-circle: '\e806',
  wheelchair: '\e900',
  helping-hands: '\e901',
  medical-provider: '\e902',
  mental-health: '\e903',
  nurse-clipboard: '\e904',
  reminder: '\e905',
  team: '\e906',
  pencil: '\e907',
  arrow-circled-down: '\e908',
  arrow-circled-right: '\e909',
  move: '\e90a',
  settings_backup_restore: '\e90b',
  envelope-o: '\e90c',
  home3: '\e90d',
  group: '\e913',
  users: '\e90e',
  child: '\e90f',
  user2: '\e910',
  house: '\e911',
  minus-circle: '\e912',
  undo: '\e913',
  go: '\e913',
  break: '\e913',
  return: '\e913',
  times-circle-o: '\e914',
  check-circle: '\e915',
  award: '\e916',
  clip-board-check: '\e917',
  file-drawn: '\e918',
  group-alt: '\e91a',
  medkit: '\e91b',
  passport: '\e91c',
  star: '\e91d',
  map: '\e91e',
  child1: '\e91f',
  angle-down: '\e920',
  file-text: '\e922',
  clock-o: '\e925',
  stop: '\e927',
  check: '\e929',
  copy: '\e92c',
  bell: '\e951',
  calendar: '\e953',
  printer: '\e954',
  database: '\e964',
  user: '\e971',
  users2: '\e972',
  enlarge2: '\e98b',
  shrink2: '\e98c',
  lock: '\e98f',
  unlocked: '\e990',
  equalizer: '\e992',
  cog: '\e994',
  list-numbered: '\e9b9',
  list: '\e9ba',
  list2: '\e9bb',
  menu: '\e9bd',
  download2: '\e9c5',
  upload2: '\e9c6',
  flag: '\e9cc',
  eye: '\e9ce',
  eye-blocked: '\e9d1',
  warning: '\ea07',
  notification: '\ea08',
  question: '\ea09',
  plus: '\ea0a',
  minus: '\ea0b',
  info: '\ea0c',
  cancel-circle: '\ea0d',
  cross: '\ea0f',
  checkmark: '\ea10',
  checkmark2: '\ea11',
  enter: '\ea13',
  exit: '\ea14',
  arrow-up: '\ea32',
  arrow-right: '\ea34',
  arrow-down: '\ea36',
  arrow-left: '\ea38',
  arrow-right2: '\ea3c',
  arrow-left2: '\ea40',
  checkbox-checked: '\ea52',
  checkbox-unchecked: '\ea53',
  filter: '\ea5b',
  file-pdf: '\f1c1',
  file-excel: '\f1c3',
  heart: '\e807',
  heart-empty: '\e808',
);

@function get-icon-code($name) {
  @return map-get($icons, "#{$name}");
}
