@keyframes highlight {
  0% {
    background: var(--brand-warning-lll);
  }

  100% {
    background: none;
  }
}

@keyframes highlight-positive {
  0% {
    background: var(--brand-success-l);
  }

  100% {
    background: none;
  }
}
