.utility {
  min-height: 60px;
  padding: 8px 0;
  @media (max-width: $screen-sm-min) {
    margin-top: 40px;
  }
}

.crumbs a {
  margin-right: 12px;
}

.action-row {
  padding-bottom: 12px;
}

.add-another {
  margin-top: 24px;
  margin-bottom: 36px;
  text-align: right;
}

.how-to-popover:focus {
  outline: none;
}

.home-intro {
  @include poppins-normal;
  font-size: 1.2em;
  margin-bottom: 40px;
  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: 60px auto 0;
  }
}
