version: '3.8'

x-app: &app
  image: hmis-warehouse:3.5
  build:
    context: .
    args:
      RUBY_VERSION: 3.1.3
      BUNDLER_VERSION: '2.4.10'
  environment: &env
    AWS_REGION: ${AWS_REGION:-us-east-1}
    AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
    AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
    AWS_SECURITY_TOKEN: ${AWS_SECURITY_TOKEN:-}
    AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
    NODE_ENV: ${NODE_ENV:-development}
    BOOTSNAP_CACHE_DIR: /bundle/bootsnap
    WEBPACKER_DEV_SERVER_HOST: webpacker
    HISTFILE: /app/log/.bash_history
    PSQL_HISTFILE: /app/log/.psql_history
    EDITOR: vi
    CHROMEDRIVER_VERSION: 79.0.3945.36
    GROVER_NO_SANDBOX: 'true'
    BUNDLE_FORCE_RUBY_PLATFORM: 'true'
  env_file:
    - .env.development.local
    - .env.local
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - .:/app:cached
    - rails_cache_alpine:/app/tmp/cache
    - bundle_alpine:/bundle
    - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates
    - /etc/ssl/certs:/etc/ssl/certs

services:
  shell:
    <<: *backend
    profiles:
      - manual
    command: /bin/bash
    depends_on:
      - db
      - redis

  spec:
    <<: *backend
    profiles:
      - manual
    command: /bin/bash
    entrypoint: '/usr/bin/spec.entrypoint.sh'
    depends_on:
      - db
      - redis
      - minio
    env_file:
      - .env.local
      - .env.test

  console:
    <<: *backend
    profiles:
      - manual
    # entrypoint: ''
    stdin_open: true
    tty: true
    command: bundle exec rails console
    depends_on:
      - db
      - redis
      - mailhog
      - minio

  dj:
    <<: *backend
    command: ./bin/rake jobs:work
    entrypoint: ''
    depends_on:
      - db
      - redis
      - minio

  web:
    <<: *backend
    container_name: hmis-warehouse-web
    stdin_open: true
    tty: true
    command: bundle exec rails server -b 0.0.0.0
    labels:
      - "traefik.http.routers.op.rule=Host(`open-path-warehouse.127.0.0.1.nip.io`)"
      - "traefik.http.routers.op.tls=true"
      - "traefik.http.services.op.loadbalancer.server.port=3000"
    ports:
      - "3000"
      - "9394"
    expose:
      - "3000"
      - "9394"
    environment:
      <<: *env
      VIRTUAL_HOST: ${FQDN:-hmis-warehouse.dev.test}
      VIRTUAL_PORT: 3000
    depends_on:
      - db
      - redis
      - mailhog
      - minio

  db:
    image: postgis/postgis:12-3.1-alpine
    container_name: hmis-warehouse-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      PGPASSWORD: postgres
      PGUSER: postgres
      POSTGRES_MULTIPLE_EXTENSIONS: postgis,hstore
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -d postgres'"]
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - 5432
    expose:
      - 5432

  redis:
    container_name: hmis-warehouse-redis
    image: redis:alpine
    volumes:
      - redis:/data
    expose:
      - 6379

  mailhog:
    image: mailhog/mailhog:latest
    environment:
      VIRTUAL_HOST: mail.${FQDN:-hmis-warehouse.dev.test}
      VIRTUAL_PORT: 8025
    expose:
      - 8025
      - 1025

  sftp:
    container_name: hmis-warehouse-sftp
    image: justinhimself/sftp
    volumes:
      - ./tmp/sftp_spec:/home/user/sftp
      - ./spec/support/sftp.conf:/etc/sftp/users.conf:ro

  superset:
    container_name: hmis-warehouse-superset
    image: voltrondata/superset-sqlalchemy-adbc-flight-sql
    environment:
      VIRTUAL_HOST: superset.${FQDN:-hmis-warehouse.dev.test}
      VIRTUAL_PORT: 8088
      SUPERSET_ADMIN_PASSWORD: admin
    depends_on:
      superset_init:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    expose:
      - 8088
    volumes:
      - ./superset/config.py:/app/adbc/apache-superset/superset/config.py

  # See config/storage.yml for setup
  minio:
    container_name: s3
    image: minio/minio
    volumes:
      - ~/minio/data:/data
      - ~/.minio/certs:/certs
    hostname: s3.dev.test
    environment:
      MINIO_ACCESS_KEY: local_access_key
      MINIO_SECRET_KEY: local_secret_key
      MINIO_ROOT_USER: local_access_key
      MINIO_ROOT_PASSWORD: local_secret_key
    ports:
      - 9000:9000
      - 9001:9001 # enable for UI access
    command: server --certs-dir /certs /data

  superset_init:
    environment:
      PGPASSWORD: postgres
      PGUSER: postgres
      PGHOST: db
    image: postgis/postgis:12-3.1-alpine
    entrypoint: /superset_init_entrypoint.sh
    command:
      - ''
    volumes:
      - ./superset/superset_init_entrypoint.sh:/superset_init_entrypoint.sh
    depends_on:
      - db

volumes:
  bundle_alpine:
  node_modules_alpine:
  rails_cache_alpine:
  dbdata:
  redis:

networks:
  default:
    name: nginx-proxy
    external: true
