version: '3.7'

x-app: &app
  image: hmis-warehouse:0.0.3
  build:
    context: .
    args:
      RUBY_VERSION: 2.6.5
      PG_MAJOR: '12'
      NODE_MAJOR: '12'
      YARN_VERSION: '1.17.3'
      BUNDLER_VERSION: '1.17.3'
      ADDITIONAL_PACKAGES: vim nodejs python2 unzip xvfb google-chrome-stable less freetds-dev freetds-bin phantomjs xfonts-75dpi alien libpng-dev libicu-dev libcurl4-openssl-dev curl libmagic-dev libmagickcore-dev libmagickwand-dev wkhtmltopdf lftp
  environment: &env
    NODE_ENV: ${NODE_ENV:-development}
    BOOTSNAP_CACHE_DIR: /bundle/bootsnap
    WEBPACKER_DEV_SERVER_HOST: webpacker
    WEB_CONCURRENCY: 1
    HISTFILE: /app/log/.bash_history
    PSQL_HISTFILE: /app/log/.psql_history
    EDITOR: vi
    CHROMEDRIVER_VERSION: 79.0.3945.36
    GROVER_NO_SANDBOX: 'true'
  env_file: .env.local
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - .:/app:cached
    - rails_cache:/app/tmp/cache
    - bundle:/bundle

services:
  shell:
    <<: *backend
    command: /bin/bash
    entrypoint: ''
    depends_on:
      - db
      - redis

  spec:
    <<: *backend
    command: /bin/bash
    entrypoint: ''
    depends_on:
      - db
      - redis
    env_file:
      - .env.local
      - .env.test

  console:
    <<: *backend
    stdin_open: true
    tty: true
    command: bundle exec rails console
    depends_on:
      - db
      - redis
      - mailhog

  web:
    <<: *backend
    container_name: hmis-warehouse-web
    stdin_open: true
    tty: true
    command: bundle exec rails server -b 0.0.0.0
    expose:
      - 3000
    environment:
      <<: *env
      VIRTUAL_HOST: ${FQDN:-hmis-warehouse.dev.test}
      VIRTUAL_PORT: 3000
    depends_on:
      - db
      - redis
      - mailhog

  db:
    container_name: hmis-warehouse-db
    image: postgres:12-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      PSQL_HISTFILE: /root/log/.psql_history
    command: "postgres -c 'max_connections=500'"
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - 5432

  redis:
    container_name: hmis-warehouse-redis
    image: redis:alpine
    volumes:
      - redis:/data
    ports:
      - 6379

  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    environment:
      VIRTUAL_HOST: mail.${FQDN:-hmis-warehouse.dev.test}
      VIRTUAL_PORT: 8025
    expose:
      - 8025
      - 1025

volumes:
  bundle:
  node_modules:
  rails_cache:
  dbdata:
  redis:

networks:
  default:
    external:
      name: nginx-proxy
