.form__actions,
.form-actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &--right {
    justify-content: flex-end;
    input,
    a,
    button {
      margin-left: space(2);
    }
  }
  &--stacked {
    display: inline-flex;
    flex-direction: column;
    button {
      margin-bottom: space(3);
    }
  }
}

form.inline-form {
  display: inline;
}

.help-block {
  @include margin(0 0 8px 0);
}

.requirement-warning {
  color: $brand-danger;
  @include open-sans-medium;
  @include padding($padding-base-vertical 0);
}

.form-actions {
  clear: both;
  @include margin(10px null);
}

label {
  color: $gray-070;
  @include open-sans-medium;
}

.button-row {
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group--tight {
  margin-bottom: rem(15px);
}

.form-group__indented-01 {
  @include margin(10px null 10px 40px);
}

.form-group__indented-02 {
  @include margin(null null null 20px);
}

.form--checkbox-groups {
  margin-bottom: 30px;
}

.form--checkbox-groups .form-group {
  margin-bottom: 0;
}

.radio .form-group__indented-01 label,
.checkbox .form-group__indented-01 label {
  padding-left: 0;
}

.has-error {
  @include form-control-validation($brand-danger, $brand-danger, $brand-danger);
}

.error .form-control {
  border-color: $brand-danger;
  background: rgba($brand-danger-l, .1);
}

.errors,
.error label,
.error-block {
  color: $brand-danger;
}

.form-group .form-group {
  margin-bottom: 6px;
}

.contact-on-match--item {
  padding-right: 12px;
}

.contact-on-match--icon-link {
  color: $text-color;
}

.contact-on-match--icon-link:hover,
.contact-on-match--icon-link:focus {
  text-decoration: none;
  color: darken($text-color, 15);
}

.selected-contact {
  margin: 10px;
}

.selected-contact--remove-link:hover,
.selected-contact--remove-link:focus {
  text-decoration: none;
}

.input__button-size {
  padding: 6px 12px;
  border: 1px solid $gray-030;
  vertical-align: bottom;
}

.input__width-80 {
  width: 80px;
}

.slab .form-group {
  margin-bottom: 6px;
}

.slab label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
}

// health admin filters patient referrals
.ui-front .ui-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding-left: 0px;
  li {list-style: none;}
}
.ui-menu-item-wrapper {
  padding: 10px 20px;
}

.ui-state-active {
  background-color: $cob-sg-blue-006;
  color: #FFFFFF;
}

.radio-button-buttons__container {
  font-size: 0px;
  label {
    position: relative;
    font-size: 12px;
    cursor: pointer;
  }
  input {
    position: absolute;
    opacity: 0;
  }
  span {
    display: inline-block;
    padding: 6px 12px;
    background-color: $gray-020;
    color: $text-color;
    text-transform: uppercase;
  }
  label:not(:last-child) {
    span {border-right: 1px solid #FFF;}
  }
  label:first-child {
    span {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  label:last-child {
    span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  label input:checked ~ span {
    background-color: $brand-primary;
    color: #FFFFFF;
  }
}

.radio-button-list__container {
  min-width: 100px;
  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  input {
    position: absolute;
    opacity: 0;
  }
  span {
    display: block;
    padding: 6px 12px;
  }
  label input:checked ~ span {
    background-color: $brand-primary;
    color: #FFFFFF;
  }
  label input:hover ~ span,
  label input:focus ~ span {
    background-color: $brand-primary;
    color: #FFFFFF;
  }
}

.string-collection-with-other__container {
  margin-bottom: 30px;
  .form-group {
    margin-bottom: 0px;
  }
}

.form-group[data-other-value],
.form-group[data-date-values] {
  margin-left: space(6);
}

textarea.form-control {
  &.sized {
    min-height: $textarea-min-height;
  }
}

.form-group--hanging-label label {
  white-space: nowrap;
}

.form-control-faux {
  display: flex;
  align-items: center;
  border-color: $gray-020;
}
