.modal-title {
  font-size: rem(20);
}
.modal-header {
  border-bottom: 2px solid $gray-040;
}
.modal-header .close {
  font-size: rem(14);
}
.modal-dialog input[type=submit] {
  float: right;
  min-width: 120px;
}
.modal-dialog [class^="icon-"], 
.modal-dialog  [class*=" icon-"] {
  font-size: rem(12);
  color: #000;
  margin-right: 12px;
}