.modal-title {
  font-size: rem(24);
  color: $brand-primary;
  text-transform: uppercase;
}

.modal-title--secondary {
  font-size: rem(18);
  color: $gray-060;
  margin: 0;
}

.modal-header {
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-header .close {
  margin-left: auto;
}

.modal-header,
.modal-footer {
  background: $modal-header-bg;
}

.modal-footer {
  border: 0;
}

.modal-icon-close {
  font-style: normal;
  &::before {
    @include icon;
    content: '\ea0f';
    font-size: rem(18);
    color: $gray-070;
  }
}

.modal-content {
  background: $white;
}

.modal-dialog {
  @include media-breakpoint-down(sm) {
    width: calc(100vw - 30px) !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}

.modal-dialog input[type=submit] {
  justify-content: center;
  float: right;
  min-width: 120px;
}

.modal-dialog [class^="icon-"],
.modal-dialog  [class*=" icon-"] {
  font-size: rem(12);
  color: #000;
  margin-right: 12px;
}

.import__errors {
  overflow: scroll;
}

.modal-container--full-bleed {
  margin: 25px -15px;
  padding: 15px 0;
  background: $modal-content-bg;
  border-top: 1px solid $modal-header-bg;
  border-bottom: 1px solid $modal-header-bg;
}

.modal-container--full-bleed .form-group {
  margin-bottom: 15px;
}

[data-pjax-modal-loading] {
  min-height: 300px;
}

.modal table tbody tr {
  td {
    border-top: 0;
    border-bottom: 1px solid $modal-border;
  }
  &:last-of-type td {
    border: 0;
  }
}
