.nav-tabs,
.sub-nav-tabs {
  background: $white;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid $gray-020;
  margin-top: space(4);
  margin-bottom: space(4);
}

.nav-tabs > li {
  margin-bottom: 0;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  border-radius: 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background: $body-bg;
  box-shadow: inset 0px 2px 0px 0px $nav-tab-active-border-color;
  color: $black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: $nav-tab-active-active-bg;
  color: $nav-tab-active-color;
  font-weight: 800;
  box-shadow: inset 0px 2px 0px 0px $nav-tab-active-border-color;
}

.nav-tabs > li {
  margin-bottom: -2px;
}

.sub-nav-tabs {
  border-top: 1px solid $gray-020;
  transition: .25s;
  &.affix {
    width: 100%;
    top: 0;
    margin-top: 0;
    z-index: 400;
    border-bottom: 1px solid $cob-sg-charles-blue;
    li a {
      padding: space(4) space(4);
    }
  }
}

.sub-nav-tabs li {
  display: inline-block;
  background: $white;
}

.sub-nav-tabs li:first-child a {
  margin-left: 0px;
}

.sub-nav-tabs li a {
  transition: .25s padding;
  padding: space(2) space(4);
  border-bottom: 1px solid transparent;
}

.sub-nav-tabs li a:hover,
.sub-nav-tabs li a:active,
.sub-nav-tabs li a:focus,
.sub-nav-tabs li.active a {
  background-color: $body-bg;
  border-bottom: 1px solid $nav-tab-active-border-color;
  color: $nav-tab-active-color;
}
.sub-nav-tabs li.active a {
  font-weight: bold;
  background-color: $nav-tab-active-active-bg;
}
