- if @client.requires_api_update?
  - @client.update_via_api
- caseworkers = @client.caseworkers(can_view_client_user_assignments: current_user.can_view_client_user_assignments)
- if caseworkers.any?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Phone
        %th Type
        %th Source
    %tbody
      - caseworkers.each do |caseworker|
        %tr
          %td= caseworker[:name]
          %td= caseworker[:phone]
          %td= caseworker[:title]
          %td= caseworker[:source]
- else
  .no-data
    No caseworkers on file
