- if @client.processed_service_history.present? && @client.ever_chronic?
  .jChronic-chart
    .jLoading Loading

  :javascript
    $(document).ready(function() {
      chart = new App.ChartsScatterByDate.ChronicForClient(
        $('.jChronic-chart'), 
        '#{chronic_days_client_path(@client)}'
      );
      chart.load();
    });
