%table.table.table-striped
  %thead
    %tr
      %th User
      %th Type
      %th Note
      %th Date Posted
  %tbody
    - @client.notes.order(created_at: :desc).each do |note|
      %tr
        %td= note.user_id
        %td= note.type
        %td= note.note 
        %td= note.created_at
