- expires_in = if Rails.env.production? then 4.hours else 1.minutes end
= cache(['clients', 'cohorts', @client, @client.active_cohorts.count, can_view_cohorts?, controller_path, current_user], expires_in: expires_in) do
  .d-none--empty.mr-6
    - cohorts = @client.cohorts_for_dashboard(current_user)
    - if cohorts.any?
      .mb-6
        %h3.mt-0 Cohorts
        .card
          %table.table.table-striped.client-cohorts.mb-0
            %thead
              %tr
                %th Cohort
                %th Active?
                %th Recent Homeless Activity?
            %tbody
              - cohorts.uniq.each do |cohort|
                %tr
                  %td= link_to_if cohort.link, cohort.name, cohort_path(cohort.id)
                  %td= yes_no(cohort.active)
                  %td= yes_no(cohort.recent_activity)
