:ruby
  custom_services = @client.services_for_rollup.merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user))
- if custom_services.any?
  = render 'hmis_client/services/table', custom_services: custom_services
- else
  .no-data
    No Custom Services on file
