-# = render 'enrollments', scope: @client.source_enrollments.hud_residential.joins( project: :organization ).preload( :client, :exit, project: :organization ).order(EntryDate: :desc)
= render 'enrollments', scope: @client.scope_for_residential_enrollments
