= cache(['clients', 'services', @client, can_view_confidential_project_names?, controller_path, current_user], expires_in: 4.hours) do
  - dots = { min: Float::INFINITY, max: -1, points: [] }

  %table.table
    %colgroup
      %col
      %col(style="width:6.5em;")
      %col(style="width:12px;")
    %thead
      %tr
        %th Year of Service Start
        %th Bed Starts
        %th
    %tbody
      - services = @client.source_enrollment_services.merge(GrdaWarehouse::Hud::Enrollment.visible_to(current_user))
      - st = services.arel_table
      - services.bed_night.uniqueness_constraint.group(dp( services, 'year', st[:DateProvided] ).to_sql).count.sort_by(&:first).reverse.each do |year, count|
        %tr
          %td= year.to_i
          %td.num-cell= count
          - dots[:min] = count if count < dots[:min]
          - dots[:max] = count if count > dots[:max]
          - dots[:points] << count
          %td.dot

  - if dots[:min] < dots[:max]
    :javascript
      var dots = #{dots.to_json.html_safe};
      $('#services td.dot').each(function(i){
        $(this).append(App.util.colorDot({point:dots.points[i],low:dots.min,high:dots.max,center:true}));
      });
