- verifications = GrdaWarehouse::VerificationSource.where(client_id: @client.id).first
- if verifications.present?
  %table.table
    %thead
      %tr
        %th Verification Type
        %th Verification Source
    %tbody
      - verifications.source_columns.each do |column|
        - verification = verifications.send(column)
        - if verification.present?
          %tr
            %td= column.to_s.humanize
            %td= verification
- else
  .no-data
    No verifications on file