:ruby
  addresses = @client.previous_permanent_locations_for_display(current_user).select{|m| m[:lat].present?}
  markers = addresses.map{ |m| {lat_lon: [m[:lat], m[:lon]], label: m[:label]} }.uniq
  lat = addresses.map{ |m| m[:lat] }
  lon = addresses.map{ |m| m[:lon] }
  bounds = [
    [lat.min, lon.min],
    [lat.max, lon.max],
  ]
  options = { permanent: true, cluster: false, bounds: bounds }
- if addresses.any?
  #client__previous-addresses
  -# NOTE: to get this to work as a stand-alone (/clients/<id>/rollup/zip_map), it needs the next line, but
  -# adding it will break the roll-up
  -# = content_for :page_js do
  :javascript
    var markers = #{markers.to_json.html_safe};
    var options = #{options.to_json.html_safe};
    var map = new App.Maps.MapWithMarkers('client__previous-addresses', markers, options);
- else
  .no-data
    No previous addresses
