-# %img{ src: "//maps.googleapis.com/maps/api/staticmap?#{params.map(&:to_query).join('&')}", style: 'display:block;margin: 0 auto;' }
- addresses = @client.previous_permanent_locations_for_display.select{|m| m[:lat].present?}
- markers = addresses.map{|m| [m[:lat], m[:lon]]}.uniq
- labels = addresses.map{|m| m[:label]}.uniq
- if addresses.any?
  #client__previous-addresses
  :coffeescript
    markers = #{markers.to_json}
    labels = #{labels.to_json}
    map = new App.Maps.MapWithMarkers('client__previous-addresses', markers, labels)
- else
  .no-data
    No previous addresses
