- content_for :title,  'Healthcare Related Roles'
%h1= content_for :title
= render 'breadcrumbs'
= render 'menus/health_admin_tabs'
.table-responsive
  %table.table.table-condensed
    %thead
      %th Permission:
      - @roles.each do |role|
        %th
          = role.name
    %tbody
      - Role.permissions.each do |permission|
        %tr
          %td
            =permission.to_s.humanize
          - @roles.each do |role|
            %td
              =checkmark(role.send(permission))