- show_link = false unless defined?(show_link)
.client__details.client__details--health-emergency.health-emergency
  .d-flex
    %h3 Health Emergency Status
    - if show_link
      .ml-auto
        = link_to polymorphic_path(['client_he', health_emergency], client_id: client) do
          Update Information
  .health-emergency__badges.d-flex
    .triage-status.badge-pill.badge-dark.d-flex.mr-2
      %dl.d-flex
        %dt Triage
        %dd= client.health_emergency_triage_status
    .test-status.badge-pill.badge-dark.d-flex.mr-2
      %dl.d-flex
        %dt Test
        %dd= client.health_emergency_test_status
    .isolation-status.badge-pill.badge-dark.d-flex
      %dl.d-flex
        %dt Isolation
        %dd= client.health_emergency_isolation_status
