= content_for :crumbs do
  - if current_user.health_agencies.any?
    = link_to health_my_patients_path do
      &laquo; My Patients
  - else
    = link_to clients_path do
      &laquo; Back to Clients
