- if ( decisions = @client.cas_reports.where( current_step: true ).order(:updated_at) ).any?
  %div.mb-6
    %h3.mt-0 Housing Matches
    .c-card.c-card--padded.c-card--flush
      %ul.list-unstyled
        - decisions.each do |decision|
          %li
            = decision.decision_status.sub('Dnd', 'DND')
            on
            = decision.updated_at.to_date
