- cas_id = client.cas_client&.id
- if client.processed_service_history.present? && client.longterm_stayer?
  .c-tag.c-tag--warning.client-flag.mb-2
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock
      .c-tag__content
        %span Long-term Stayer

- if client.sync_with_cas? && client.chronically_homeless_for_cas?
  .c-tag.c-tag--info.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock
      .c-tag__content
        %span
          Chronically Homeless &amp; in CAS
          - if cas_id.present?
            = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{cas_id}", target: '_blank' do
              View in CAS

- elsif client.chronically_homeless_for_cas?
  .c-tag.c-tag--warning.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-clock
      .c-tag__content
        %span Chronically Homeless for CAS

- elsif client.sync_with_cas?
  .c-tag.c-tag--warning.client-flag
    .c-tag__wrapper
      .c-tag__icon
        .icon-user
      .c-tag__content
        %span
          Available in CAS
          - if cas_id.present?
            = link_to GrdaWarehouse::Config.get(:cas_url) + "/clients/#{cas_id}", target: '_blank' do
              View in CAS
