- show_link = false unless defined?(show_link)
- link_path = polymorphic_path(['client_he', health_emergency], client_id: client)
.health-emergency{data: {id: client.id, href: link_path}, class: show_link ? 'js-client' : nil}
  .client__details-header.d-flex.mb-4
    %h3.text-danger COVID-19 Status
  .o-pills.health-emergency__badges
    - if can_see_health_emergency_clinical?
      = pill_badge labels: [GrdaWarehouse::HealthEmergency::Vaccination.new.pill_title, client.health_emergency_vaccination_status]
    - if show_link
      = link_to link_path, class: 'btn btn-primary btn-sm' do
        Update Information
