:ruby
  only_ongoing ||= false
  include_links ||= can_view_projects?

  enrollments = @client.enrollments_for_rollup(
    en_scope: scope,
    include_confidential_names: @include_confidential_names,
    only_ongoing: only_ongoing
  )

= render 'enrollment_table', enrollments: enrollments, include_links: include_links
