:ruby
  only_ongoing ||= false
  include_links ||= can_view_projects?

  enrollments = @client.enrollments_for_rollup(
    en_scope: scope, # visible_to will be added in Client.enrollments_for
    include_confidential_names: can_view_confidential_project_names?,
    only_ongoing: only_ongoing,
    user: current_user,
  )

= render 'enrollment_table', enrollments: enrollments, include_links: include_links
