- if can_track_anomalies? && controller_name != 'anomalies'
  .text-center
    = link_to client_anomalies_path(client_id: @client.id), class: 'btn btn-secondary btn-sm' do
      %i.icon-flag
      Track Issues
- if @client.alert_notes.exists?
  .client-tabs__active-alerts.text-center
    .p-4
      = link_to alerts_client_notes_path(@client), class: 'btn btn-warning btn-sm', data: { loads_in_pjax_modal: true } do
        %i.icon-warning
        #{pluralize(@client.alert_notes.count, 'Alert')}
