= simple_form_for @note, url: client_notes_path(@client) do |f|
  = f.input :type, label: 'Note type', collection: ["Chronic Justification", "Window Note",]
  = f.input :note, label: 'Note'
  = f.submit value: 'Add Note', class: 'btn btn-secondary'
