:ruby
  tabs = {
    client_path(@client) => {
      title: 'Client Dashboard',
      permission: can_view_clients?,
    },
    edit_client_path(@client) => {
      title: 'Merge',
      permission: can_edit_clients?,
    },
    history_client_path(@client) => {
      title: 'Client History',
      permission: can_edit_clients?,
    }
  }
  if can_edit_client_health? && @client.patient.present?
    tabs[client_health_patient_index_path(@client)] = {
      title: 'Health',
      permission: can_view_client_health? || can_edit_client_health?,
    }
    tabs[client_health_careplan_path(@client)] = {
      title: 'Integrated Care Plan',
      permission: can_edit_client_health?,
    }
  end
%ul.nav.nav-tabs.margin-bottom-01
  - tabs.each do |action, details|
    - if action == current
      - if details[:permission]
        %li.active.active-tab{role: 'presentation'}
          %a{href: '#'} 
            = details[:title]
    - else
      - if details[:permission]
        %li= link_to details[:title], action
