.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Date changed
        %th Editor
        %th Changes
    %tbody
      - @history.wrap_display_versions(list).each do |item|
        %tr
          %td= item.created_at.to_fs
          %td
            - if item.username
              = item.username
            - else
              %span.light N/A
          %td
            -# = item.version.changeset.keys.sort.inspect
            - if item.error
              .text-danger= 'Could not load change description'
              %p Please contact support for assistance
            - elsif item.changes
              %ul.list-unstyled
                - item.changes.each do |change|
                  %li= change
            - else
              %span.light N/A
