.well.overflow-scroll
	= render 'data_quality_reports/version_five/project_group/time_in_program'
	%br
	= render 'data_quality_reports/version_five/project_group/income'
	%br
	= render 'data_quality_reports/version_five/project_group/ph_destination'