@import '../helpers';

.access-overview {
  .access-description {
    line-height: 2rem;
  }
  .color-tag {
    padding: 0.25rem 0.5rem;
    text-decoration: underline;
  }
  .access-control {
    background-color: $gray-020;
   }
  .permission-role {
    background-color: rgba(255, 199, 0, 0.15);;
  }
  .user-group {
    background-color: rgba(157, 148, 255, 0.15);
  }
  .collection {
    background-color: rgba(25, 118, 210, 0.1);
  }
  .popover {
    max-width: 400px;
    font-size: 1.2rem;
    .popover-header {
      font-size: 1.3rem;
    }
  }
}
