.all-neighbors__dashboard {
  h1 {
    color: rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-weight: normal;
  }

  .bb svg {
    font-size: 16px;
  }

  .bb-xgrid,
  .bb-ygrid {
    stroke-dasharray: none;
  }

  .bb-tooltip th {
    background-color: #722B2C;
    color: #FFFFFF;
  }
}

h2.all-neighbors__all__tab_name {
  font-family: "Open Sans";
  font-weight: normal;
}

.all-neighbors__all__filter_labels h3 {
  font-family: "Open Sans";
  font-weight: normal;
}

.all-neighbors__time_to_obtain_housing__card span {
  font-size: 36px;
  font-weight: bold;
}

.all-neighbors__time_to_obtain_housing__card h3 {
  font-family: "Open Sans";
  font-weight: normal;
}

#all-neighbors__housing_placements__stacked__chart .bb-axis-x {
  font-family: "Open Sans";
  font-size: 1.15rem;
}

.all-neighbors__all__tabs {
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.all-neighbors__all__tabs a.nav-link {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.65rem 1.16rem;
}

.all-neighbors__all__tabs a.nav-link:focus,
.all-neighbors__all__tabs a.nav-link:hover {
  box-shadow: none;
  background: transparent;
}

.nav-tabs.all-neighbors__all__tabs li.nav-item a.nav-link.active {
  background: #722B2C;
  color: #FFF;
  box-shadow: none;
}

.all-neighbors__all__summary_icon {
  width: 60px;
  text-align: right;
}

.all-neighbors__all__summary_icon,
.all-neighbors__all__summary_value {
  font-size: 2.3rem;
  color: #722B2C;
  font-weight: bold;
}

.all-neighbors__all__summary_name {
  font-size: 1.15rem;
}

.all-neighbors__all__donut svg {
  margin: 0px auto;
}

.all-neighbors__all__donut-filter-label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.15rem;
  width: 86px;
  height: 50px;
  margin-top: -25px;
  margin-left: -43px;
  text-align: center;
}

.all-neighbors__all__stacked_group h4 {
  font-family: "Open Sans";
  font-weight: normal;
}

.all-neighbors__all__stacked .bb-axis-x .tick text {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 1.15rem;
  line-height: 1.2rem;
  white-space-collapse: preserve;
}

#all-neighbors__housing_placements__total_placements__chart .domain,
#all-neighbors__housing_placements__total_placements__chart .tick line,
#all-neighbors__unhoused_population__vertical_stack__chart .domain,
#all-neighbors__unhoused_population__vertical_stack__chart .tick line,
#all-neighbors__time_to_obtain_housing__stacked__chart .bb-xgrid:first-child,
#all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x g:first-of-type line,
#all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x .domain,
#all-neighbors__returns_to_homelessness__bar__chart .bb-axis .domain,
#all-neighbors__returns_to_homelessness__bar__chart .bb-axis .tick line,
.all-neighbors__all__stacked .bb-axis-x .domain,
.all-neighbors__all__stacked .bb-axis-x .tick line,
#all-neighbors__time_to_obtain_housing__scatter__chart .tick line,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .tick line,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .bb-axis-y .domain,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .bb-axis-x .domain {
  display: none;
}

#all-neighbors__unhoused_population__vertical_stack__chart .bb-ygrids line,
#all-neighbors__unhoused_population__vertical_stack__chart .bb-event-rect,
#all-neighbors__housing_placements__total_placements__chart .bb-ygrids line {
  stroke: #DDDDDD;
}

#all-neighbors__unhoused_population__vertical_stack__chart .bb-event-rect {
  stroke-width: 3px;
}

#all-neighbors__housing_placements__total_placements__chart .bb-ygrid:first-child {
  stroke: #000;
}

#all-neighbors__time_to_obtain_housing__stacked__chart .bb-xgrid,
#all-neighbors__time_to_obtain_housing__stacked__chart .bb-axis-x line {
  stroke: rgba(0, 0, 0, 0.04);
}

#all-neighbors__time_to_obtain_housing__stacked__chart .bb-text__custom-total {
  font-weight: bold;
}

#all-neighbors__returns_to_homelessness__bar__chart .bb-texts text tspan {
  fill: #000;
  font-family: Open Sans;
}

#all-neighbors__returns_to_homelessness__bar__chart .bb-texts text tspan:last-child {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.all-neighbors__returns_to_homelessness__table_toggle,
.all-neighbors__returns_to_homelessness__table_toggle:hover,
.all-neighbors__internal__table_toggle,
.all-neighbors__internal__table_toggle:hover {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.15rem;
}

#all-neighbors__time_to_obtain_housing__scatter__chart.bb svg text{
  font-size: 0.9rem;
  fill: rgba(0, 0, 0, 0.60);
}

#all-neighbors__time_to_obtain_housing__scatter__chart .domain {
  stroke: rgba(0, 0, 0, 0.38);
}

#all-neighbors__time_to_obtain_housing__scatter__chart.bb svg .bb-axis-y-label,
#all-neighbors__time_to_obtain_housing__scatter__chart.bb svg .bb-axis-x-label {
  fill: #000000;
}

.all-neighbors__time_to_obtain_housing__scatter__chart__mean-label {
  font-size: 14px;
  fill: rgba(0, 0, 0, 0.60);
}

#all-neighbors__returns_to_homelessness__returns_to_date_by_hh_type__chart .tick line,
#all-neighbors__returns_to_homelessness__housing_retention__chart .tick line {
  display: none;
}

#all-neighbors__returns_to_homelessness__returns_to_date_by_hh_type__chart .domain {
  stroke: rgba(0, 0, 0, 0.38);
}

#all-neighbors__returns_to_homelessness__returns_to_date_by_hh_type__chart .bb-axis-y .tick text {
  fill: rgba(0, 0, 0, 0.60);
  font-size: 12px;
}

#all-neighbors__returns_to_homelessness__housing_retention__chart .bb-axis-y .tick text,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .tick text,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .bb-axis-y-label {
  font-size: 12px;
}

#all-neighbors__returns_to_homelessness__housing_retention__chart .bb-axis-x .tick text {
  font-size: 14px;
}

#all-neighbors__returns_to_homelessness__housing_retention__chart .domain,
#all-neighbors__returns_to_homelessness__housing_retention__chart .bb-ygrids line,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .bb-event-rect,
#all-neighbors__time_to_obtain_housing__id_to_move_in__chart .bb-ygrid {
  stroke: #CCCCCC;
}

#all-neighbors__returns_to_homelessness__housing_retention__filter_label {
  color: #9C27B0;
  text-transform: capitalize;
}

