@import '../helpers';

// Override these in the theme tool as necessary
.ce-0 {
  background-color: #f18f01;
  color: white;
}

.ce-1 {
  background-color: #048ba8;
  color: white;
}

.ce-2 {
  background-color: #2e4057;
  color: white;
}

.ce-3 {
  background-color: #99c24d;
}
