@import '../helpers';

// Override these in the theme tool as necessary
.chronic-0 {
  background-color: #00798c;
}

.chronic-1 {
  background-color: #D1495B;
}

.chronic-2 {
  background-color: #EDAE49;
}

.chronic-3 {
  background-color: #30638e;
}
