@import '../helpers';

[class^='ds'] {
  @include tag-pill;
  text-decoration: none;
  background-color: var(--gray-065);
  color: white;
  min-width: 3.75rem;
  text-align: center;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  margin-right: rem(6px);
}

// provides .ds-color-1 .. .ds-color-50
@include many-colors('ds-color');

.btn-hmis {
  font-weight: normal;
  font-size: 0.7rem;
}

.id-sqr {
  margin-right: 0.5rem;
}
