@import '../helpers';

// Override these in the theme tool as necessary
.disabling-condition-0 {
  background-color: #e8b4bc;
}

.disabling-condition-1 {
  background-color: #6e4555;
  color: white;
}

.disabling-condition-2 {
  background-color: #d282a6;
  color: white;
}

.disabling-condition-3 {
  background-color: #3a3238;
  color: white;
}
