@import '../helpers';

// Override these in the theme tool as necessary
.ethnicity-0 {
  background-color: #174B74;
  color: white;
}

.ethnicity-1 {
  background-color: #2069A4;
  color: white;
}

.ethnicity-2 {
  background-color: #7CB0CE;
}

.ethnicity-3 {
  background-color: #757575;
}
