@import '../helpers';

.o-header--page > .container-fluid {
  width: 100%;
}

.o-header--page {
  background-color: $cob-sg-charles-blue;
  height: $header-height;
  display: flex;
  align-items: stretch;
  z-index: $page-z-index;
}

.o-header__nav {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.o-header__nav > ul {
  display: flex;
  align-items: stretch;
  margin-bottom: 0;
}
.o-header__nav form.new_user {
  margin-top: 1rem;
}

.c-header-nav__group,
.c-header-nav__item {
  display: flex;
  align-items: stretch;
}

.c-header-nav__mobile-link {
  font-size: rem(20px);
  display: flex;
  align-items: center;
}
.l-content-width-md .c-header-nav__mobile-link  {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.l-content-width-lg .c-header-nav__mobile-link  {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.c-header-nav__item {
  white-space: nowrap;
  // border-right: 1px solid rgba($gray-020, .5);
}

$nav-btn-states: (
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  success: $brand-success,
);

@each $name, $color in $nav-btn-states {
  .c-header-nav__item--#{$name} {
    background: $color;
    border-right: 1px solid rgba($gray-020, .5);
    &,
    .c-header-nav__link {
      color: determine-color-for-best-contrast($color);
    }
    $hover-color: darken($color, 5%);
    &:hover,
    &:focus {
      background: $hover-color;
      &,
      .c-header-nav__link {
        color: determine-color-for-best-contrast($hover-color);
      }
    }
  }
}

.c-header-nav__link {
  @include header-menu-link;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: space(3);
  padding-right: space(3);
  .additional-context {
    display: none;
    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: space(2);
    }
  }
  i {
    font-size: 20px;
  }
  a {
    display: flex;
    align-items: center;
  }
  &[aria-expanded=true] {
    background: $white;
    color: $cob-sg-charles-blue;
  }
}

.c-header-nav__item--hidden-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.site-name {
  min-height: 5rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
  padding: 4px 5px;
  align-self: flex-start;
  z-index: $zIndex-2--site-name;
  max-width: 44vw;
  @include media-breakpoint-up(sm) {
    min-height: 6rem;
    max-width: 228px;
    padding: 8px 10px;
  }
}

.o-header--page__title {
  display: flex;
  align-self: stretch;
  align-items: center;
  @include montserrat-bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.0555;
  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

.o-header--page__title a {
  color: $cob-sg-charles-blue;
}

.o-header--page__title a:hover,
.o-header--page__title a:focus {
  text-decoration: none;
  color: lighten($cob-sg-charles-blue, 15);
}

.o-header--page__sub-title {
  display: none;
  margin-left: 1rem;
  @include media-breakpoint-up(sm) {
    display: block;
    color: #fff;
    @include montserrat-normal;
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: 1.1;
  }
  @include media-breakpoint-up(lg) {
    // @debug rem(16px);
    font-size: rem(16px);
  }
}

.c-header-nav__dropdown {
  display: flex;
  align-items: stretch;
  .btn [class^="icon-"] {
    @extend .o-header--page__sub-title;
    padding-top: 22px;
    width: 2rem;
  }
  .message-count {
    background-color: white;
    color: $link-blue;
    transform: translate(-50%, -50%);
  }
  ul li.message {
    &:last-of-type {
      margin-bottom: space(4);
    }
  }

  .show-all {
    margin: 5px auto;
  }
  .dropdown-menu {
    top: 50px;
    padding: space(2);
    min-width: 200px;
  }
}

.email-messages-envelope {
  line-height: 0;
  &::after {
    display: none;;
  }
}

.btn.email-messages-envelope:focus,
.btn.email-messages-envelope.focus {
  outline: 0;
}

.btn.email-messages-envelope [class^="icon-"]:hover {
  color:  $cob-sg-optimistic-blue;
}

.utility {
  @include media-breakpoint-up(sm) {
    margin-left: 250px;
  }
  .alert {
    margin-bottom: space(4);
  }
}

.auth-support-links {
  margin-top: 24px;
}

.user-state {
  width: 60px;
  height: 59px;
  background-color: $cob-sg-charles-blue;
  float: right;
  padding-top: 8px;
}

.user-state--link {
  @include open-sans-medium;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.user-state--link:hover,
.user-state--link:focus {
  color: $gray-030;
  text-decoration: none;
}
