@import '../helpers';

// Override these in the theme tool as necessary
.project-type-0 {
  background-color: #96a1fa;
}

.project-type-1 {
  background-color: #80C3FF;
}

.project-type-2 {
  background-color: #8EE698;
}

.project-type-3 {
  background-color: #4ACFCF;
}

.project-type-4 {
  background-color: #7FCCAB;
}

.project-type-5 {
  background-color: #b2df8a;
}

.project-type-6 {
  background-color: #FFE380;
}

.project-type-7 {
  background-color: #DEDEDE;
}

.project-type-8 {
  background-color: #FF9994;
}

.project-type-9 {
  background-color: #EF9AC1;
}

.project-type-10 {
  background-color: #FFA680;
}

.project-type-11 {
  background-color: #FFDBF7;
}

.project-type-12 {
  background-color: #B2CDE1;
}

.project-type-13 {
  background-color: #9EFFC5;
}

.project-type-14 {
  background-color: #C7E4FF;
}
