@import '../helpers';

// overrides and hacks for scenario 1 CA.
// FIXME - should be made compliant with css org system

.sb-filter-section-prs1 {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #d8d8d8;
}
.sb-link-prs1 {
  font-weight: 600;
}
.sb-link-required-prs1:after {
  margin-left: 0.2em;
  content: '*';
  color: #f26d09;
}
// .charts-prs1 .well.well {
//   background: inherit;
//   border: none;
//   padding: 0;
//   margin-bottom: 0 !important;
// }
.charts-prs1 .perf-overview-breakdown{
  margin-bottom: 3em;
}
.form-filter-section-title-prs1 {
  margin-bottom: 2em;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 0.25em;
}
.form-filters-section-prs1 {
  margin-bottom: 3em;
}
.form-filters-section-prs1 section {
  margin-bottom: 1em;
}
.form-filters-controls-prs1 {
  position: sticky;
  bottom: -1em;
  z-index: 1;
  background-color:#fff;
  margin: 2em -1em -1em;
  padding: 1em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  border-top: 1px solid #ddd;
}
.form-filters-section-prs1 .c-boolean-button label{
  padding: 0.2em 1em;
}
.nav-drawer.prs1 {
  background: #fff;
  width: 258px;
  flex-shrink: 0;
  padding-top: 55px;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(135,135,135,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(135,135,135,1);
  box-shadow: 0px 0px 4px 0px rgba(135,135,135,1);
  z-index: 3;
}
.main-outer-prs1 {
  background-color:#f8f8f8;
  flex-grow: 1;
}
.main-inner-prs1 {
  padding: 15px 20px 15px;
}
.content-outer-prs1 {
  display: flex;
  min-height: calc(100vh - 100px - 60px);
  border-bottom: 2px solid #02080d;
}
.utility-prs1 {
  min-height: 21px;
  padding: 15px 20px 0;
  background: #fff;
}
.text-color-hl-prs1 {
  color: #f26d09;
}
.top-nav-prs1 {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px 0px;
}
.chip-v2-prs1 {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
  margin-bottom: 0.35em;
  margin-right: 0.25em;
  font-size: 0.87rem;
}
.chip-v2-label-prs1 {
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid #ccc;
  color: #555;
}
.chip-v2-value-prs1 {
  color: #111;
}
.chip-v1-prs1 {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 0 0.5em;
  font-size: 0.87rem;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
}
.chart-legend-prs1 {
  display: flex;
  margin-bottom: 1em;
}
.chart-legend-item-prs1 {
  display: flex;
  margin-right: 2.5em;
  font-size: 16px;
}
.chart-legend-item-swatch-prs1 {
  width: 16px;
  height: 16px;
  margin-right: 0.75em;
  flex: 0 0 auto;
}

.hero-prs1 {
  margin-right: space(8);
  margin-bottom: space(2);
}
.hero-value-prs1 {
  line-height: 1.0;
  margin: 0;
}

.hero-value-prs2 {
  font-size: 1.5rem;
}

.hero-unit-prs1 {
  color: #555;
  line-height: 1.4;
  font-size: 0.9rem;
}
.h1-hero-prs1 {
  font-size: 2.6rem;
}
.disaggregation-picker-prs-1 {
  margin-bottom: 2.5em
}
.disaggregation-picker-prs-1 label {
  font-size: 1.25rem;
}
.disaggregation-picker-prs-1 .select2-selection {
  background: #fff !important;
  padding: 0 !important;
  min-height: initial !important;
}
.disaggregation-picker-prs-1__disaggregation {
  min-width: 20rem;
}
.h5-prs1 {
  color: #555;
  font-weight: 700;
}

// client perf chart width constraint for reflow on window resize
.prs-chart-width-container {
  max-width: calc(100vw - (350px));
  @media (min-width: 1200px) {
    max-width: calc(100vw - (550px));
  }
}
