@import '../helpers';

// Override these in the theme tool as necessary
.race-0 {
  background-color: #78909C;
}

.race-1 {
  background-color: #A5D6A7;
}

.race-2 {
  background-color: #6200EA;
  color: white;
}

.race-3 {
  background-color: #BA68C8;
  color: white;
}

.race-4 {
  background-color: #00838F;
  color: white;
}

.race-5 {
  background-color: #BC6923;
  color: white;
}

.race-6 {
  background-color: #beaed4;
}

.race-7 {
  background-color: #ffff99;
}

.race-8 {
  background-color: #fdc086;
}

.race-9 {
  background-color: #386cb0;
  color: white;
}
