@import '../helpers';

.big-block {
  font-size: $h2-font-size;
}

.big-block > * {
  padding: 0.25em;
}

.big-block .body {
  background-color: $cob-sg-charles-blue;
  color: white;
}

.big-arrow-up { position: relative;
  display: inline-block;
  background-clip: content-box;
  width: 100%;
  height: 1em;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

.big-arrow-up:before {
  content: '';
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: red;
  padding-bottom: 50%;
  width: 57.7%;
  z-index: 1;
  -webkit-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;

  -webkit-transform: rotate(-30deg) skewX(30deg);;
  -ms-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
}

.table-reports {
  thead:not(:first-of-type) tr.report-base th {
    padding-top: space(7);
    border-top: 0;
  }
}
.pdq_actions
{
  background-color: $white;
  padding: 2rem;
  border-top: 1px solid $brand-primary;
}

.incomplete-field {
  background-color: $brand-warning-l;
}
.hud-report-options {
  h2 {
    padding-bottom: 0.25em;
    border-bottom: 2px solid $brand-primary-l;
  }
}
.report-nav {
  .nav-link {
    padding: space(2) calc(#{space(4)} - 5px);
    &.active {
      font-weight: bold;
    }
  }
}

.filter__selected-projects {
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
  border-left: 2px solid $brand-primary-l;
  padding-left: 2em;

  .scroll-box {
    min-height: 200px;
    max-height: 250px;
    overflow: auto;
    background:
      linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
      linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(170,170,170, 0.75), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 50% 100%, rgba(170,170,170, 0.75), rgba(0,0,0,0)) 0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 57px, 100% 57px, 100% 19px, 100% 19px;
  }
}
