@import '../helpers';

.big-block {
  font-size: $h2-font-size;
}

.big-block > * {
  padding: 0.25em;
}

.big-block .body {
  background-color: $cob-sg-charles-blue;
  color: white;
}

.big-arrow-up { position: relative;
  display: inline-block;
  background-clip: content-box;
  width: 100%;
  height: 1em;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

.big-arrow-up:before {
  content: '';
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: red;
  padding-bottom: 50%;
  width: 57.7%;
  z-index: 1;
  -webkit-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;

  -webkit-transform: rotate(-30deg) skewX(30deg);;
  -ms-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
}

.table-reports {
  thead:not(:first-of-type) tr.report-base th {
    padding-top: space(7);
    border-top: 0;
  }
}
.pdq_actions
{
  background-color: $white;
  padding: 2rem;
  border-top: 1px solid $brand-primary;
}

.incomplete-field {
  background-color: $brand-warning-l;
}
.hud-report-options {
  h2 {
    padding-bottom: 0.25em;
    border-bottom: 2px solid $brand-primary-l;
  }
}
.report-nav {
  .nav-link {
    padding: space(2) calc(#{space(4)} - 5px);
    &.active {
      font-weight: bold;
    }
  }
}
