.roles {
  .card-header {
    padding: 0;
  }
  .user-role {
    padding: 0.75rem 1.25rem;
    // border-right: 2px solid black;
  }
  .role-names, .card-body {
    // border-right: 2px solid black;
  }
  .permission-header {
    padding: 0.75rem 1.25rem;
  }
  .role-list {
    // width: 25%;
    // border-right: 2px solid black;
  }
  .role-form {
    // width: 75%;
  }
  .role-wrapper {
    overflow: scroll;
  }
}
