@import '../helpers';

.table thead th {
  font-weight: 600;
}

.table-utilities {
  @include media-breakpoint-down(sm) {
    margin: 12px 0 24px;
  }
}

.table-simple thead tr th,
.table-simple tbody tr th,
.table-simple tbody tr td {
  border: 0;
}

// .table > thead > tr > th,
// .table > thead > tr > td,
// .table > tbody > tr > th,
// .table > tbody > tr > td,
// .table > tfoot > tr > th,
// .table > tfoot > tr > td {
//   line-height: 1.1;
// }
.table__init-cap-header th {
  text-transform: capitalize;
}
th[class^="sort-"] {
  background-color: $cas-red-green;
}
.table__full-width {
  width: 100%;
}
.table-responsive span[class^="icon-"],
.table-responsive span[class*="icon-"] {
  font-size: rem(12);
}

// DataTables
ul.pagination {
  margin: 0 0 space(4) 0;
}
.dataTables_filter
{
  font-size: 0.8rem;
  input {
    width: 8em;
    margin-left: 1em;
  }
}
.dataTables_wrapper
{
  font-size: $font-size-small;
  overflow: auto;
}
.dataTables_wrapper > .row
{
  margin-right: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button
{
  padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
  background-color: transparent;
  background: linear-gradient(to bottom, transparent 0%, transparent 100%);
  box-shadow: inset 0 0 3px #transparent;
  border: 1px solid transparent;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  /* FF3.6+ */
  /* IE10+ */
  /* Opera 11.10+ */
   background: linear-gradient(to bottom, transparent 0%, transparent 100%);
  /* W3C */
  box-shadow: inset 0 0 3px transparent;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'icons';
  src: font-url('icons.eot?mjkcjl');
  src: font-url('icons.eot?mjkcjl#iefix') format('embedded-opentype'),
      font-url('icons.woff2?mjkcjl') format('woff2'),
      font-url('icons.ttf?mjkcjl') format('truetype'),
      font-url('icons.woff?mjkcjl') format('woff'),
      font-url('icons.svg?mjkcjl#icons') format('svg');
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: auto;
  bottom: 6px;
  right: 6px;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: " ";
  /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: "\ea32"
  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: "\ea36"
  /* sort-by-attributes-alt */
}

.table .table__actions {
  a {
    &,
    i {
      color: $gray-060;
      font-size: 1.5rem;
      &:hover {
        color: $black;
      }
    }
    &.btn-link--danger {
      color: $brand-danger-d;
      font-size: 1.75rem;
      &:hover {
        color: darken($brand-danger-d, 10%);
      }
    }
  }
}
.public-agencies .dataTable {
  border: 1px solid $gray-034;
  margin-bottom: 2rem !important;
  margin-top: 1rem !important;
}
