@import '../helpers';

.utility {
  min-height: 60px;
  padding: 8px 0;
  @media (max-width: $screen-sm-min) {
    margin-top: 40px;
  }
  @include media-breakpoint-down(sm) {
    &:empty {
      min-height: 0px;
    }
  }
}

.crumbs a {
  margin-right: 12px;
}

.cursor-pointer
{
  cursor: pointer;
}
