@import '../helpers';

// Override these in the theme tool as necessary
.veteran-status-0 {
  background-color: #9B2F38;
  color: white;
}

.veteran-status-1 {
  background-color: #404C9D;
  color: white;
}

.veteran-status-2 {
  background-color: #DB9B34;
}

.veteran-status-3 {
  background-color: #a6cee3;
}
