@import '../helpers';

.vspdat-row {
  // font-size: 2em;
}
.vspdat-row__created_on {
  width: 12em;
}
.vspdat-row__score {
  font-weight: bold;
}

.highlight {
  animation: highlight 2s;
}

.highlight-positive {
  animation: highlight-positive 2s;
}
