@import '../helpers';

.warehouse-reports__client
{
  margin: 1em 0;
  border: 1px solid $gray-040;
}
.warehouse-reports__client .row
{
  padding: 1em;
}
.warehouse-reports__client .rollup
{
  font-size: 0.9em;
}
.warehouse-reports__client-name
{
  background-color: $gray-015;
  padding: 1em;
}
.warehouse-reports__enrollment-highlighted
{
  font-weight: bold;
}
.warehouse-reports__completed .parameter-label,
.warehouse-reports__chronic .parameter-label,
.warehouse-reports__disabled .parameter-label,
.warehouse-reports__active-veterans .parameter-label,
.warehouse-reports__parameters .parameter-label,
.reports .parameter-label
{
  border-radius: 5px 0px 0px 5px;
}
.warehouse-reports__completed .parameter-value,
.warehouse-reports__chronic .parameter-value,
.warehouse-reports__disabled .parameter-value,
.warehouse-reports__active-veterans .parameter-value,
.warehouse-reports__parameters .parameter-value,
.reports .parameter-value
{
  border-radius: 0px 5px 5px 0px;
  max-width: 100%;
}
.warehouse-reports__hmis_export
{
  overflow: scroll;
}
.reports .parameter-value a
{
  color: black;
}

.warehouse-reports__initiatives .y-axis,
.warehouse-reports__initiatives .x-axis,
.warehouse-reports__initiatives .legend,
.warehouse-reports__initiatives .bar-label
{
  path,
  line {
    stroke: #828282;
  }
  text
  {
    fill: #404040;
  }
}

.warehouse-reports__initiatives .y-axis__label {
  alignment-baseline: middle;
  @include open-sans-condensed-bold;
}

.warehouse-reports__initiatives .x-axis{
  text {
    @include open-sans-normal;
  }
}

.warehouse-reports__user-permission {
  td {
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      margin-bottom: 0.5em;
    }
  }
}

.modal-content .warehouse-reports__user-permission__profile {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    padding-left: 1em;
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.report-hightlight
{
  background-color: $brand-warning-l;
}

.report-parameters
{
  display: flex;
  flex-wrap: wrap;
}
.report-parameters-all,
.warehouse-reports__completed,
.report-parameters {
  .report-parameters__parameter {
    display: block;
    .label {
      display: block;
      font-size: 1rem;
      &.parameter-label,
      &.parameter-value {
        background: transparent;
        color: $gray-darker;
      }
      &.parameter-label {
        margin-bottom: 0;
      }
      &.parameter-value {
        font-weight: normal;
        margin-bottom: 1rem;
      }
    }
  }
}
.report-parameters__parameter
{
  display: flex;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  .label {

  }
  .parameter-label {
    background: transparent;
  }
}

.data-quality__table
{
  white-space: nowrap;
}
.data-quality__group-header
{

}
.data-quality__odd-columns
{
  background-color: #e3e3e3;
}

.data-quality__middle
{
  vertical-align: middle !important;
}

.table-bordered > thead > tr > th.agency-performance__date-effected,
.table-bordered > tbody > tr > td.agency-performance__date-effected,
.table-bordered > tfoot > tr > td.agency-performance__date-effected
{
  border-left: 4px solid $gray-050;
}

.agency-performance__without
{
  background-color: lighten($brand-primary-ll, 5%);
}

.nav-tabs > li.active.payable > a,
.nav-tabs > li.active.payable > a:hover,
.nav-tabs > li.active.payable > a:focus
{
  box-shadow: inset 0px 2px 0px 0px $brand-success;
}

.nav-tabs > li.payable > a:link
{
  box-shadow: inset 0px 2px 0px -1px $brand-success;
}

.data-quality__target-line
{
  stroke-dasharray: 3 4; stroke-width: 3px;
}

.chunk {
  &:only-child {
    margin-bottom: 0;
  }
  .title {
    margin: 0 0 space(4) 0;
    font-size: rem(20px);
    line-height: (24/20);
  }
  .metric {
    font-size: rem(22px);
    font-weight: 700;
    line-height: (26/22);
    margin-bottom: space(2);
  }
  .metric-sm [class^=icon]{
    font-size: rem(22px);
  }
  .description {
    font-size: 1rem;
    line-height: (18/16);
    color: $gray-600;
  }
  [class^=icon] {
    margin-bottom: space(2);
    font-size: 3rem;
    line-height: 1;
    font-weight: normal;
  }
  .text-success [class^=icon] {
    color: $brand-success;
  }
  .text-danger [class^=icon] {
    color: $brand-danger;
  }
  .title,
  [class^=icon] {
    color: $gray-700;
  }
  .icon-svg,
  svg {
    fill: $gray-700;
  }
  .icon-svg {
    margin-bottom: space(2);
  }
}

@for $i from 1 through length($indicator-colors) {
  $color: nth($indicator-colors, $i);
  .performance-measurement--highlight-#{$i} {
    background: $color;
    color: darken($color, 60%);
  }
  .performance-measurement--highlight-light-#{$i} {
    background: lighten($color, 5%);
    color: darken($color, 60%);
  }
}

.performance-measurement__collapsiblePanel {
  > .c-card__content {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .panel-body > div:last-child {
    border-bottom: 0 !important;
  }
}
.performance-measurement__result-number {
  font-size: 1.2rem;
}
.performance-measurement .super-rounded {
  border-radius: 100px;
  font-weight: bold;
  font-size: 1.2rem;
}
