- filter_class = if @active_filter then 'filter-active' else 'filter' end
#filter-anchor.dropdown.o-filtration{class: filter_class}
  %button.btn.btn-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }}
    %span Filter
    %span.caret

  .o-filtration__container.dropdown-menu.dropdown-menu-right.options
    .o-filtration__header
      %h3.client__filter-header Filter report list
    = form_tag(link_params.except('action', 'controller').merge(anchor: 'filter-anchor'), method: 'get') do

      .o-filtration__option.row
        .col-sm-12
          %label Date Range
          .o-filtration__option-row
            .input-group.date{ data: { provide: :datepicker }}
              %input.form-control{ name: :history_filter_start, type: :text, value: @view_filter[:history_filter_start] }
              .input-group-append
                %button.icon-calendar.btn.btn-secondary{ type: 'button' }
            .o-filtration__separator to
            .input-group.date{ data: {provide: :datepicker }}
              %input.form-control{ name: :history_filter_end, type: :text, value: @view_filter[:history_filter_end] }
              %span.input-group-append
                %button.icon-calendar.btn.btn-secondary{ type: 'button' }

      .o-filtration__option.row
        .col-sm-12
          .o-filtration__option-row
            - if can_view_all_reports?
              - creator_options = options_from_collection_for_select(view_filter_available_users, :first, :last, @view_filter[:history_filter_creator])
              = render 'inputs/select', field_name: :history_filter_creator, label: 'Creator', options: creator_options

      .o-filtration__actions.form__actions
        = link_to path_for_clear_view_filter, class:'btn btn-secondary' do
          %span.icon-cross.icon-inline
          Clear Filters
        %button.btn.btn-primary.ml-auto{type: :submit}
          %span.icon-filter.icon-inline.mr-1
          Filter
