.ho-container.rrh
  .ho-container__header
    %h3 Outcomes
  .d-flex
    .rrh__outcomes-destination.mr-4.mb-4
      %h4.title
        Destination at Exit
      %p.description
        A
        %strong successful exit to permanent housing
        is defined as an exit to permanent housing with no subsequent returns to homelessness.
        An
        %strong exit to another institution
        is defined as an exit to another institution such as a hospital or detox center with no subsequent returns to homelessness.
        An
        %strong unknown exit
        is defined as an exit to an unknown destination with no subsequent return to homelessness.
      .metric.d-flex
        .ml-auto.mr-auto
          #jDestinationChart.rrh__destination-chart
