.warehouse-reports__data-quality-reports
  %h3 Coordinated Access System Reports
  .row
    .col-sm-4
      = link_to warehouse_reports_cas_decision_efficiency_index_path do
        Decision Efficiency
      %br
      Shows how quickly clients move through CAS steps.
    .col-sm-4
      = link_to warehouse_reports_cas_decline_reason_index_path do
        Decline Reason
      %br
      Why a CAS matches were declined.
    .col-sm-4

