= f.input :start, input_html: {value: @range.start, class: 'form-control jStart'}, as: :date_picker, label: 'Start date'
= f.input :end, input_html: {value: @range.end, class: 'form-control jStart'}, as: :date_picker, label: 'End date'
