.well
  %p The report data has been archived. To view the report, reload it from the archived data.
  = form_with url: reload_url, method: :post, local: true do |f|
    = f.submit 'Reload Report from Archived Data', class: 'btn btn-primary'
