%ul.nav.nav-tabs{role: :tablist}
  %li.active{role: :presentation}
    %a{href: '#other-reports', role: :tab, data: {toggle: :tab}, aria: {controls: 'Operational Reports'}}
      Operational Reports
  %li{role: :presentation}
    %a{href: '#data-quality-reports', role: :tab, data: {toggle: :tab}, aria: {controls: 'Data Quality Reports'}}
      Data Quality
  %li{role: :presentation}
    %a{href: '#cas-reports', role: :tab, data: {toggle: :tab}, aria: {controls: 'Data Quality Reports'}}
      CAS
