%ul.nav.nav-tabs{role: :tablist}
  - if can_view_reports?
    - GrdaWarehouse::WarehouseReports::ReportDefinition.group(:report_group).count.keys.each_with_index do |group_name, index|
      %li{role: :presentation, class: (index == 0 ? 'active' : '')}
        %a{href: "##{group_name.parameterize.dasherize}", role: :tab, data: {toggle: :tab}, aria: {controls: '#{group_name}'}}
          #{group_name}
  - if can_view_aggregate_health?
    - active_class = ''
    - if ! can_view_reports?
      - active_class = 'active'
    %li{role: :presentation, class: active_class}
      %a{href: '#health-reports', role: :tab, data: {toggle: :tab}, aria: {controls: 'Health Reports'}}
        Health
