.alert.alert-warning
  %p
    %i.icon-warning.icon-lg
    This report uses a pre-FY2023 HUD report for some of it's calculations.  Because of changes to the FY2024 HUD HMIS data standards, this report may not run, or produce meaningful results until the assoiated HUD report has been updated.  This notice will be removed once the underlying HUD report has been updated.
