- content_for :title, "Youth Intakes"
= render 'clients/breadcrumbs'

= render 'clients/aliases'
= render 'clients/tab_navigation', current: client_youth_intakes_path(client_id: @client)

= render 'clients/youth/intakes/intakes'
