- @messages.each_with_index do |message, i|

  Subject: #{message.subject}
  Sent at: #{message.created_at.to_fs(:long)}

  = message.sanitized_body(render_as: :text)

  - unless i == @messages.length - 1
    = "---------------------------------------------------------"
