- @messages.each_with_index do |message, i|

  Subject: #{message.subject}
  Sent at: #{message.created_at.to_fs(:long)}

  = message.body_text

  - unless i == @messages.length - 1
    = "---------------------------------------------------------"
