- data = { url: @pdf_export&.data_url, status: 'pending' }
.hide.j-document-export-title Download Export
.hide.j-document-export-body{data: data}
  .doc-export-part.pending
    .lead.d-flex.mb-3
      .mr-2= render 'spinner'
      %div Please wait, your request is being processed.  You can continue to use the site and return for your download.
    .text-right
      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel

  .doc-export-part.completed
    .lead.mb-4
      Processing complete. Your file is available for download.
    %div
      %a.text-white.j-download-link.btn.btn-default{href: '#'} Download

  .doc-export-part.error
    .lead.mb-3
      We're sorry, an error occurred while processing your request. Please try again.
    .text-right
      %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

:css
  .doc-export-part {
    display: none;
  }
  [data-status="pending"] .doc-export-part.pending {
    display: block;
  }
  [data-status="completed"] .doc-export-part.completed {
    display: block;
  }
  [data-status="error"] .doc-export-part.error {
    display: block;
  }
