%h2 
  %span Changes in Length of Stay in Days
= render 'length_of_stay_outcomes'
%h2 
  %span Changes in Income
= render 'income_outcomes'
%h2 
  %span Destination Counts
= render 'destination_outcomes'