%ol.import__errors
  - if error['message'].present?
    %li
      - if error['message'].empty?
        = 'Unknown error'
      - else
        = error['message']
      - if error['line'].present?
        %ul
          %li
            = error['line']