- reports = [@report]
- column_class = 'col-sm-8'
- if @report.include_comparison?
  - reports << @comparison
  - column_class = 'col-sm-6'
%h3 Summary Elements
.row
  - reports.each_with_index do |report, index|
    - comparison_class = ''
    - if reports.count > 1
      - comparison_class = "c-swatch__border-left--td-#{index}"
    %div{class: column_class}
      .card.mb-4{class: comparison_class}
        %table.table.table-striped
          %tbody
            - report.summary_data.each do |title, value|
              %tr
                %th= title
                %td= number_with_delimiter(value)
