.well
  %p
    The Housing Inventory Count includes seven tables of project related data.
  %p
    = link_to history_hud_reports_pits_path do
      See the history of all report runs and download zip files
  %p
    = link_to new_hud_reports_pit_path do
      Generate New PIT
= render 'hud_reports/all_questions_table'
