- if @pagy.count.positive?
  .text-right
    = render 'hud_reports/view_filter'
  .jReportListing
    = render 'reports'
  = render 'hud_reports/list_refresher'
- else
  .none-found.mt-4 No reports to show
