- title = 'Chronic Reconcilliation Report'
- content_for :title, title
%h1= content_for :title

= simple_form_for @date, as: :date, url: warehouse_reports_cas_chronic_reconciliation_index_path, method: :get do |f|
  = 'test'
  