.well
  .mb-4
    %p Use this form to upload test results files for #{GrdaWarehouse::Config.current_health_emergency_tracing_title}.  The file should be an Excel file with the following headers.
    %p Please note, any positive results that are matched to a client, will also add a medical restriction to that client's record.
    .card
      %table.table.table-condensed
        %thead
          %tr
            %th Last name
            %th First name
            %th Date of birth
            %th Gender
            %th Test date
            %th Test location
            %th Test result
            %th SSN
  = f.error_notification
  .form-inputs
    = f.input :file
