.row.mb-5.mt-3
  .col-md-6
    %dt Release Type
    %dd
      - if @client.housing_release_status.present?
        %i.icon-unlocked
        = @client.housing_release_status 
      - else
        %i.icon-lock
        Not Signed
    %dt Consent Form Confirmed
    %dd
      - confirmed = @client.consent_confirmed?
      = checkmark_or_x confirmed
      - unless confirmed
        Form Not Confirmed
    %dt Consent Form Signed On
    %dd
      - signed_date = @client.consent_form_signed_on
      - if signed_date
        %i.icon-calendar
        = signed_date
      - else
        %i.fa.fa-times-circle.o-color--warning.inline-icon
        Form Not Signed
  .col-md-6
    = render 'window/clients/consent_form_flags'

    