%section.o-section-card
  %header
    %h3 Encampment Decomissioning Status
  .c-card.c-card--flush.c-card--padded.c-card--block
    = f.input :encampment_decomissioned, as: :boolean, label: 'Encampment Decomissioned'
