%p
  Any client with a
  %strong confirmed
  full or partial release (consent form) on file will sync with CAS.

%p
  Will
  %strong= @client.name
  sync with CAS?
  %br
  = yes_no @client.active_in_cas?(include_overridden: false)
%p
  You can force this client to sync with CAS by checking the following box:
  = f.input :sync_with_cas, as: :boolean, label: GrdaWarehouse::Hud::Client.cas_columns[:sync_with_cas], label: 'Force client into CAS'
