%p
  Any client with a
  %strong confirmed
  full or partial release (consent form) on file will sync with CAS.

%p
  Will
  %strong= @client.name
  sync with CAS?
  %br
  = yes_no @client.active_in_cas?