- if can_view_vspdat?
  %h3 VI-SPDAT Related

  %dl.o-list--featured.row
    .col-sm-6
      %dt Days homeless in past 3 years, HMIS Based
      %dd= @client.days_homeless_in_last_three_years

    .col-sm-6
      %dt Days reported on VI-SPDAT
      %dd= @client.most_recent_vispdat_length_homeless_in_days

  .row
    .col-sm-4
      = f.label :vispdat_prioritization_days_homeless do
        Days for use in VI-SPDAT Prioritization
      = f.input :vispdat_prioritization_days_homeless, label: false, input_html: {value: f.object.vispdat_prioritization_days_homeless || @client.days_homeless_in_last_three_years}
