.page-break-avoid
  %h2.mt-2 Enrollment Completeness
  .well
    .prs-chart-no-legend-width-container
      .completeness-chart.jChart{class: "completeness-chart-enrollments"}
        %p.jLoading Loading
= content_for :page_js do
  :javascript
    $(document).ready(function() {
    });
