.page-break-avoid
  %h2.mt-2 Timeliness
  .well.overflow-scroll
    .row
      .col-sm-6
        %h3.text-center Time to Enter
        %h4.text-center Goal: #{pluralize(@report.timeliness_entry_goal, 'day')} or less
        .time-to-enter-chart.jChart
          %p.jLoading Loading
      .col-sm-6
        %h3.text-center Time to Exit
        %h4.text-center Goal: #{pluralize(@report.timeliness_exit_goal, 'day')} or less
        .time-to-exit-chart.jChart
          %p.jLoading Loading

= content_for :page_js do
  :javascript
    $(document).ready(function() {
    });
