= render 'header'

%ul.nav.nav-tabs.mb-0
  %li.nav-item
    %a.nav-link.active{href: '#by_category', role: "presentation", data: {toggle: :tab}, aria: {controls:"by-category", selected:"true"}}
      By Category
  %li.nav-item
    = link_to 'By Client', by_client_hmis_data_quality_tool_warehouse_reports_report_path(@report), class: 'nav-link'

.tab-content.mt-4
  .tab-pane.show.active.fade#by_category{role: 'tabpanel', aria: {labelledby: 'by-category'}}
    .pull-right= render 'report_downloads/report_download', export: @pdf_export, excel_download_path: nil
    = render 'by_category'
