%table.table.table-bordered
  %tbody
    %tr
      %th{colspan: 2} Performance Criteria
      %th{colspan: 2} Purpose & Source of Measurement
      %th{colspan: 3} Formula Information
      %th Performance Calculation
      %th Points: 10
      %th Points: 5
      %th Points: 0
      %th Total
