= render 'breadcrumbs'

= simple_form_for @report, url: project_scorecard_warehouse_reports_scorecard_path(@report), wrapper: :readonly do |f|

  .row
    .col-sm-8
      %h1 Project Scorecard
    .col-sm-4
      .text-right
        = link_to edit_project_scorecard_warehouse_reports_scorecard_path(@report), class: 'btn btn-primary' do
          %i.icon.icon-pencil
          Edit

  = render 'form', f: f