- title = 'System Tasks'
= content_for(:title, title)
%h1= content_for :title

%p System tasks are expected to run on a regular schedule.

= render_paginated_list(scope: @tasks, item_name: 'tasks', list_partial: 'list')
