.summary.text-center
  .row
    .col-sm-5
      .big-block
        .title
          Unduplicated Clients
        .body
          = @client_count
    .col-sm-2
      .big-block
        .title
          Enrollments
        .body
          = @enrollments.values.flatten(1).count
%canvas#active-chart{style: 'width: 100%; height: 300px;', data: {labels: @labels.to_json, data: @data.to_json}}