- chart_options ||= { totals: @report.census_by_month }

.ho-container.rrh
  .ho-container__header
    %h3 Census
  .o-chart
    %h4.o-chart__title Monthly Census by Project Type
    .jMonthlyCensus

= content_for :page_js do
  :javascript
    new App.Dashboards.Clients.Census('.jMonthlyCensus', #{@report.census_by_project_type.to_json}, '#{@report.sub_population_title}', '', #{chart_options.to_json});
