- chart_options ||= { remote: true }

.ho-container.rrh
  .ho-container__header
    %h3 Census
  .o-chart
    %h4.o-chart__title Monthly Census by Project Type
    .jMonthlyCensus{ data: { chart: { data: @report.census_by_project_type.to_json.html_safe, columns: @report.census_by_month.to_json.html_safe}}}

- if @pdf
  = content_for :page_js do
    :javascript
      new App.Dashboards.Clients.Census('.jMonthlyCensus', '#{@report.sub_population_title}', '', #{chart_options.to_json.html_safe});
