- content = describe_computations.html_safe

- if @html
  #computation-accordion.panel-group.panel-collapsible
    - content_for :panel_collapse_content, flush: true do
      = content

    = render 'common/panel_collapse', id: 'computation-info', title: 'How this Data is Computed'
- else
  = content
