.ho-container
  .ho-container__header
    %h3 Downloads
  - if can_see_client_details?
    = link_to({action: :index, format: :xlsx}.merge(choose_report: report_params), {class: 'btn btn-secondary mr-4'}) do
      %i.icon-download2
      Supporting Data

  = link_to({action: :index, format: :pdf}.merge(choose_report: report_params), {class: 'btn btn-secondary'}) do
    %i.icon-download2
    Report as PDF
