.summary.text-center
  .row
    .col-sm-4
      .big-block
        .title
          Exits to PH in the past 3 years
        .body
          = @ph_exits.map{|_,m| m[:data].sum}.sum
      
%canvas#housed-chart{style: 'width: 100%; height: 300px;', data: {labels: @all_exits_labels.to_json, data: @ph_exits.to_json}}

%h3 All Exits from Homeless Programs by Destination
%canvas#destination-chart{style: 'width: 100%; height: 500px;', data: {labels: @all_exits_labels.to_json, data: @all_exits.to_json}}