.ho-container.ho-container--lead.l-page__no-margin
  .ho-container__summary.l-page__no-padding-b
    .chunk.l-page__w-100
      %i.icon-house
      .metric
        #{pluralize(@report.all_housed_client_count, @report.sub_population_title)} housed to date
      .description
        (#{@report.date_range.first} to #{@report.date_range.last})
