.well
  .summary.text-center
    .row
      .col-sm-4
        .big-block
          .title
            Exits to PH from homelessness
          .body
            = @ph_exits.map{|_,m| m[:data].sum}.sum
      .col-sm-4
        .big-block
          .title
            Unique Clients Exiting to PH
          .body
            = @ph_clients.size
        
  %canvas#housed-chart{style: 'width: 100%; height: 300px;', data: {labels: @all_exits_labels.to_json, data: @ph_exits.to_json}}

  %h3 All Exits from Homeless Programs by Destination
  %canvas#destination-chart{style: 'width: 100%; height: 500px;', data: {labels: @all_exits_labels.to_json, data: @buckets.to_json}}
  .updated_on.small.text-muted
    Last Updated on: #{@report.finished_at.to_date}