.ho-container.ho-container--lead.l-page__no-margin
  .ho-container__summary.l-page__no-padding-b
    .chunk.l-page__w-100
      %i.icon-house
      .metric
        = link_to warehouse_reports_client_details_exits_path(range: {start: Reporting::MonthlyReports::Veteran::LOOKBACK_START.to_date, end: Date.today, sub_population: @report.sub_population}, ph: 'true'), target: :_blank do
          #{pluralize(@report.all_housed_client_count, @report.sub_population_title)} housed to date
      .description
        (#{@report.date_range.first} to #{@report.date_range.last})
