%table.table.table-bordered
  %thead
    %tr
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th{rowspan: 9} Project Performance
      %td 1. Exits from RRH and retention in PSH
      %td See individual calculations for 1.a. and 1.b.
      %td.bg-info
      %td.bg-info
      %td.bg-info
      %td.bg-info
    %tr
      %td 1.a. RRH: Exits RRH to PH (benchmark 80%)
      %td APR Q23c Cell 46B
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %th{rowspan: 8} #{@report.project_performance_weight}%
      %td
      %td
    %tr
      %td 1.b. PSH: % of clients who remained in PSH or exited to PH (benchmark 80%) (stayers & leavers)
      %td
        B1 from APR Q5a
        %br
        B43, B44, B45 from APR Q23c
        %br
        %small (B1 - B43 + B44) / (B1 - B45)
      %td
        12 pts: 100-75%
        %br
        6 pts: 74-55%
        %br
        4 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td
      %td
    %tr
      %td 2. % of clients who increased income through employment(Stayers- measured from start and annual assessment)
      %td APR Table Q19a1, Cell J2
      %td
        6 pts: 100-75%
        %br
        3 pts: 74-55%
        %br
        2 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td
      %td
    %tr
      %td 3. % of clients who increased non-earned income (ex. social benefits) (Stayers- measured from start and annual assessment)
      %td APR Table Q19a1, Cell J4
      %td
        6 pts: 100-75%
        %br
        3 pts: 74-55%
        %br
        2 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td
      %td
    %tr
      %td 4. % of Clients who increased income growth through employment (Leavers – measured from start and exit)
      %td APR Table Q19a2, Cell J2
      %td
        6 pts: 100-75%
        %br
        3 pts: 74-55%
        %br
        2 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td
      %td
    %tr
      %td 5. % of clients who increased non-earned income (ex. social benefits) (Leavers – measured from start and exit)
      %td APR Table Q19a2, Cell J4
      %td
        6 pts: 100-75%
        %br
        3 pts: 74-55%
        %br
        2 pts: 54-25%
        %br
        0 pts: 24% - 0%
      %td
      %td
    %tr
      %td 6. Time to Lease Up; avg days from project admit date to date housed- project
      %td APR  Table 22c: Length of Time between Project Start Date and Housing Move-in Date, Row 11B: Average Length of time to Housing
      %td
        12 pts: 30 day or less
        %br
        6 pts: 31-60 day
        %br
        4 pts: 61-180 days
        %br
        0 pts: over 180 days
      %td
      %td