%table.table.table-bordered
  %thead
    %tr
      %th{style: 'width:10%'} Criteria Topic
      %th{style: 'width:15%'} Scored Criteria
      %th{style: 'width:15%'} Criteria Source
      %th{style: 'width:15%'} Point Scale
      %th Weight
      %th Source Value
      %th Score
  %tbody
    %tr
      %th{rowspan: 2}
        Racial Equity
        %p
        To answer “yes” under this element, projects must submit evidence or an attestation that satisfies the scoring element criteria.
        %p
        To qualify, the actions must have been taken within the last three years.
      %td
        19. The project applicant currently has a process to identify whether participants over-represented in the
        homeless system (e.g., Black, Latinx, LGBQIA, people of color) face barriers to equitably accessing or
        receiving services from their organization.
      %td City Application
      %td TBD
      %th{rowspan: 2} #{@report.racial_equity_weight}%
      %td
      %td
    %tr
      %td
        20. The project applicant currently has a plan to address or eliminate barriers identified to participants
        over-represented in the homeless system (e.g., Black, Latinx, LGBQIA, people of color), OR no barriers were
        identified in the assessment above.
      %td City Application
      %td TBD
      %td
      %td