-#%h2{id: 'racial-equity'}  Racial Equity
-#%table.table.table-bordered
-#  %thead
-#    %tr
-#      %th{style: 'width:10%'} Criteria Topic
-#      %th{style: 'width:15%'} Scored Criteria
-#      %th{style: 'width:15%'} Criteria Source
-#      %th{style: 'width:15%'} Point Scale
-#      %th Weight
-#      %th Source Value
-#      %th Score
