%ul.nav.nav-tabs
  - nav_class = if active_tab == :roles then 'active' else '' end
  %li.nav-item{class: nav_class}
    = link_to 'Roles', hmis_admin_roles_path, class: 'nav-link'
  - nav_class = if active_tab == :groups then 'active' else '' end
  %li.nav-item{class: nav_class}
    = link_to 'Groups', hmis_admin_groups_path, class: 'nav-link'
  - nav_class = if active_tab == :access_controls then 'active' else '' end
  %li.nav-item{class: nav_class}
  = link_to 'Access Control Lists', hmis_admin_access_controls_path, class: 'nav-link'
