= f.input :optional_files, collection: @filter.available_file_tags, required: false, input_html: { multiple: true, placeholder: 'Choose a File Tag' }, label: control.label, hint: control.hint, as: :grouped_select_two, group_method: :last
