= f.error_notification

.form-inputs
  = f.input :name
  = f.input :projects, collection: GrdaWarehouse::ProjectGroup.available_projects(current_user),  selected: @project_group.project_ids,  input_html: {class: 'select2', multiple: :multiple}
  = f.input :users, collection: @groups, as: :grouped_select, group_method: :last, selected: @group_ids, input_html: {class: 'select2', multiple: :multiple},  label: 'Users and groups'