- if any_invisible_projects?
  .alert.alert-danger.d-block
    %h3
      %i.icon-warning
      There Are Projects in This Project Group That You Cannot Access
    %p If you save this form projects will be removed from this group.  This is probably not what you intend to do.  Please reach out to your system administrator to ensure you have access to the appropriate projects and project groups.
