# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5d14ea27dbaf5771a43492973a702403225587ef32fc583cdc8fc82843fc596bee3db54b1cf36e0b58176fcd0adb61905d0c8af268fda1eac6af2a2b67920dc6

test:
  secret_key_base: f0dae734a3b659b1f91beed71a87dfb09935dad64a9aa685ba1946d9723443306ab8eb3ba276df909f31651535405d161a255cc3e93710cc2eb51ce7c847ae08