= f.input :ethnicities, collection: HudUtility.ethnicities.invert, required: false, input_html: { multiple: true, placeholder: 'Any Ethnicity' }, label: control.label, as: :select_two, placeholder: 'Any Ethnicity'
