= content_for :crumbs do
  = link_to client_health_flexible_service_vprs_path(@client) do
    &laquo; #{ @client.name }
  = link_to client_health_flexible_service_vpr_path(@client, @vpr) do
    &laquo; VPR
