.well.mb-8
  = render 'equity'
.well
  = render 'time'
= content_for :page_js do
  :javascript
    $('body').on('click', '.jChartLoaderItemTime', function(e) {
      let menu_item = $(e.target).data('menu-item');
      let other_element = $(`.jChartLoaderItemEquity[data-menu-item=${menu_item}]`);
      document.querySelector('#equity-controller').chartLoader.loadChartData(other_element);
    });
    $('body').on('click', '.jChartLoaderItemEquity', function(e) {
      let menu_item = $(e.target).data('menu-item');
      let other_element = $(`.jChartLoaderItemTime[data-menu-item=${menu_item}]`);
      document.querySelector('#time-controller').chartLoader.loadChartData(other_element);
    });
