- equity = SystemPathways::Equity.new(report: @report, filter: @filter)
-# = debug equity.chart_data(:race).to_json
.equity.mt-4{ data: { controller: 'chart-loader', chart: 'document.equity' }}
  - url = URI(@report.chart_data_path('equity'))
  .d-flex
    %h3
      Clients by
      %span{ data: { 'chart-loader-target' => 'chartHeader' }} Ethnicity
    .dropdown.ml-auto
      %button.btn.btn-sm.btn-secondary.dropdown-toggle{ type: :button, data: { toggle: :dropdown}, aria: { expanded: false }}
        Demographic Breakdown
        %i.ml-2.icon-angle-down
      .dropdown-menu.options
        - demo = [['Ethnicity', 'ethnicity'], ['Race', 'race']].each do |label, key|
          - url.query = @filter.for_params.merge(demographic_breakdown: key).to_query
          - data = { action: 'click->chart-loader#loadChartData', 'chart-loader-target' => 'changer', 'menu-item' => key, 'table-id' => 'equity-table', 'table-link' => details_system_pathways_warehouse_reports_report_url(@report, **@filter.for_params) }
          - classes = ['dropdown-item']
          = link_to(label, url.to_s, data: data, class: classes)
  #equity-chart
  #equity-table

  = content_for :page_js do
    :javascript
      document.equity = bb.generate({
        data: {
          columns: [],
          type: 'bar',
          x: 'x',
          groups: [],
          labels: {
            format: function(v, id, i, j) {
              if (v == 0) return '';
              if (! id) return v;

              let numbers = d3.map(this.data(), d => d.values[i].value);
              let total = numbers.reduce((partialSum, a) => partialSum + a, 0);
              let percentage = v/total;
              //console.log(i,j, d3.map(j, el => el.getBBox().width)[i])
              if (percentage < 0.15) {
                return '';
              }
              return d3.format('.0%')(percentage);
            },
            centered: true,
          }
        },
        tooltip: {
          format: {
            value: (value, ratio, id, index) => d3.format(",")(value),
          },
        },
        bindto: '#equity-chart',
        size: {
          height: 800,
        },
        bar: {
          padding: 20,
        },
        axis: {
          rotated: true,
          x: {
            type: 'category'
          }
        },
      });
