%ul.nav.nav-tabs.nav-fill#node-details.mb-0{role: :tablist}
  - pathways.project_type_node_names_with_data.each.with_index do |label, i|
    - bg_color = pathways.bg_color(label)
    - foreground_color = foreground_color(bg_color)
    - target = "##{label.to_s.parameterize.underscore}-content"
    - selected = 'false'
    - active = ''
    - if i.zero?
      - selected = 'true'
      - active = 'active'
    %li.nav-item{role: :presentation}
      = link_to label, target, class: ['nav-link', active], style: "border-bottom: 8px solid #{bg_color};", role: :tab, aria: { controls: target, selected: selected }, data: {toggle: :tab, target: target }
.tab-content.well.mt-0.bt-0
  - pathways.project_type_node_names_with_data.each.with_index do |label, i|
    = render 'node', label: label, i: i
