- content_for :title, @report.title

= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'
%h1.mb-5= @report.title
= render 'common/background_report/job_form'
= render 'common/background_report/history_table'
