- @manager = manager
- @case = tracing_case
= simple_form_for @manager, url: health_he_case_site_manager_path(@case, @manager), wrapper: :readonly do |f|
  = render 'health/he/site_managers/form', f: f

.row
  .col-md-8
    .text-right.mr-2
      = link_to health_he_case_site_manager_path(@case, @manager), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure you want to delete this site leader?'} do
        %i.icon-cross
          Delete