- chart_height ||= 400
- chart_class = "#{key}-chart"
- title ||= ''
:ruby
  chart_options = {
    params: { filters: detail_params },
    columns: columns,
    categories: categories,
    options: {
      height: chart_height,
      follow_link: show_client_details?,
      link_base: 'performance_dashboards/project_type/details',
      key: key,
      sub_keys: sub_keys,
      date_ranges: {
        report: {
          start_date: @report.start_date,
          end_date: @report.end_date,
        },
        comparison: {
          start_date: @comparison.start_date,
          end_date: @comparison.end_date,
        }
      }
    }
  }

.d-flex.flex-wrap.justify-content-between.align-items-end.mb-2
  %header.mb-2.mr-4{style: 'flex: 1; min-width: 300px'}
    %h2= title || key.to_s.titleize
    %p.description.mb-0= desc

.well.mb-6.pt-0
  .jChart.c-chart.c-chart--horizontal-bar{ class: chart_class, data: { chart: chart_options.to_json.html_safe } }
