:ruby
  key = :destination
  detail_params = @report.detail_params.deep_merge(filters: { key: key, destination: true })
  client_counts = { report: @report.exiting_total_count, comparison: @comparison.exiting_total_count}
  columns = [@report.destinations_data_for_chart[:columns]]
  avg_columns = [
    ['Permanent', 35],
    ['Temporary', 55],
    ['Unsheltered', 15],
    ['Unknown/Other', 5],
  ]
  if @report.include_comparison?
    columns << @comparison.destinations_data_for_chart[:columns]
  end
  categories = @report.destinations_data_for_chart[:categories]
  chart_class = "#{key}-chart"
  pie_chart_options = {
    params: detail_params,
    columns: avg_columns,
    options: {
      height: 400,
      follow_link: show_client_details?,
      legendPosition: 'right',
    }
  }

  locals = {
    key: key,
    sub_keys: @report.destination_bucket_titles.invert,
    title: 'Destinations',
    chart_height: 600,
    desc: 'Destination provided at exit for the most-recent exit occuring within the period for each client. Clients may have subsequent enrollments, and therefore the count may be greater than the number of clients leaving during the range.',
    detail_params: detail_params,
    comparison_params: nil,
    columns: columns,
    categories: categories,
    client_counts: client_counts,
    count_type: :exited,
    pie_chart_options: pie_chart_options
  }

= render 'performance_dashboards/project_type/base', locals
