:ruby
  key = :living_situation
  detail_params = @report.detail_params.deep_merge(filters: { living_situation: true, key: key })
  client_counts = { report: @report.enrolled_total_count, comparison: @comparison.enrolled_total_count}
  columns = [@report.prior_living_situations_data_for_chart[:columns]]
  avg_columns = [@report.prior_living_situations_data_for_chart[:avg_columns]]
  if @report.include_comparison?
    columns << @comparison.prior_living_situations_data_for_chart[:columns]
    avg_columns << @comparison.prior_living_situations_data_for_chart[:avg_columns]
  end
  categories = @report.prior_living_situations_data_for_chart[:categories]
  pie_chart_options = avg_columns.map do |avg_column|
    {
      params: detail_params,
      columns: avg_column,
      options: {
        height: 400,
        follow_link: show_client_details?,
        legendPosition: 'right',
      }
    }
  end

  locals = {
    title: "Prior Living Situation",
    key: key,
    sub_keys: @report.living_situation_bucket_titles.invert,
    chart_height: 700,
    desc: 'Prior living situation provided at entry for the most-recently started enrollment for each client.',
    detail_params: detail_params,
    comparison_params: nil,
    columns: columns,
    categories: categories,
    client_counts: client_counts,
    count_type: :enrolled,
    pie_chart_options: pie_chart_options
  }

= render 'performance_dashboards/project_type/base', locals
