%section.o-section-card
  %header.o-section-card__header
    %h3 Blank Health Files
  .c-card.c-card--flush.c-card--block
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th Document
        %tbody
          - @blank_files.each do |file|
            - if file[:url].present?
              %tr
                %td
                  = link_to file[:url] do
                    = file[:title]
                    %i.pull-right.icon-download2