%section.o-section-card
  %header.o-section-card__header
    %h3 Health Files
  .c-card.c-card--flush.c-card--block
    %table.table.table-condensed
      %thead
        %tr
          %th Document
          %th Uploaded
          %th Uploaded By
        %tbody
          - @files.each do |file|
            %tr
              %td= link_to file.title, polymorphic_path(health_path_generator + [:file], client_id: @client.id, id: file.id)
              %td= file.created_at&.strftime('%b %e, %Y at %l:%M %P')
              %td= file.user.name
