= f.input :comparison_pattern,
  as: :boolean_button_group,
  collection: PerformanceDashboards::Overview.comparison_patterns,
  label: control.label,
  label_html: {class: 'mb-1 h5-prs1'},
  include_blank: false
