= render 'admin/audits/shared/layout', 
  entity_type: 'User Group', 
  entity_name: @user_group.name,
  entity_path: admin_user_groups_path,
  export_path: export_admin_user_group_audit_path(@user_group, format: :csv)