.well.section-expander-block.open
  .row
    .col-md-8
      %h3.section-expander-block__header Team Goals
    .col-md-4
      .section-expander-block__expander-region
        .section-expander-block__metadata.text-small
        %a.section-expander-block__expander-arrow
          %i.icon-arrow-circled-down
  .row.section-expander-block__action-row
    .col-md-8
      - if @goals.present?
        %ul.draggable-list.goal-list
          - @goals.each do |goal|
            %li.draggable-list__item
              %i.icon-move
              %span.goal-list__number
                = goal.number
              %span.goal-list__name
                = goal.name

    .col-md-4
      .pull-right
        =link_to(polymorphic_path([:new] + careplan_path_generator + [:goal]), class: 'btn btn-action btn-icon-left', data: { loads_in_pjax_modal: true }) do
          %i.icon-plus
          Add Goal