- if @goals.present?
  .row.jGoals
    .col-sm-12
      - @goals.each do |goal|
        = render goal

- unless @readonly
  = content_for :page_js do
    :javascript
      (function($) {
        $('.goal-form input[type=submit]').on('click', function(e) {
          $(this).closest('.goal-form').find('.status').html('<div class="alert alert-info">Saving...</div>')
        });
        $('.panel-heading').on('click', '.toggle', function(e) {
          var $button = $(e.currentTarget);
          var $collapsed_arrow = $(e.currentTarget).closest('.panel-heading').find('.icon-arrow-circled-right');
          var $expanded_arrow = $(e.currentTarget).closest('.panel-heading').find('.icon-arrow-circled-down');
          console.log($collapsed_arrow);
          if($button.hasClass('collapsed')) {
            $collapsed_arrow.addClass('hide');
            $expanded_arrow.removeClass('hide');
          }
          else {
            $collapsed_arrow.removeClass('hide');
            $expanded_arrow.addClass('hide');
          }
        });
        
        // Enable the confidence slider
        $('.jGoals').bind('DOMSubtreeModified', function() {
          if($('.confidence_slider.ui-slider').length == 0) {
            $('.confidence_slider').slider({
              value: $('input#goal_confidence').val(),
              min: 1,
              max: 10,
              step: 1,
              slide: function(e, ui) {
                var $confidence = $(e.target).closest('.confidence');
                $('input#goal_confidence').attr('value', ui.value);
                console.log(e);
                $confidence.find('.value').text(ui.value); 
              }
            });
          }
        });
      })(jQuery);