:ruby
  team = careplan.team

= link_to polymorphic_path(careplan_path_generator, id: careplan) do
  %i.icon-eye
  View Our Latest Copy
%br

- if doc.signature_request_id.present?
  - if !doc.signed_by?(team.pcp_designee&.email)
    = link_to remind_client_health_careplan_signable_document_path(@client, careplan, doc), method: :post do
      %i.icon-bell
      Send reminder emails to PCP
    %br

  - if !doc.signed_by?(@patient.email)
    = link_to signature_client_health_careplan_signable_document_path(@client, careplan, doc, email: @patient.email, hash: doc.signer_hash(@patient.email), post_sign_path: url_for, sign_out: true) do
      %i.icon-exit
      Log out and get patient signature
    %br
