- # FIXME: if we have a HelloSign document, this should be a link to that instead of the locally generated PDF
.patient__file-link.mb-2
  = link_to polymorphic_path(careplan_path_generator, id: careplan) do
    %i.icon-eye
    View (local PDF)
