.patient__file-link.mb-2
  - if doc.present? && doc.health_file_id
    - url = polymorphic_path(health_path_generator + [:file], client_id: @client.id, id: doc.health_file_id)
  - else
    - url = polymorphic_path(careplan_path_generator, id: careplan)
  = link_to url do
    PDF: Care Plan
