- if @client.health_touch_points.any?
  %table.table.table-condensed
    %thead
      %tr
        %th Assessment
        %th Date Completed
        %th Case Worker
    %tbody
      - @client.health_touch_points.order(collected_at: :desc).each do |form|
        %tr
          %td= link_to form.assessment_type, assessment_client_path(id: form.id), class: 'btn btn-primary btn-muted btn-xs', data: { loads_in_pjax_modal: true }
          %td= form.collected_at.to_date
          %td= form.staff
- else
  No Self-Sufficiency Assessment on file