%p If the Care Plan was conducted on paper, you may upload a scanned PDF here. You will still need to note signature dates above.
.row
  .col-sm-12
    = render 'window/health/health_files/form_fields', f: f, include_submit: false
