%p If the Care Plan was conducted on paper, you may upload a scanned PDF here. You will still need to note signature dates above.
%p Only one document can be attached.  If patient and PCP signatures were collected separately on paper, the documents will need to be scanned together into one file prior to upload.
.row
  .col-sm-12
    = render 'window/health/health_files/form_fields', f: f, include_submit: false, include_note: false
