#length-of-stay-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content do
    %p
      This report displays Length of Stay for enrolled clients at your agency during the covered month, separated into several time increments. The chart at left summarizes the total number of clients in each time increment. This report can help identify clients who should be exited from a program, as well as long-term stayers in a program.
    %p
      The first section of this report summarizes the average Length of Stay at each program in your agency, while the second section details Length of Stay for each individual served by your agency, broken down by program and time increment.

  = render 'common/panel_collapse',
    id: 'length-of-stay-info',
    title: 'Information'
