%h3 Summary
.well
  %ul
    %li
      Start Date:
      = @report.start
    %li
      End Date:
      = @report.end
    %li
      Run On:
      = @report.started_at
    %li
      Completed On:
      = @report.completed_at