%h1= Translation.translate('Your warehouse account has been deactivated')
%p= Translation.translate('Your account does not have permission to access the warehouse. Please contact your administrator to for assistance')
