%h3 Files on S3
- if @error
  .alert.alert-danger
    %i.icon-warn
    Unable to connect to S3.
- elsif @bucket_objects_list.present?
  .card
    %table.table.table-striped
      %thead
        %tr
          %th File Name
          %th Last Modified
          %th Size
      %tbody
        - @bucket_objects_list.each do |obj|
          %tr
            %td= obj.key.gsub(@config.s3_path, '')
            %td.nobr= obj.last_modified
            %td.nobr= number_to_human_size obj.size
- else
  .none-found No Files Found
