@import '../helpers';

.o-card-grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.o-card-grid article {
  flex: 0 1 100%;
  max-width: 100%;
  @include media-breakpoint-up(sm) {
    flex: 0 1 50%;
    max-width: 50%;
  }
  @include media-breakpoint-up(lg) {
    flex: 0 1 33.333333%;
    max-width: 33.333333%;
  }
}
