@import '../helpers';

.o-color--primary {
  color: var(--bs-primary);
}

/* .o-color--secondary {
  color: var(--bs-secondary);
} */

.o-color--white {
  color: $white;
}

.o-color--gray-l {
  color: $gray-020;
}

.o-color--gray-m {
  color: $gray-034;
}

.o-color--gray-d {
  color: $gray-065;
}

.o-color--positive,
.o-color--success {
  color: var(--brand-success-d);
}

.o-color--danger {
  color: var(--brand-danger-d);
}

.o-color--warning {
  color: var(--brand-warning-d);
}

.o-text--normal {
  font-weight: normal;
}

.o-text--semibold {
  font-weight: 600;
}

.o-text--bold {
  font-weight: bold;
}

.o-text--italic {
  font-style: italic;
}
