@import '../helpers';

.o-color--primary {
  color: var(--bs-primary);
}

.o-color--white {
  color: var(--white);
}

.o-color--gray-l {
  color: var(--gray-020);
}

.o-color--gray-m {
  color: var(--gray-034);
}

.o-color--gray-d {
  color: var(--gray-065);
}

.o-color--positive,
.o-color--success {
  color: var(--brand-success-l);
}

.o-color--danger {
  color: var(--brand-danger-l);
}

.o-color--warning {
  color: var(--brand-warning-l);
}

.o-text--normal {
  font-weight: normal;
}

.o-text--semibold {
  font-weight: 600;
}

.o-text--bold {
  font-weight: bold;
}

.o-text--italic {
  font-style: italic;
}
