= simple_form_for @filter, as: :filter, url: polymorphic_path([:warehouse_reports, :enrolled_project_type, :index], sub_population: @filter.sub_population), html: {method: :get} do |f|
  - content_for :filters_col_full do
    = render 'warehouse_reports/client_details/filter_fields', f: f, homeless_only: false

  - content_for :filter_actions do
    .row
      .col-sm-2.mt-no-label
        = f.button :submit, value: 'Update View'

  = render 'warehouse_reports/filters', f:f
