= render 'admin/audits/shared/layout',
  entity_type: 'HMIS Access Controls',
  entity_path: hmis_admin_access_controls_path,
  export_path: export_hmis_admin_access_control_audit_path(@access_control, format: :csv),
  item: @access_control
