:ruby
  metrics = ClaimsReporting::QualityMeasuresReport::AVAILABLE_MEASURES
  reports = ['2018','2019','2020'].map do |year|
    ClaimsReporting::QualityMeasuresReport.for_plan_year(year)
  end

  # subpopulations
  # By ACO
  # My Patients
  # Race/Gender/Age?
.row
  .col-12
    .pb-4
      %h3 MassHealth BH CP Quality Measures
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Measure
            - reports.each do |report|
              %th= report.title
        - metrics.each do |measure, label|
          %tr
            %th= label
            - reports.each do |report|
              %td.text-right
                = report.measure_value(measure).presence
