.all-service-dates .calendar-heading
{
  display: none;
}
.service-type__bed_night,
.service-type__service,
.service-type__entry,
.service-type__exit,
.service-type__extrapolated,
.service-type__first,
{
  background-color: $gray-020;
  margin: 0.2em 0;
  font-size: 0.7em;
  display: inline-block;
}
.service-type__entry
{
  background-color: $cas-blue;
  color: white;
}
.service-type__exit
{
  background-color: $cas-red;
  color: white;
}
.service-type__extrapolated
{
  background-color: $gray-040;
}
.service-type__first
{
  background-color: $cob-sg-optimistic-blue;
  color: white;
}
.service-type__program-type {
  font-weight: bold;
  font-size: 0.7em;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.2em 0.4em;
}
.client__client_unique_id
{
  font-size: 0.8rem;
}
.client__calendar-date
{
  font-weight: bold;
  background-color: $gray-015;
  padding: 0.2em;
}
.client__month_of_service-table
{
  width: 100%;
}
.client__month_of_service-table td
{
  vertical-align: top;
}
.client__service_type_1 {
  border-bottom: 1px solid #0074D9;
  .service-type__program-type {
    background-color: #0074D9;
  }
}
.client__service_type_2 {
  border-bottom: 1px solid #3c84b7;
  .service-type__program-type {
    background-color: #3c84b7;
  }
}
.client__service_type_3 {
  border-bottom: 1px solid #299b9b;
  .service-type__program-type {
    background-color: #299b9b;
  }
}
.client__service_type_4 {
  border-bottom: 1px solid #3D9970;
  .service-type__program-type {
    background-color: #3D9970;
  }
}
.client__service_type_6 {
  border-bottom: 1px solid #8e7a30;
  .service-type__program-type {
    background-color: #8e7a30;
  }
}
.client__service_type_7 {
  border-bottom: 1px solid #d36e15;
  .service-type__program-type {
    background-color: #d36e15;
  }
}
.client__service_type_8 {
  border-bottom: 1px solid #FF4136;
  .service-type__program-type {
    background-color: #FF4136;
  }
}
.client__service_type_9 {
  border-bottom: 1px solid #85144b;
  .service-type__program-type {
    background-color: #85144b;
  }
}
.client__service_type_10 {
  border-bottom: 1px solid #ce0ea3;
  .service-type__program-type {
    background-color: #ce0ea3;
  }
}
.client__service_type_11 {
  border-bottom: 1px solid #B10DC9;
  .service-type__program-type {
    background-color: #B10DC9;
  }
}
.client__service_type_12 {
  border-bottom: 1px solid #21992f;
  .service-type__program-type {
    background-color: #21992f;
  }
}
.client__service_type_13 {
  border-bottom: 1px solid #00b750;
  .service-type__program-type {
    background-color: #00b750;
  }
}
.client__service_type_14 {
  border-bottom: 1px solid #001f3f;
  .service-type__program-type {
    background-color: #001f3f;
  }
}
.client__potential-match {
  padding-left: 0;
  li {
    list-style-type: none;
  }
  .form-group {
    margin-bottom: 0.2em;
  }
}
#client__previous-addresses { height: 250px; }

.merge-row {
  margin-bottom: space(4);
  overflow: hidden;
}

.merge-cards {
  display: flex;
}

.merge-card {
  margin-right: space(4);
  position: relative;
  min-width: 35%;
}

.merge-card.slab {
  padding: 0;
}

$client-match-action-row-height: 22px;
.client-match {
  position: relative;
  padding: 0 1em;
  padding-bottom: $client-match-action-row-height;
  min-width: 420px;
  .client-match--factors {
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    tr {
      /* border-bottom: 1px solid #eee; */
    }
    td,th {
      vertical-align: top;
      padding: rem(5px) rem(2px);
    }
  }
}

.client-match--actions {
  padding: rem(15px);
  font-size: $client-match-action-row-height/2;
  width: 100%;
}

.client__image
{
  padding: 1em;
}
.client__image > img
{
  max-width: 250px;
  max-height: 250px;
}

.clients__client {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  background-color: $white;
}

.client__details{
  padding-right: space(4);
  flex: 0 0 33%;
}

@media (max-width: $screen-sm-max) {
  .client__details{
    flex: 0 0 100%;
    margin-bottom: space(4);
  }
}

.client__details--status,
.client__details--demographics {
  align-self: center;
}

.clients__client-name
{
  font-size: 1.2rem;
  margin-bottom: 0.15rem;
  margin-bottom: 0;
  font-size: 1.35rem;
}
.client__client-name
{
  margin-bottom: 0.15rem;
}
.clients__client-name,
.client__client-name {
  align-items: center;
}
.clients__users
{
  margin-top: 2rem;
}
.clients__users h4
{
  margin-bottom: 0;
}
.client__filter .dropdown-menu.options,
.client__filter-active .dropdown-menu.options
{
  width: 38em;
  padding: 1em;
}
.client__filter-header
{
  margin-top: 0;
}
.client__sort .dropdown-menu.options
{
  width: 15em;
  padding: 1em;
}
.client__sort ul
{
  list-style-type: none;
  padding-left: 0.25em;
}
.client__filter-active .btn-default {
  background-color: $cob-sg-blue-004;
  color: white;
}
.client__assessment-question,
.client__assessment-answer
{
  margin-left: 1em;
  margin-right: 1em;
}
.client__assessment-question
{
  padding-bottom: 0.5em;
  font-weight: bold;
}
.client__assessment-answer
{
  padding-bottom: 1.5em;
  margin-left: 1em;
}
.client__assessment-section-heading
{
  border-bottom: 1px solid $gray-040;
}
.enrollment__project_type
{
  display: inline-block;
}
.enrollment__new-episode
{
  border-bottom: 2px solid $cob-sg-optimistic-blue;
}
.assessment__new-type:not(:first-child) {
  border-top: 2px solid $cob-sg-optimistic-blue;
}
.zero-width {
  width: 0;
}
.rollup__square
{
  font-size: 0.7em;
  color: white;
  padding: 0.2em 0.4em;
  font-weight: bold;
  cursor: pointer;
}
.destination-data-source-tag
{
  /* display: inline-block;
  min-height: 10px;
  min-width: 10px;
  margin: auto; */
}

.destination-sqr
{
  background-color: $cob-sg-blue-002;
  padding: 2px 5px;
  display: inline-block;
}
.confidential_project
{
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.2em 0.4em;
  color: white;
  background-color: orange;
}

.client__chronic
{
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding: 0.5em 0.5em;
}
.clients__chronic
{
  background-color: $brand-warning;
  padding: 0.5em;
  margin: 0.5em;
  margin-right: 0;
  display: inline-block;
  float: right;
  clear: right;
}
.client__cas-flags .form-group,
.client__cas-flags .checkbox
{
  margin-bottom: 0.25em;
}

.client-flag {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding: .25em 0.75em;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: $text-color;
}

.client-flag.alert-success
{
  color: white;
}

.client-flag.alert a {
  color: $text-color;
  &:hover {
    color: $black;
  }
}

.client-flag__longterm-stayer
{
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: white;
}

.client-flag__cas
{
  background-color: $brand-info;
  border-color: $brand-info;
}
.client-name-input
{
  width: 30%;
  float: left;
  margin-right: 2%;
}

.client-consent-status .alert
{
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding: 1em 0.5em;
  display: inline-block;
  padding: 0.5em 0.5em;
}
.file-thumbnail
{
  width: 100px;
}
