.cohort-client__input {
  input[type=radio] {
    margin-right: 5px !important;
  }
}

.modal-dialog {
  width: 800px;
  margin: 30px auto;
}

th.client_notes {
  width: 150px;
  display: table-cell;
}

td.client_notes {
  width: 150px;
  display: table;
}

ul.draggable-list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
ul.draggable-list li span { padding-left: 1.3em; }

li.draggable-list__item {
  border: solid 1px;
}
