[class^='ds'] {
  display: inline-block;
  font-size: 0.75rem;
  text-decoration: none;
  background-color: $gray-065;
  color: white;
  min-width: 4.2em;
  text-align: center;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  margin-right: rem(6px);
  margin-top: rem(4px);
  border-radius: rem(2px);
}
// FIXME: The following should be stored on the data source
// with a color picker and a random default set when seeded
.ds-bphc,
.ds-grda,
.ds-1
{
  background-color: $bphc;
}
.ds-dnd,
.ds-bm,
.ds-sp,
.ds-2
{
  background-color: $dnd;
}
.ds-ma,
.ds-op,
.ds-3
{
  background-color: $ma-state;
}
.ds-nechv,
.ds-bl,
.ds-homelink,
.ds-4
{
  background-color: $nechv;
}
.ds-warehouse
{
  background-color: $cob-sg-blue-002;
}
.ds-vi-spdat,
.ds-5
{
  background-color: $vi-spdat;
}
