[class^='ds'] {
  display: inline-block;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.2em 0.5em; 
  background-color: $gray-065;
  color: white;
  min-width: 4.2em;
  text-align: center;
}
// FIXME: The following should be stored on the data source
// with a color picker and a random default set when seeded
.ds-bphc,
.ds-grda
{
  background-color: $bphc;
}
.ds-dnd,
.ds-bm
{
  background-color: $dnd;
}
.ds-ma,
.ds-op
{
  background-color: $ma-state;
}
.ds-nechv,
.ds-bl
{
  background-color: $nechv;
}