footer {
  min-height: $footer-height;
  display: flex;
  align-items: center;
  background-color: $cob-sg-charles-blue;
  /* box-shadow: inset 0 0 0 2px rgba(0,0,0,0.50); */
  color: #fff;
  z-index: 1000;
}

footer p {
  margin: 0;
  font-size: rem(12px);
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.seal-image {
  width: auto;
  height: $footer-logo-height;
  display: block;
  margin-right: space(4);
}

.seal {
  width: auto;
  height: 100%;
}
