footer {
  margin-top: 54px;
  padding: 27px 0 54px;
  // border-top: 4px solid $cob-sg-blue-004;
  background-color: $cob-sg-charles-blue;
  min-height: 180px;
  color: #fff;
}
.seal-image {
  width: 85px;
  height: 85px;
  display: block;
  margin: 0 auto 18px;
}
.seal {
  width: 100%;
  height: 100%;
}