// From medium and below: Sign In disappears
// From

.o-header--page > .container-fluid {
  width: 100%;
}

.o-header--page {
  background-color: $cob-sg-blue-003;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.50);
  height: $header-height;
  display: flex;
  align-items: stretch;
  z-index: 1000;
}

.o-header__nav {
  margin-left: auto;
}

.o-header__nav > ul {
  display: flex;
  margin-bottom: 0;
}

.c-header-nav__mobile-link {
  padding: space(4);
  margin-right: rem(-16px);
  font-size: rem(20px);
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.c-header-nav__item {
  display: flex;
  align-items: stretch;
  white-space: nowrap;
  margin-right: space(6);
  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
}

.c-header-nav__link {
  @include header-menu-link;
  display: flex;
  align-items: center;
  font-weight: 600;
  .additional-context {
    display: none;
    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-right: space(2);
    }
  }
  i {
    font-size: 125%;
  }
}

.c-header-nav__item--hidden-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.site-name {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
  padding: 8px 10px 0;
  align-self: flex-start;
  z-index: $zIndex-2--site-name;
}

.o-header--page__title {
  margin: 0 0 10px;
  @include montserrat-bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.0555;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-h2;
  }
}

.o-header--page__title a {
  color: $cob-sg-charles-blue;
}

.o-header--page__title a:hover,
.o-header--page__title a:focus {
  text-decoration: none;
  color: lighten($cob-sg-charles-blue, 15);
}

.o-header--page__sub-title {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
    color: #fff;
    @include montserrat-normal;
    text-transform: uppercase;
    font-size: rem(16);
    line-height: 1.1;
    margin-left: space(4);
  }
  @media (min-width: $screen-lg-min) {
    font-size: rem(19);
  }
}

.email-messages {
  .btn [class^="icon-"] {
    @extend .o-header--page__sub-title;
    padding-top: 22px;
    width: 2rem;
  }
  .message-count {
    background-color: $cob-sg-optimistic-blue;
    transform: translate(-50%, -50%);
  }
  ul li.message {
    &:last-of-type {
      margin-bottom: space(4);
    }
  }

  .show-all {
    margin: 5px auto;
  }
  .dropdown-menu {
    top: 50px;
    padding: space(2);
    min-width: 200px;
  }
}

.email-messages-envelope {
  line-height: 0;
  &::after {
    display: none;;
  }
}

.btn.email-messages-envelope:focus,
.btn.email-messages-envelope.focus {
  outline: 0;
}

.btn.email-messages-envelope [class^="icon-"]:hover {
  color:  $cob-sg-optimistic-blue;
}

.utility {
  @media (min-width: $screen-sm-min) {
    @include margin(null null null 243px);
  }
}

.auth-support-links {
  margin-top: 24px;
}

.user-state {
  width: 60px;
  height: 59px;
  background-color: $cob-sg-charles-blue;
  float: right;
  padding-top: 8px;
}

.user-state--link {
  @include open-sans-medium;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.user-state--link:hover,
.user-state--link:focus {
  color: $gray-030;
  text-decoration: none;
}
