.health-form .radio label {
  display: flex;
  margin-left: 2em;
}

.health-form .form-group.text {
  margin-left: 2em;
}

// CHA Form - with nav

.form--with-nav {
  position: relative;
  .well {
    margin-bottom: 50px;
  }
}

.form__nav {
  display: none;
  width: 200px;
  position: absolute;
  padding-top: 30px;
  height: 100vh;
  overflow: auto;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(md) {
    width: 250px;
  }
}

.form__questions {
  width: 100%;
  max-width: 1000px;
  @include media-breakpoint-up(sm) {
    padding-left: 230px;
  }
  @include media-breakpoint-up(md) {
    padding-left: 280px;
  }
}

.form__nav .list-group-item {
  padding: 0;
  &:hover {
    border-left: 3px solid $nav-tab-active-border-color;
    background: $body-bg;
  }
}

.form__nav .list-group-item .nav-link {
  padding: 10px;
  display: flex;
  align-items: center;
  &::after {
    @include icon;
    content: '\ea34';
    margin-left: auto;
    font-size: 12px;
    color: transparent;
  }
  &:focus,
  &:hover {
    background: $body-bg;
    color: $black;
    &::after {
      color: $gray-050;
    }
  }
}

.form__nav .list-group-item.active {
  background: $body-bg;
  border-color: $gray-025;
  border-left: 3px solid $nav-tab-active-border-color;
  .nav-link {
    color: $black;
    pointer-events: none;
  }
}

.form__nav.affix {
  top: 0px;
  position: fixed
}

.cha__section
{
  clear: left;
}
.g_q,
.i_q,
.l_q
{
  float: left;
  .client__assessment-answer
  {
    text-indent: 0;
  }
}

.g_q
{
  width: 50%;
}

.i_q
{
  width: 30%;
}

.l_q
{
  width: 14%;
}

