.health-form .radio label {
  display: flex;
  margin-left: 2em;
}

.health-form .form-group.text {
  margin-left: 2em;
}

.cha__section
{
  clear: left;
}
.g_q,
.i_q,
.l_q
{
  float: left;
  .client__assessment-answer
  {
    text-indent: 0;
  }
}

.g_q
{
  width: 50%;
}

.i_q
{
  width: 30%;
}

.l_q
{
  width: 14%;
}