$ho-padding: 10px;
$ho-color-0: #0C2639;

// greys
$ho-color-1: #f1f1f1;
$ho-color-2: #d2d2d2;
$ho-color-3: #777777;

$ho-current-patient: #00549E;

// Patient Summary
.ho-patient__container {
  border: 2px solid $ho-color-2;
  padding: $ho-padding;
}
.ho-patient__name {
  margin-top: 0px;
  border-bottom: 1px solid $ho-color-2;
  padding: 5px 0px;
  color: $ho-current-patient;
  span {
    vertical-align: middle;
  }
  i {
    font-size: 150%;
    // color: $ho-color-3;
  }
}
.ho-patient__details {
  display: inline-block;
  background-color: $ho-color-1;
  padding-right: 4px;
  margin-right: $ho-padding;
  margin-bottom: $ho-padding;
  border-radius: 2px;
  span {
    padding: 0px 4px;
    @include open-sans-condensed-bold;
    color: $ho-color-3;
  }
}
.ho-patient__content {
  table {
    table-layout: fixed;
    width: 100%;
  }
  tr:first-child td {
    border-top: 2px solid $ho-color-1;
  }
  td {
    padding: 4px $ho-padding;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 2px solid $ho-color-1;
  }
  td small {
    font-weight: normal;
    text-transform: uppercase;
  }
}

// Cost and Key Metrics tables
.ho-compare__container {
  margin-top: 40px;
  // border: 2px solid $ho-color-2;
  padding: $ho-padding;
  background-color: rgba(241, 241, 241, 0.4);
}

.ho-compare__fc {
  border-left: 1px solid $ho-color-2;
  @media(max-width: $screen-sm-max) {
    border-left: none;
    margin-top: 20px;
  }
}

.ho-compare__header {
  border-bottom: 1px solid $ho-color-2;
  margin-bottom: 10px;
  h3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
}

.ho-compare {
  padding: $ho-padding;
  text-align: center;
  background-color: $ho-color-1;
  margin-bottom: 10px;
}

.ho-compare__content {
  font-size: 22px;
  font-weight: bold;
  color: #00549E;
}

.ho-compare__to {
  border-top: 1px solid $ho-color-2;
  font-weight: normal;
  font-size: 22px;
  color: #777777;
  span {
    padding-top: 5px;
    display: block;
    font-size: 16px;
    @include open-sans-condensed-bold;
  }
}

.ho-compare__table-1 {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 0px;
}

.ho-compare__table-2 {
  width: 100%;
  table-layout: fixed;
  padding: 0px 10px;
  th, td {
    text-align: center;
    border-bottom: 1px solid $ho-color-2;
  }
  th {
    font-weight: normal;
    background-color: $ho-color-1;
    position: relative;
    small {
      display: block;
    }
  }
  td {
    border-bottom: 1px solid $ho-color-2;
  }
}

.ho-compare__label-row td {
  font-size: 12px;
  border-bottom: none;
  background-color: $ho-color-1;
}

.ho-compare__variance td {
  background-color: $ho-color-1;
}

.ho-compare__current-patient td {
  font-size: 22px;
  font-weight: bold;
  background-color: darken(#FFFFFF, 1%);
  color: #00549E;
}

.ho-compare__pilot-average td {
  font-size: 22px;
  background-color: darken(#FFFFFF, 1%);
  color: #777777;
}

.ho-compare__th-marker,
.ho-compare__marker {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ho-compare__th-marker {
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -4px;
}

.ho-compare__hints {
  margin-top: 20px;
}

.ed-visits {
  background-color: #48F04a;
}

.ip-admits {
  background-color: #36B337;
}

.readmit {
  background-color: #007101;
}

.ho-compare__swatch {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  display: inline-block;
}

.ho-compare__swatch-text {
  display: inline-block;
}

.ho-compare__key {
  display: inline-block;
  margin-bottom: 5px;
  @media(max-width: $screen-xs-max) {
    display: block;
    margin-bottom: 10px;
    // text-align: right;
  }
}

.ho-compare__key:not(:last-child) {
  margin-right: 30px;
  @media(max-width: $screen-xs-max) {
    margin-right: 0px;
  }
}

#drilldown__severity {
  position: relative;
}






.ho-chart__container {
  margin-top: 40px;
}

.ho-chart__header {
  background-color: $ho-color-1;
  padding: $ho-padding;
  min-height: 69px;
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
  }
  small {
    @include open-sans-normal;
    color: $gray-070;
  }
}

.ho-chart__content {
  padding: $ho-padding;
  border: 2px solid $ho-color-1;
}

.removebox .ho-chart__content {
  border: none;
  padding: $ho-padding 0px;
}

.ho-chart__sub-header {
  display: block;
  position: relative;
  z-index: 0;
  h3, h4 {
    display: inline-block;
    background-color: #FFFFFF;
    margin: 10px;
    margin-left: 0px;
    padding: 0px 5px 0px 0px;
  }
  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #CCCCCC;
    position: absolute;
    top: 50%;
    margin-top: 2px;
    left: 0px;
    right: 0px;
    z-index: -1;
  }
}

.ho-chart__sub-content {
  padding-left: 16px;
  table {
    table-layout: fixed;
    width: 100%;
    position: relative;
    top: -30px;
    @media(max-width: $screen-xs-max) {
      top: 0px;
    }
  }
  th {
    padding-bottom: 20px;
    vertical-align: top;
  }
  th span {
    padding: 0px 5px;
    background-color: #FFFFFF;
    @include open-sans-normal;
  }
  td {
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
  }
  th, td {
    text-align: center;
  }
  tr.ho-chart__ss-label {
    @media(min-width: $screen-sm-min) {
      display: none;
    }
  }
  tr:not(.ho-chart__ss-label) th:first-child {
    width: 166px;
    @media(max-width: $screen-xs-max) {
      display: none;
    }
  }
  tr:not(.ho-chart__ss-label) td:first-child {
    text-align: right;
    padding-right: 20px;
    border-bottom: none;
    @media(max-width: $screen-xs-max) {
      display: none;
    }
  }
}

.demo-content {
  padding-left: 132px;
  @media(max-width: $screen-xs-max) {
    padding-left: 16px;
  } 
}

.ho-chart__patient-summary {
  padding-top: 4px;
  @media (max-width: $screen-xs-max) {
    padding-top: 12px;
  }
}

.ho-chart__ps-item {
  margin-bottom: 10px;
  b {
    @include open-sans-condensed-bold;
  }
}

.ho-demo-table {
  table-layout: fixed;
  width: 100%;
}

.ho-chart__swatch {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 10px;
}

.d3-claims__chart {
  height: 300px;
}

.d3-drilldown__chart {
  height: 300px;
  position: relative;
}

.d3-claims__legend,
#d3-top-legend__pc {
  text-align: right;
  border-radius: 8px;
  display: inline-block;
  padding: 14px 10px;
}

#d3-top-legend__dd {
  margin-bottom: 10px;
}

.d3-claims__key,
.d3-top-leged-pc__key {
  display: inline-block;
  line-height: 10px;
}

.d3-claims__key:not(:last-child),
.d3-top-leged-pc__key:not(:last-child) {
  margin-right: 30px;
}

.d3-top__chart {
  padding-top: 10px;
  margin-top: 30px;
  border-right: 1px solid #CCCCCC;
  position: relative;
  margin-bottom: 20px;
  h4 {
    text-align: left;
  }
  .x-axis {
    position: absolute;
    top: -29px;
    right: 0px;
    border-bottom: 1px solid #CCCCCC;
  }
  .x-axis__max {
    font-size: 20px;
    margin-right: 5px;
    @include open-sans-condensed-bold;
  }
}

.d3-top__key-bar {
  background-color: #f1f1f1;
  min-height: 40px;
  padding-bottom: 5px;
}

.d3-top__key-bar:last-child {
  padding-bottom: 0px;
}

.d3-top__bar {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}

.d3-top__bar-inner {
  position: relative;
  span {
    left: 100%;
    position: absolute;
    margin-left: 5px;
    @include open-sans-condensed-bold;
    color: #666;
  }
}

.d3-top__key {
  font-size: 10px;
  padding: 4px;
  padding-left: 24px;
  text-align: left;
  margin-bottom: 2px;
  position: relative;
  background-color: #f1f1f1;
}

.d3-top__key-number {
  width: 20px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  margin-right: 5px;
  @include open-sans-condensed-bold;
  font-size: 14px;
  border: 1px solid #f1f1f1;
}


