@mixin list-item-style-1 {
  padding: 10px 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(119,119,119,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(119,119,119,0.3);
  box-shadow: 0px 0px 2px 0px rgba(119,119,119,0.3);
}

.style-guide__icon-list,
.draggable-list {
  list-style: none;
  padding-left: 0;
}
.style-guide__icon-list i {
  font-size: 36px;
  padding-right: 18px;
}
.style-guide__icon-list li {
  margin-bottom: 18px;
}
.draggable-list li {
  margin-bottom: 14px;
}
.draggable-list .icon-move {
  padding-right: 10px;
}
.goal-list {
  line-height: 1.1;
}
.draggable-list__item:hover,
.draggable-list__item:active,
.draggable-list__item:focus {
  cursor: pointer;
  color: black;
  .goal-list__number {
    background-color: darken($cas-blue-007, 15);
  }
}
.goal-list__number {
  background-color: $cas-blue-007;
  border-radius: 50%;
  line-height: 1.7;
  color: #f5f5f5;
  font-weight: 700;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.active .goal-list__number {
  background-color: $gray-070;
}
.active .goal-list__name {
  font-weight: 700;
}

.patient-referral {
  @include list-item-style-1;
}