.patient__demographics {
  flex-basis: 250px;
}
.patient__engagement
{
  display: inline-block;
  font-size: 1rem;
}

.patient__engagement-countdown
{
  color: $brand-warning-d;
}

.pctp__signature-expired
{
  color: $brand-danger;
}

.pctp__signature-pending
{
  color: $brand-warning;
}