.report-result--results {

}
.report-result--results dt {
  clear: left;
  float: left;
  width: 70%;
}
.report-result--results dd {
  margin-left: 70%;
}

.report-result__section-header {
  background-color: $gray-015;
}

.report-result__changed {
  background-color: lighten($brand-warning, 13.5%);
}

.lightest-gray {
  background-color: $gray-015;
}
.page-bg-color 
{
  background-color: $body-bg;
}