.big-block
{
  font-size: $font-size-h2;
}
.big-block > *
{
  padding: 0.25em;
}
.big-block .body 
{
  background-color: $cob-sg-charles-blue;
  color: white;
}

.big-arrow-up
{
  position: relative;
  display: inline-block;
  background-clip: content-box;
  width: 100%;
  height: 1em;
  padding: 0;
  margin: 0;
  overflow:hidden;
}
.big-arrow-up:before
{
  content: '';
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: red;
  padding-bottom: 50%;
  width: 57.7%;
  z-index: 1;
  -webkit-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;
  
  -webkit-transform: rotate(-30deg) skewX(30deg);;
  -ms-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
}