<<<<<<< HEAD
=======
.vspdat-row
{
  font-size: 2em;
}
.vspdat-row__created_on
{
  width: 12em;
}
.vspdat-row__score
{
  font-weight: bold;
}
>>>>>>> release-11
@keyframes highlight {
  0% { background: #ffff99; }
  100% { background: none; }
}

.highlight {
  animation: highlight 2s;
}
