.warehouse-reports__client
{
  margin: 1em;
  border: 1px solid $gray-040;
}
.warehouse-reports__client .row
{
  padding: 1em;
}
.warehouse-reports__client .rollup
{
  font-size: 0.9em;
}
.warehouse-reports__client-name
{
  background-color: $gray-015;
  padding: 1em;
}
.warehouse-reports__chronic .pagination
{
  margin-top: 1em;
}
.warehouse-reports__enrollment-highlighted
{
  font-weight: bold;
}
.warehouse-reports__completed .parameter-label,
.warehouse-reports__chronic .parameter-label,
.warehouse-reports__disabled .parameter-label,
.warehouse-reports__active-veterans .parameter-label,
.warehouse-reports__parameters .parameter-label
{
  border-radius: 5px 0px 0px 5px;
}
.warehouse-reports__completed .parameter-value,
.warehouse-reports__chronic .parameter-value,
.warehouse-reports__disabled .parameter-value,
.warehouse-reports__active-veterans .parameter-value,
.warehouse-reports__parameters .parameter-value
{
  border-radius: 0px 5px 5px 0px;
  white-space: nowrap;
  max-width: 100%;
}
.warehouse-reports__hmis_export
{
  overflow: scroll;
}

.warehouse-reports__initiatives .y-axis,
.warehouse-reports__initiatives .x-axis,
.warehouse-reports__initiatives .legend,
.warehouse-reports__initiatives .bar-label
{
  path,
  line {
    stroke: #828282;
  }
  text
  {
    fill: #404040;
  }
}

.warehouse-reports__initiatives .y-axis__label {
  alignment-baseline: middle;
  @include open-sans-condensed-bold;
}

.warehouse-reports__initiatives .x-axis{
  text {
    @include open-sans-normal;
  }
}

.report-parameters
{
  display: flex;
  flex-wrap: wrap;
}

.report-parameters__parameter
{
  display: flex;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.data-quality__table
{
  white-space: nowrap;
}
.data-quality__group-header
{

}
.data-quality__odd-columns
{
  background-color: #e3e3e3;
}

.data-quality__middle
{
  vertical-align: middle !important;
}

.table-bordered > thead > tr > th.agency-performance__date-effected,
.table-bordered > tbody > tr > td.agency-performance__date-effected,
.table-bordered > tfoot > tr > td.agency-performance__date-effected
{
  border-left: 4px solid $gray-050;
}

.agency-performance__without
{
  background-color: lighten($brand-primary-ll, 5%);
}

.nav-tabs > li.active.payable > a, 
.nav-tabs > li.active.payable > a:hover, 
.nav-tabs > li.active.payable > a:focus
{
  box-shadow: inset 0px 2px 0px 0px $brand-success; 
}

.nav-tabs > li.payable > a:link
{
  box-shadow: inset 0px 2px 0px -1px $brand-success;
}

[class^=rrh__] 
{
  .title
  {

  }
  .metric
  {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .description
  {
    font-size: 1rem;
  }
  &.chunk:not(:last-child)
  {
    border-right: 1px solid $gray-034;
  }
}