.warehouse-reports__client
{
  margin: 1em;
  border: 1px solid $gray-040;
}
.warehouse-reports__client .row
{
  padding: 1em;
}
.warehouse-reports__client .rollup
{
  font-size: 0.9em;
}
.warehouse-reports__client-name
{
  background-color: $gray-015;
  padding: 1em;
}
.warehouse-reports__chronic .pagination
{
  margin-top: 1em;
}
.warehouse-reports__enrollment-highlighted
{
  font-weight: bold;
}
.warehouse-reports__completed .parameter-label,
.warehouse-reports__chronic .parameter-label,
.warehouse-reports__disabled .parameter-label,
.warehouse-reports__active-veterans .parameter-label
{
  border-radius: 5px 0px 0px 5px;
}
.warehouse-reports__completed .parameter-value,
.warehouse-reports__chronic .parameter-value,
.warehouse-reports__disabled .parameter-value,
.warehouse-reports__active-veterans .parameter-value
{
  border-radius: 0px 5px 5px 0px;
}
.warehouse-reports__hmis_export
{
  overflow: scroll;
}