.warehouse-reports__client
{
  margin: 1em;
  border: 1px solid $gray-040;
}
.warehouse-reports__client .row
{
  padding: 1em;
}
.warehouse-reports__client .rollup
{
  font-size: 0.9em;
}
.warehouse-reports__client-name
{
  background-color: $gray-015;
  padding: 1em;
}
.warehouse-reports__chronic .pagination
{
  margin-top: 1em;
}
.warehouse-reports__enrollment-highlighted
{
  font-weight: bold;
}