%ul.mb-2.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{href: '#ongoing', role: "presentation", data: {toggle: :tab}, aria: {controls:"ongoing", selected:"true"}}
      Ongoing Investigations
  %li.nav-item
    %a.nav-link{href: '#completed', role: "presentation", data: {toggle: :tab}, aria: {controls:"completed", selected:"false"}}
      Completed Investigations

.tab-content
  .tab-pane.show.active.fade#ongoing{role: 'tabpanel', aria: {labelledby: 'ongoing'}}
    .row
      .col-sm-8
        %h1 Ongoing Investigations
      .col-sm-4.text-right.mb-4
        = link_to download_warehouse_reports_health_contact_tracing_index_path, class: 'btn btn-primary' do
          Download
    - @ongoing.each do |index_case|
      = render 'index_case', index_case: index_case

  .tab-pane.show.fade#completed{role: 'tabpanel', aria: {labelledby: 'completed'}}
    .row
      .col-sm-8
        %h1 Closed Investigations
      .col-sm-4.text-right.mb-4
        = link_to download_warehouse_reports_health_contact_tracing_index_path(tab: 'completed'), class: 'btn btn-primary' do
          Download
    - @completed.each do |index_case|
      = render 'index_case', index_case: index_case