%h2 Census
.jCharts
  %p.jLoading.text-center Loading...

- content_for :page_js do
  :javascript
    (function($) {
      census = new App.Census.CensusByProjectType('#{date_range_censuses_path()}', 'Censuses::CensusVeteran', '#{@census_start_date}', '#{@census_end_date}');
      census.load();
    })(jQuery);