- content_for :title, 'Client Dashboard'
- @show_census = true
%h1= content_for :title
= render 'dashboards/tabs', active: 'clients'
%p.text-muted
  All clients enrolled in homeless projects (ES, SH, SO, TH).