@import '../helpers';

.d-none--empty {
  &:empty {
    display: none;
  }
}

.inline {
  display: inline !important;
}

.hidden,
.hide {
  display: none;
}

.d-sm-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.none-found {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
