@import '../helpers';

.d-none--empty {
  &:empty {
    display: none;
  }
}

.inline {
  display: inline !important;
}

.hidden,
.hide {
  display: none;
}

.d-sm-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
