@import '../helpers';

.date-cell {
  text-align: center;
}

.num-cell {
  text-align: right;
}

/* delete */
.table-utilities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: space(4);
}

.v-align-middle {
  vertical-align: middle !important;
}

tr.even td {
  background-color: $gray-015;
}
.table-striped {
  background-color: $white;
}
.table-responsive {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.pagy-container {
  display: flex;
  align-items: center;
  nav {
    margin-left: auto;
  }
  ul.pagination {
    margin-bottom: 0;
  }
}
