@import '../helpers';

.date-cell {
  text-align: center;
}

.num-cell {
  text-align: right;
}

.table-utilities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: space(4);
}

.v-align-middle {
  vertical-align: middle !important;
}

tr.even td {
  background-color: $gray-015;
}