@import '../helpers';

.date-cell {
  text-align: center;
}

.num-cell {
  text-align: right;
}

.table-utilities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: space(4);
}

.v-align-middle {
  vertical-align: middle !important;
}

tr.even td {
  background-color: $gray-015;
}
.table-striped {
  background-color: $white;
  margin-bottom: 0;
}
.table-responsive {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.pagy-container {
  display: flex;
  align-items: center;
  nav {
    margin-left: auto;
  }
  ul.pagination {
    margin-bottom: 0;
  }
  .o-page__sort .btn {
    font-weight: 400;
    padding: 0.25rem 1.25rem;
    line-height: 1.5;
    min-height: 2.5rem;
  }
  .o-page__sort ~ nav {
    margin-left: 2rem;
  }
}
