@import '../helpers';

.explain { /* to mark elements whose function was not clear from the mock */
  color: red;
}

.gray {
  color: $gray;
}

.light,
.muted,
.muted-text {
  color: $light-body-text;
}

.gray-light {
  color: $gray-light;
}

.underline-header {
  border-bottom: 1px solid $gray-025;
}
