@import '../helpers';

.explain {
  /* to mark elements whose function was not clear from the mock */
  color: red;
}

.gray {
  color: var(--gray-065);
}

.light,
.muted,
.muted-text {
  color: $light-body-text;
}

.gray-light {
  color: var(--gray-060)
}

.underline-header {
  border-bottom: 1px solid var(--gray-025);
}

.no-results {
  display: block;
  padding: space(4);
  text-align: center;
}
