= f.input :races, collection: HudUtility.races(multi_racial: true).invert, required: false, input_html: { multiple: true, placeholder: 'Any Race' }, label: control.label, as: :select_two, placeholder: 'Any Race'
