- @showing_sign_in_form = true
= f.input :email, required: false, autofocus: true
= f.input :password, required: false, input_html: { autocomplete: :off }
.form-actions
  = f.button :submit, 'Sign In'
