.position-relative
  = render 'toast'
%h1 Manage Permission Roles
= render partial: 'menus/admin_tabs'

.alert.alert-info
  %p Roles are added to Access Controls to govern what actions a user can take on the associated Collections.  Each role contains a set of active permissions which each grant an ability.  You can use this page to setup any number of roles and their permissions.
= render 'role_manager', path_for_patch: admin_roles_path, url: batch_update_admin_roles_path, role_class: Role, path_for_new: new_admin_role_path


= #render 'table_form', path_for_new: new_admin_role_path, path_for_patch: admin_roles_path, role_class: Role
