= render 'breadcrumbs'
.row
  .col-sm-12
    %h1 New Role
  .col-sm-8
    = simple_form_for [:admin, @role] do |f|
      = render 'new_form', f: f
      .form-actions
        = f.button :submit, class: 'btn btn-primary'
