@import '../helpers';

.bb-legend-item,
.bb-chart-arc text {
  font-family: $font-family-sans-serif;
}

.bb-legend-item {
  font-size: 16px;
}

.bb-chart-arc text {
  font-size: 16px;
  font-weight: bold;
}

.bb-xgrid-line.date-tick line {
  stroke: #ccc !important;
}

.bb-xgrid-line.date-tick.--start-of-month line {
  stroke: black !important;
  stroke-width: 3px;
}

.bb-xgrid-line.date-tick.--start-of-week line {
  stroke: #333 !important;
}
