%p
  Please see the MassHealth Flexible Services Verification, Planning, and Referral (VPR) Form Instructions document for additional instructions on completing or updating this form. All information relevant for identifying service needs must be included here; do not refer to other documents for additional detail (e.g., Care Plans).
