= simple_form_for :team_coordinator, url: admin_health_team_coordinators_path do |f|
  %h3 Assign Team Coordinators to Care Coordinators
  %p 
    Team Coordinators will see all patients assigned to themselves and their assigned care coordinators on the 
    = link_to health_my_patients_path do
      My Patients
    page
  %table.table
    %thead
      %tr
        %th
          Team Coordinator
        %th
          Care Coordinator
        %th
    %tbody
      %tr
        %td= f.input :user_id, collection: User.can_manage_care_coordinators.distinct, input_html: {class: :select2}, label: false
        %td= f.input :care_coordinator_id, collection: User.can_edit_patient_items_for_own_agency.distinct, input_html: {class: :select2}, label: false
        %td
          %button.btn.btn-primary{name: :submit} 
            %i.icon-plus
            Add
