#chronic-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    .row
      .col-sm-6
        %p
          = link_to 'The HUD HMIS Glossary definition of Chronically Homeless can be found here.', 'https://www.hudexchange.info/resource/4489/hmis-standard-reporting-terminology-glossary'
          %ol
            %li are currently homeless in ES (1), SH (8) or SO (4) and not currently housed (other residential types)
            %li have a disability that is indefinite and impairing
            %li have reported being homeless in 12 of the last 36 months.
            %li have reported being homeless continuously for the past 12 months, or reported 4 or more episodes of homelessness in the past three years.
      .col-sm-6
        %p
          %strong Please note:
        %ol
          - if GrdaWarehouse::Config.get(:project_type_override)
            %li Chronic calculations are done using the Project Type Overrides
          %li Individuals only option limits the clients included to those who didn't present for an enrollment with anyone else during the report period

  = render 'common/panel_collapse',
    id: 'chronic-info',
    title: 'Clients are considered to be experiencing chronic homelessness by HUD if they...'
