
- report.parameters['filter'].each do |k,v|
  - next if v.blank?
  .report-parameters__parameter
    %label.label.label-default.parameter-label= k.humanize.titleize
    - if %w(veteran individual dmh).include?(k)
      - if v=='1'
        %label.label.text-success.parameter-value
          %i.icon-checkmark
      - else
        %label.label.text-danger.parameter-value
          %i.icon-cross
    - else
      %label.label.label-primary.parameter-value= v
    &nbsp;
