.pull-right
  = link_to "Download Excel", params.merge(format: :xlsx), class: 'btn btn-secondary'
.btn-group.client__sort.form-inline
  %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
    Sort
    %span.caret
  .dropdown-menu.options
    %ul
      - @sort_options.each do |opt|
        - if @column == opt[:column] && @direction == opt[:direction]
          - title = "<span class='icon-checkbox-checked'></span> #{opt[:title]}".html_safe
        - else
          - title = "<span class='icon-checkbox-unchecked'></span> #{opt[:title]}".html_safe
        %li
          = link_to title, params.merge!(direction: opt[:direction], column: opt[:column]) 
