// colors
$light-body-text: lighten(#404040, 40%);

$white: rgba(255, 255, 255, 1);
$gray-015: rgb(242, 242, 242); // #f2f2f2 COB-sg lightest gray (bg)
$gray-020: rgb(233, 231, 237); // #E9E7ED
$gray-025: rgb(228, 228, 228); // #e4e4e4 COB-sg 2nd-to-lightest gray
$gray-030: rgb(216, 213, 219); // #D8D5DB
$gray-034: rgb(210, 210, 210); // #d2d2d2 COB-sg 2nd darkest gray
$gray-040: rgb(196, 193, 199); // #C4C1C7
$gray-050: rgb(158, 156, 161); // #9E9CA1
$gray-060: rgb(130, 130, 130); // #828282 COB-sg darkest gray (body)
$gray-065: rgb(102, 102, 102); // #666
$gray-070: rgb(64, 64, 64); // #404040
$gray-080: rgb(51, 51, 51); // #333
$black: rgba(0, 0, 0, 1);

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #88A6C9 !default;
$brand-success:         #009f44 !default;
$brand-success-l:       #81e7a7 !default;
$brand-positive: $brand-success;
$brand-positive-l: $brand-success-l;
$brand-info:            #d5e7eb !default;
$brand-warning:         #bc6923 !default;
$brand-warning-l:       #ffcb9b !default;
$brand-danger:          #bb2716 !default;
$brand-danger-l:        #ffa69b !default;

// COB-sg colors
$cob-sg-freedom-trail-red: rgb(251, 77, 66); // #FB4D42
$cob-sg-charles-blue: rgb(9, 31, 47); // #091F2F
$cob-sg-optimistic-blue: rgb(40, 139, 238); // #288BE4
// supporting blues
$cob-sg-blue-002: #061622;
$cob-sg-blue-003: #0C2639;
$cob-sg-blue-004: #45789C; // desaturated
$cob-sg-blue-005: #51ACFF; // brightest for blue on dark bg
$cob-sg-blue-006: #495F79; // action button

$link-blue: #288BEE; //rgb(40,139,238)

// initial cas colors from GR
// $cas-blue: rgb(73, 95, 121); // #495F79
$cas-blue: $cob-sg-charles-blue;
$cas-red: rgb(119, 55, 71); // #773747
$cas-green: rgb(50, 88, 71); // #495F79
$cas-red-green: rgb(231, 223, 221); // #E7DFDD

// additional cas colors
$cas-blue-007: #90A4BC;

// Data Source Colors
$dnd: rgb(86, 114, 170); // #5672AA
$bphc: rgb(45, 118, 124); // #2D767C
$nechv: rgb(112, 76, 112); // #704C70
$ma-state: rgb(120, 115, 39); // #787327
$vi-spdat: rgb(147, 12, 0);
// next rgb(143, 78, 69); // #8F4E45
