- if @patient.present?
  - if @patient.anything_expiring?
    %div.alert.alert-warning
      %i.alert__icon.icon-warning
      %ul
        - if @patient.release_status.present?
          %li= @patient.release_status
        - if @patient.hrsn_status.present?
          %li= @patient.hrsn_status
        - if @patient.ca_status.present?
          %li= @patient.ca_status
        - if @patient.careplan_status.present?
          %li= @patient.careplan_status
