:ruby
  tabs = {
    polymorphic_path(careplan_path_generator) => {
      title: 'Goals',
      permission: can_edit_client_health?,
    },
    polymorphic_path(careplan_path_generator + [:team, :members]) => {
      title: 'Team Members',
      permission: can_edit_client_health?,
    },
  }
%ul.nav.nav-tabs.mb-6
  - tabs.each do |action, details|
    - if action == current
      - if details[:permission]
        %li.nav-item.active.active-tab{role: 'presentation'}
          %a{href: '#', class: 'nav-link'}
            = details[:title]
    - else
      - if details[:permission]
        %li.nav-item
          = link_to details[:title], action, class: 'nav-link'
