- if can_access_some_version_of_clients?
  %section.o-dashboard__block--primary.client__summary
    = render 'client_access_control/clients/va/client_summary'
= render 'client_access_control/clients/va/rollups'
