= simple_form_for @report, url: warehouse_reports_health_member_status_reports_path do |f|
  .d-flex
    = f.input :report_start_date, as: :date_picker
    .ml-2
      = f.input :report_end_date, as: :date_picker
    .ml-auto.mt-6
      = f.submit 'Queue Report', class: 'btn btn-primary'