= f.input :times_homeless_in_last_three_years, collection: @filter.available_times_homeless_in_last_three_years.invert, required: false, input_html: { multiple: true, placeholder: 'Any Number of Times Homeless' }, label: control.label, as: :select_two, placeholder: 'Any Number of Times Homeless'
