- content_for :modal_title, 'Comprehensive Assessment'
.row
  .col
    .mb-2
      %dt.inline Name:
      %dd.inline= @client.name
    .mb-2
      %dt.inline Date Completed:
      %dd.inline= @assessment.completed_on || 'in progress'
    .mb-2
      %dt.inline Case Worker:
      %dd.inline= @assessment.user&.name
  .col.pull-right
    = link_to edit_client_health_comprehensive_assessment_assessment_path(@client, @assessment), class: 'btn btn-secondary btn-sm' do
      %i.icon-pencil
      Edit CA
