= render_dependent_block(input_name: 'household_type', input_value: 'single_adult') do
  %ul.mb-0.pl-3
    %li Arlington Shelter - for individuals - 325 W. Division Street, Arlington, 76011; 817-548-9885
    %li Presbyterian Night Shelter - Single individuals - 2400 Cypress, Fort Worth, 76102; 817-632-740
    %li Safe Haven - Domestic violence victims - call Crisis line: 877-701-7233 for shelter information
    %li Salvation Army - Families first - if not full for the night, single women may be allowed in- 1855 E. Lancaster, Fort Worth, 76102; 817-344-1801
    %li Union Gospel Mission - Individuals - 1321 E. Lancaster, Fort Worth, 76102; 817-332-3019 (men’s shelter); 817-338-8475 (women)
    %li True Worth Place - daytime shelter with resources (7a-3p); 1513 E. Presidio, Fort Worth, 76102; 817-289-7474
= render_dependent_block(input_name: 'household_type', input_value: 'household_with_children') do
  %ul.mb-0.pl-3
    %li Arlington Shelter - for families - 325 W. Division Street, Arlington, 76011; 817-548-9885
    %li Presbyterian Night Shelter - Women and children - 2320 Poplar, Fort Worth, 76102
    %li 817-632-7429 Safe Haven - Domestic violence victims - call Crisis line: 877-701-7233 for shelter information
    %li Salvation Army - Families seeking shelter - 1855 E. Lancaster, Fort Worth, 76102 817-344-1801
    %li Union Gospel Mission - Families - 1321 E. Lancaster, Fort Worth, 76102; 817-338-8475
    %li True Worth Place - daytime shelter with resources (7a-3p) 1513 E. Presidio, Fort Worth, 76102; 817-289-7474 (Do not bring children to TWP)
