.alert.alert-info
  %i.icon-warning.mr-4
  %p
    %strong Collections can be used to assign access to particular sets of data.
    Users are assigned groups and inherit data access from the group.  Roles are then assigned to users to grant access to sections of the #{entity_type}.  When used in combination a user can be given access to a sub-set of #{entity_type} data within a specified limited context.
