- if additional_sources.present?
  .project-duplicate-warning
    %span{data: { 'bs-toggle' => :tooltip, 'bs-placement' => :left, 'bs-title' => "Already specified by another source: <br /> #{additional_sources}", 'bs-html' => :true }}
      %i.icon-info
