- if additional_sources.present?
  .project-duplicate-warning
    %span{data: { 'bs-toggle' => :tooltip, placement: :left, title: "Already specified by another source: <br /> #{additional_sources}", html: :true }}
      %i.icon-info
