@import '../helpers';

.modal-title {
  font-size: rem(24);
  color: $brand-primary;
  text-transform: uppercase;
  line-height: line-height(26, 24);
  margin-top: 0;
}

.modal-title--secondary {
  font-size: rem(18);
  color: $gray-060;
  margin: 0;
}

.modal-header {
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-header .close {
  margin-left: auto;
}

.modal-header,
.modal-footer {
  background: $modal-header-bg;
}

.modal-footer {
  border: 0;
}

.modal-icon-close {
  font-style: normal;
  &::before {
    @include icon;
    content: '\ea0f';
    font-size: rem(18);
    color: $gray-070;
  }
}

.modal-content {
  background: $white;
}

.modal-dialog {
  @include media-breakpoint-down(sm) {
    width: calc(100vw - 30px) !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}

.modal-dialog input[type=submit] {
  justify-content: center;
  float: right;
  min-width: 120px;
}

.modal-dialog [class^="icon-"],
.modal-dialog  [class*=" icon-"] {
  font-size: rem(12);
  color: #000;
  margin-right: 12px;
}

.import__errors {
  overflow: scroll;
}

.modal-container--full-bleed {
  margin: 25px -15px;
  padding: 15px 0;
  background: $modal-content-bg;
  border-top: 1px solid $modal-header-bg;
  border-bottom: 1px solid $modal-header-bg;
}

.modal-container--full-bleed .form-group {
  margin-bottom: 15px;
}

[data-ajax-modal-loading] {
  min-height: 300px;
  text-align: center;
  margin-top: rem(80);
}

.modal table tbody tr {
  td {
    border-top: 0;
    border-bottom: 1px solid $modal-border;
  }
  &:last-of-type td {
    border: 0;
  }
}

.modal-xxl {
  max-width: 85vw;
  @include media-breakpoint-up(lg) {
    max-width: 992px;
  }
}

@for $i from 1 through length($indicator-colors) {
  $color: nth($indicator-colors, $i);
  .modal-header--highlight-#{$i} {
    background: $color;
  }
}

[class^=modal-header--highlight] {
  padding: space(4) space(4) space(2) space(4);
  min-height: 30px;
  .modal-header__content {
    flex: 1 1 100%;
    position: relative;
  }
  .modal-title {
    text-transform: none;
    border-bottom: 1px solid $white;
    margin-bottom: space(2);
    display: flex;
    align-items: center;
    padding-bottom: space(2);
  }
  .modal-title--primary {
    color: $black;
    padding-right: space(2);
    border-right: 1px solid $white;
    margin-right: space(2);
  }
  .modal-title--secondary {
    color: $black;
    font-weight: normal;
    font-family:  $font-family-sans-serif;
  }
  .close {
    position: absolute;
    top: - space(4);
    right: - space(6);
    transform: translate(-50%);
    font-size: 30px;
    padding: space(2) space(4);
  }
  .note {
    font-weight: bold;
    margin: 0;
  }
}
