- relative_total ||= values.sum
- colors ||= ['#36a4a6', '#265479']
.progress
  - values.each_with_index do |value, i|
    .progress-bar{style: "width: #{(value.to_f/relative_total.to_f)*100}%; background: #{colors[i]}", data: {toggle:"tooltip"}, title: value}
