- relative_total ||= values.sum
- colors ||= ['#36a4a6', '#265479']
.c-bar-viz
  .c-bar-viz__total=values.sum
  .c-bar-viz__bars
    - values.each_with_index do |value, i|
      .c-bar-viz__bar{style: "width: #{(value.to_f/relative_total.to_f)*100}%; background: #{colors[i]}"}
