.mb-1
  .c-swatch
    %span.c-swatch__display.c-swatch__display--bar-0.mr-2
    %span.coc1-name
      - if filters.coc1
        = filters.coc1.number_and_name
      -else
        %span.muted Primary CoC not selected
.mb-1
  .c-swatch
    %span.c-swatch__display.c-swatch__display--bar-1.mr-2
    %span.coc2-name
      - if filters.coc2
        = filters.coc2.number_and_name
      -else
        %span.muted Secondary CoC not selected
