%table.table.table-striped{style: 'border: 1px solid #e1e7ee;'}
  %thead
    %tr{style: 'background: #e1e7ee'}
      %th{style: 'width: 35%'}= scope.titleize
      %th{style: 'width: 35%'} Total Shared Clients
      %th{style: 'width: 15%'}
        .c-swatch
          %span.c-swatch__display.c-swatch__display--bar-0
          %span Asynchronus
      %th{style: 'width: 15%'}
        .c-swatch
          %span.c-swatch__display.c-swatch__display--bar-1
          %span Concurent
  %tbody
    = yield
