.row
  .col-sm-6.col-md-4
    = render 'location_chart', data: data['location_chart']
  .col-sm-6.col-md-4
    = render 'veteran_chart', data: data['location_chart']
  .col-md-4
    = render 'household_type', data: data['household_type']
