.d-flex
  .w-50
    %h4 All Homeless Individuals
    .jQuarterChosenDate
    .state-map#all-homeless-map
  .w-50
    .state-map#comparison-map

- # include the map class directly
= render 'map_js'


:javascript
  (function() {
    const homeless_map = new CocMap({
      elementId: "all-homeless-map",
      shapes: #{@report.map_shapes.to_json.html_safe},
    })
    const comparison_map = new CocMap({
      elementId: "comparison-map",
      shapes: #{@report.map_shapes.to_json.html_safe},
    })
  }).call(this);
= debug data
