= render 'chart_css'
- data = @report.parsed_pre_calculated_data

= render 'slider', data: data['quarters']

= render 'need_map', data: data['need_map'], max_rate: data['map_max_rate'], max_count: data['map_max_count']
