%table.table.table-compressed.table-striped
  %thead
    %tr
      %th Personal ID
      %th First Name
      %th Last Name
      %th Data source
  %tbody
    - @source_client_details.each do |client|
      %tr
        %td= client.PersonalID
        %td= client.FirstName
        %td= client.LastName
        %td.ds{class: "ds-color-#{client.data_source_id}"}= ds_short_name_for(client.id)
