- content_for :title, 'Unaccompanied Youth Dashboard'
- @show_census = false
%h1= content_for :title
= render 'dashboards/tabs', active: 'youths'
%p.text-muted
  Clients enrolled in homeless projects (ES, SH, SO, TH) where the client is between 18 and 24 years and presents alone or with others who are also between 18 and 24.