$icons: (
  settings_backup_restore: '\e90b',
  move: '\e90a',
  home3: '\e90d',
  pencil: '\e907',
  copy: '\e92c',
  bell: '\e951',
  calendar: '\e953',
  printer: '\e954',
  database: '\e964',
  user: '\e971',
  users: '\e972',
  enlarge2: '\e98b',
  shrink2: '\e98c',
  lock: '\e98f',
  unlocked: '\e990',
  cog: '\e994',
  menu: '\e9bd',
  download2: '\e9c5',
  upload2: '\e9c6',
  flag: '\e9cc',
  eye: '\e9ce',
  eye-blocked: '\e9d1',
  warning: '\ea07',
  notification: '\ea08',
  question: '\ea09',
  plus: '\ea0a',
  minus: '\ea0b',
  info: '\ea0c',
  cross: '\ea0f',
  checkmark: '\ea10',
  checkmark2: '\ea11',
  enter: '\ea13',
  exit: '\ea14',
  arrow-right2: '\ea3c',
  arrow-left2: '\ea40',
  checkbox-checked: '\ea52',
  checkbox-unchecked: '\ea53',
  filter: '\ea5b',
  arrow-circled-down: '\e908',
  arrow-circled-right: '\e909',
  helping-hands: '\e901',
  medical-provider: '\e902',
  mental-health: '\e903',
  nurse-clipboard: '\e904',
  reminder: '\e905',
  team: '\e906',
  envelope-o: '\e90c',
  wheelchair: '\e900',
  equalizer: '\e992',
  guages: '\e992',
  arrow-up: '\ea32',
  arrow-down: '\ea36',
  arrow-left: '\ea38',
  arrow-right: '\ea34',
  group: '\e90e',
  individual: '\e910',
  child: '\e90f',
  clock: '\e925',
  stop: '\e927',
  minus-circle: '\e912',
  house: '\e911',
  step-back: '\e913',
  list-numbered: '\e9b9',
  file-text: '\e922',
  list2: '\e9bb',
  list: '\e9ba',
);
