- title = _('Scanned Services')
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'operational'

= render 'filter'
- if @dates.any?
  = render 'table'
- else
  .none-found No services found