/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
@function luminance($color) {
  $red: nth($linear-channel-values, red($color) + 1);
  $green: nth($linear-channel-values, green($color) + 1);
  $blue: nth($linear-channel-values, blue($color) + 1);

  @return .2126 * $red + .7152 * $green + .0722 * $blue;
}

/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
@function contrast($back, $front) {
  $backLum: luminance($back) + .05;
  $foreLum: luminance($front) + .05;

  @return max($backLum, $foreLum) / min($backLum, $foreLum);
}

/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 * Also returns the background color, modified such that it has sufficient contrast.
 */
@function choose-contrast-color($color) {
  $lightContrast: contrast($color, white);
  $darkContrast: contrast($color, black);

  @if ($lightContrast > $darkContrast) {
    // WCAG AAA requires a contrast of 7:1
    @while ($lightContrast < 10) {
      $color: darken($color, 3%);
      $lightContrast: contrast($color, white);
    }
    @return $color, white;
  }
  @else {
    // WCAG AAA requires a contrast of 7:1
    @while ($darkContrast < 10) {
      $color: lighten($color, 3%);
      $darkContrast: contrast($color, black);
    }
    @return $color, black;
  }
}

@mixin many-colors($scope: 'color') {
  $n_hues: 75;
  $n_sats: 4;
  $n_colors: $n_hues * $n_sats;
  @for $s from 1 through $n_sats {
    @for $h from 1 through $n_hues {
      $i: ($s - 1 ) * $n_hues + $h;
      .#{ $scope }-#{ map-get($color-lookup, $i) } {
        // using 65% luminance will skew towards light bg and dark fg
        $color: hsl( ($h / $n_hues * 360) % 360, (50% - $s * 10), 65%);

        // choose text color and adjust bg for sufficient contrast
        $colors: choose-contrast-color($color);
        background-color: nth($colors, 1);
        color: nth($colors, 2);
      }
    }
  }
}