- title = "Secure Files"
- content_for :title, title

%h1= content_for :title

%p After 1 month files will be permanently deleted and can not be retrieved
.row
  .col-sm-6
    = render 'received'
    .mt-4= render 'sent'
  .col-sm-6
    .well
      = render 'form'
