= content_for :modal_title do
  Add Project CoC Record
= simple_form_for :project_coc, url: manual_hmis_data_project_project_cocs_path do |f|
  = render 'manual_hmis_data/form', form: f
  = f.submit 'Add Project CoC Record'
