- content_for :title, 'Youth Parents Dashboard'
- @show_census = false
%h1= content_for :title
- if @html
  = render 'dashboards/tabs', active: 'youth_parents'
%p.text-muted
  Clients enrolled in homeless projects (ES, SH, SO, TH) where ...