= simple_form_for @filter, as: :filter, url: warehouse_reports_hmis_exports_path, html: { method: :post, class: 'jFilter' } do |f|
  = render 'shared_filter', f: f, include_hash_status: true

  %h3 Recurring Exports
  .well
    .d-flex
      .mr-auto
        %a.btn.btn-secondary.collapsed{data: { 'bs-toggle' => 'collapse', 'bs-target' => '#recurrence_options', 'aria-expanded' => false, 'aria-controls' => '#recurrence_options'}, href: '#'}
          Recurring Export Options...
      .ml-2
        = f.button :submit, value: 'Queue Export', data: { disable_with: 'running...' }
    #recurrence_options.collapse
      = render 'recurrence_options', save_language: 'Queue Export', f: f
