.row
  .col-sm-12
    %h4 Recurring Reports
    %p
      Setting a report to run every (n) days, will result in the report being created now, and then automatically
      generated on the specified schedule. A recurring report can be configured to always cover the same date range,
      or a sliding range based on the date the report is run.
.row
  .col-sm-2
    = f.input :every_n_days, as: :numeric, label: 'Run every (n) days:'
  .col-sm-4
    = f.input :reporting_range, collection: { 'Dates specified above': 1, '(n) days before run date': 2, 'Month prior to run date': 3, 'Year prior to run date': 4 }, label: 'For period:', selected: 1
  .col-sm-2
    = f.input :reporting_range_days, as: :numeric, disabled: true, label: '&nbsp;'.html_safe
  .col-sm-4

= content_for :page_js do
  :javascript
    $('#filter_reporting_range').change(function () {
      $("#filter_reporting_range_days").prop("disabled", $("#filter_reporting_range").val() != "2");
    });
