- title = "Edit HUD HMIS CSV Export"
- content_for :title, title
%h1= title
.well
  = simple_form_for @filter, as: :filter, url: warehouse_reports_hmis_export_path(@export), method: :patch, html: { 'data-controller': 'custom-file-exports' } do |f|
    = render 'shared_filter', f: f, include_hash_status: true, include_custom_files: true, edit_mode: true, recurrence: @recurrence
    = render 'recurrence_options', save_language: 'Update Recurring Options', f: f, recurrence: @recurrence
