- title = "Touch Point Exports"
- content_for :title, title
%h1= title
%hr

= render '/warehouse_reports/breadcrumbs'

- if GrdaWarehouse::Config.get(:eto_api_available)
  .well
    .row
      .col-sm-12
        = render 'filter'
- else
  %p Access to the ETO API is required for this report.