%h2 Sign In
%p
  Authentication is handled by your Identity Provider.
  = oauth2_sign_in_link class: 'btn btn-primary'
%p
  - if GrdaWarehouse::Config.get(:request_account_available)
    = link_to 'Request an account', new_users_account_request_path
