- if lookup_context.exists?('homepage_content', ['root'], true)
  = render 'root/homepage_content'
- else
  - title = _('Boston DND Warehouse')
  - content_for :title, title
  %h1= content_for :title
  .row
    .col-sm-7
      %p.home-intro
        = _('Boston DND Warehouse')
    - if !user_signed_in?
      .col-sm-5
        = render '/root/sign_in_form'