.c-card {
  padding: space(3);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.c-card > .c-card__content {
  @include card;
  width: 100%;
}

.c-card--linked,
.c-card > .c-card__content {
  cursor: pointer;
  &:focus,
  &:hover {
    color: $text-color;
    box-shadow: 0 2px 8px rgba($black, .1);
  }
  &:active {
    background-color: $body-bg;
  }
}

.c-card__title {
  margin-bottom: space(3);
  font-size: 110%;
  font-weight: 800;
}

.c-card__description {
}
