.c-card { }

.c-card--block {
  display: block;
}

.c-card--flex {
  display: block;
}

.c-card__header {
  padding: space(3) space(3) 0 space(3);
}

.c-card__header--external {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin-bottom: space(2);
  h1,
  h2,
  h3 {
    margin: 0;
    padding-right: space(4);
  }
  a,
  button {
    margin-left: auto;
  }
}

.c-card__content {
  @include card;
  width: 100%;
}

.c-card__content--flush {
  padding: 0;
}

.c-card--flush {
  @include card;
  padding: 0;
  .table {
    margin-bottom: 0;
  }
  .table thead tr th,
  .table tbody tr td {
    &:first-of-type {
      padding-left: rem(15px);
    }
    &:last-of-type {
      padding-right: rem(15px);
    }
  }
}

.c-card__content {
  padding: space(4);
}

.c-card--padded {
  padding: space(3);
}

.c-card--no-padding {
  padding: 0;
}

.c-card--linked {
  cursor: pointer;
  &:focus,
  &:hover {
    color: $text-color;
    box-shadow: 0 2px 8px rgba($black, .1);
  }
  &:active {
    background-color: $body-bg;
  }
}

.c-card__title {
  margin-bottom: space(3);
  font-size: 110%;
  font-weight: 800;
}

.c-card__description {
}

.c-card__content table {
  thead tr th:first-of-type,
  tbody tr td:first-of-type {
    padding-left: space(4);
  }
  thead tr th:last-of-type,
  tbody tr td:last-of-type {
    padding-right: space(4);
  }
}

.c-card__content .dataTables_wrapper {
  .row:last-of-type {
    padding-left: space(4);
    padding-right: space(4);
    margin-top: space(2);
  }
}
