/* .c-checkbox { } */

.c-checkbox input:checked,
.c-checkbox input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.c-checkbox input:checked + label,
.c-checkbox input:not(:checked) + label {
  @include checkbox-default;
}

.c-checkbox input:not(:checked) + label {
  @include checkbox-not-checked;
}

.c-checkbox input:checked + label {
  @include checkbox-checked;
}

.c-checkbox--round {
  &::before {
    border-radius: 50%;
  }
}
