- title = "All Assigned Clients"
- content_for :title, title

%h1.mb-5= content_for :title

- agency_name = nil
- @users.each do |user|
  - if user.agency&.name != agency_name
    - agency_name = user.agency&.name
    %h2= agency_name
  - clients = user.user_clients.joins(:client).merge(GrdaWarehouse::UserClient.active)
  %h3
    Clients for
    = user.name
  = render 'assigned/clients/client_table', clients: clients