= content_for :title, 'PCP information needed for Care Plan Signature'
%h1=content_for :title
.alert.alert-danger
  This request has expired. (It was time-limited for security reasons.) Program administrators will take the next action to get a signature. You can contact BH CP at #{mail_to Health::Cp.sender.first.key_contact_email}.
