- content_for :panel_collapse_content_search do
  .row
    .col-sm-6
      = render_generic_search_form(cohort_client_search_queries_path, method: :post, prompt: 'Search clients...', initial_value: @search_string)
= render 'common/panel_collapse', id: 'search', title: 'Search clients', content: '_search'
