- content_for :panel_collapse_content_search do
  .row
    .col-sm-6
      = search_form_for @q, url: new_cohort_cohort_client_path(@cohort), method: :get do |f|
        .input-group{style: 'margin-bottom: 20px;'}
          = f.search_field :full_text_search, label: false, class: 'form-control'
          %span.input-group-append
            %button.btn.btn-primary{type: :submit} Search

= render 'common/panel_collapse', id: 'search', title: 'Search clients', content: '_search'
