@charset 'UTF-8';

// Settings
// (Colors, Variables, Fonts)
// (Ordered by inclusion)
@import
  'settings/colors',
  'settings/variables',
  'settings/icons',
  'settings/spacing',
  'settings/stack_order';

// Tools
// (Mixins, Functions)
@import
  'tools/functions',
  'tools/mixins';

// Vendor
@import
  'select2',
  'select2-bootstrap',
  'bootstrap-datepicker3',
  'jquery-ui/sortable',
  'jquery-ui/slider',
  'jquery-ui/autocomplete',
  'leaflet',
  'jquery.minicolors',
  'datatables.min',
  'font-awesome-sprockets',
  'font-awesome',
  'vis',
  'vendor/bootstrap/index',
  'vendor/icomoon';

// Elements
// (DOM elements)
@import
  'elements/body',
  'elements/dl',
  'elements/html',
  'elements/main',
  'elements/section';

// Layouts
// (Super high-level structural layout)
@import
  'layouts/main';

// Objects
// (High-level items with minimal styling)
@import
  'objects/card_grid',
  'objects/container',
  'objects/dashboard',
  'objects/list',
  'objects/menu',
  'objects/page',
  'objects/pagination',
  'objects/section_card',
  'objects/text';

// Components
// ()
@import
  'components/btn_group',
  'components/card',
  'components/color_key',
  'components/tag';

// @import 'base/grid_framework';
@import
  'base/typography',
  'base/buttons',
  'base/forms',
  'base/modals',
  'base/navs';

@import
  'modules/header',
  'modules/footer',
  'modules/tables',
  'modules/site_menu',
  'modules/report_results',
  'modules/warehouse_reports',
  'modules/client',
  'modules/window',
  'modules/census',
  'modules/data_sources',
  'modules/reports',
  'modules/sections_slabs_cards',
  'modules/lists',
  'modules/vispdats',
  'modules/health_forms',
  'modules/health_charts',
  'modules/anomalies',
  'modules/cohorts';

// Overrides
@import
  'overrides/data_table',
  'overrides/bootstrap',
  'overrides/select2';

// Utilities
@import
  'utilities/bootstrap_polyfills',
  'utilities/display',
  'utilities/general',
  'utilities/helper_classes',
  'utilities/tables',
  'utilities/spacing',
  'utilities/text';
