%h1
  .pull-right
    = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id), class: 'btn btn-primary', title: 'New', data: { toggle: 'tooltip', method: :post, remote: true, disable_with: 'loading...' } do
      %span.icon-plus
  = content_for :title
  .clearfix
%hr

%table.table.vispdat-table
  %thead
    %tr
      %th.text-left Created On
      %th.text-center Total Score

  %tbody
    = render partial: 'vispdat_row', collection: @vispdats, as: :vispdat
