%h1
  .pull-right
    - if @client.vispdats.in_progress.none?
      = link_to polymorphic_path(vispdats_path_generator, client_id: @client.id), class: 'btn btn-primary', title: 'New', data: { method: :post } do
        %span.icon-plus
        New VI-SPDAT
    -# else
      %button.btn.btn-primary(title="#{@client.full_name} already has a VI-SPDAT in progress. Please complete that one or delete it before starting a new VI-SPDAT" data-toggle='tooltip')
        %span.icon-plus

  = content_for :title
  .clearfix
%hr

%table.table.vispdat-table
  %thead
    %tr
      %th.text-left Created On
      %th.text-left Status
      %th.text-center Total Score

  %tbody
    = render partial: 'vispdat_row', collection: @vispdats, as: :vispdat
