- title = "Assigned Relationships"
- content_for :title, title
= render 'clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'clients/tab_navigation', current: client_users_path(@client)

= render 'relationship_list'