- content_for :title, _("HUD Reports")
%header.mb-3
  %h1= content_for :title

= render 'hud_data_quality_report/shared/tabs', tab_name: 'Data Quality Report'


.jReportListing
  = render 'all_questions'
= render 'hud_data_quality_report/shared/list_refresher'
