- if @report.has_custom_form?
  = render @report
- else
  = link_to(report_report_results_path(@report), method: :post, class: 'btn btn-primary pull-right') do
    %span.icon-plus
    Queue Report Run