%p
  Hello #{@resource.name},

%p
  An account has been created for you for the City of Boston DND Warehouse.  Please follow the link below to finish setting up your account:

%p= link_to accept_invitation_url(@resource, invitation_token: @token), accept_invitation_url(@resource, invitation_token: @token)

%p This invitation will expire at #{@resource.invitation_due_at.strftime("%B %d, %Y %I:%M %p")}.  Your account will not be active until you access the link above and set your password.

%p If you are not #{@resource.name}, or do not want to create an account at this time, please ignore this email.