%p.intro
  Hello #{@resource.name},

%p.content
  We're contacting you to let you know that your password has been changed on
  = link_to _('City of Boston DND Warehouse'), root_url

%p.closing
  Thank you.
