%p.intro
  Hello #{@resource.name},

%p.content
  We're contacting you to let you know that your password has been changed on
  = link_to Translation.translate('Open Path HMIS Warehouse'), root_url

%p.closing
  Thank you.
