%p.intro
  Hello #{@resource.name},

%p.content
  Someone has requested a link to change your password. You can do this through
  the link below.
  %br
  %strong
    = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

%p.content
  If the link doesn't work, you can copy and paste
  %br
  = edit_password_url(@resource, reset_password_token: @token)
  %br
  into a browser window.

%p.content
  If you didn't request a password reset, please ignore this email.

%p.content
  Your password won't change until you access the link above and create a new one.
