- required_documents = GrdaWarehouse::AvailableFileTag.document_ready
- if required_documents.any?
  .d-flex.mb-2.align-items-center
    %h3.mb-0.mt-0.mr-4 Document Readiness
  .c-card.c-card--block.c-card--flush
    %table.table.table-sm
      %thead
        %tr
          %th File
          %th Uploaded
      %tbody
        - client.document_readiness(required_documents).each do |file|
          %tr
            %td
              = file.name
            %td
              - if file.available
                = checkmark('Y')
                = file.updated_at&.to_date
