.ho-container.rrh
  .ho-container__headerA.d-flex
    %div
      %h3.mb-0 Racial Disparities
      %p.mt-1 Proportion of clients exiting to permanent housing by race versus proportion of full population by race
    #d3-demographics__legend.ml-auto
  .row.rrh-row
    .col-sm-12.col-md-6
      = content_for :program_1_title
      .d3-chart#d3-demographics-1{style: 'height: 500px'}
    .col-sm-12.col-md-6
      = content_for :program_2_title
      .d3-chart#d3-demographics-2{style: 'height: 500px'}
