= simple_form_for [:admin, @user] do |f|
  = f.error_notification

  = render 'admin/users/form_fields', f: f

  .form-actions.mt-4
    = f.button :submit, class: 'btn btn-primary'

-# When we've connected contacts to user accounts, this would be a good roll-up place to show the contact relationships
-# - unless @user.new_record?
-#   = render 'contact_relationships'
