- if user.invitation_status == :active
  - if user.access_locked?
    Account locked.
  - elsif user.expired?
    Account Expired #{user.expired_at}
  - elsif user.future_expiration?
    Account will expire on #{user.expired_at.to_date}
  - else
    Active
- elsif user.invitation_status == :pending_confirmation
  Pending Confirmation.
  %br
  Invitation will expire on #{user.invitation_due_at.strftime "%m/%d/%Y"}
- elsif user.invitation_status == :invitation_expired
  %i Invitation Expired.