:ruby
  items = []
  if user.invitation_status != :active || user.access_locked?
    if user.invitation_status == :pending_confirmation
      items << { link_to: { path: admin_user_resend_invitation_path(user), method: :post }, icon: 'envelope-o', label: 'Resend Invitation' }
    elsif user.invitation_status == :invitation_expired
      items << { link_to: { path: admin_user_recreate_invitation_path(user), method: :post }, icon: 'envelope-o', label: 'Re-create Invitation' }
    elsif user.access_locked?
      items << { link_to: { path: unlock_admin_user_path(user), method: :post }, icon: 'unlocked', label: 'Unlock' }
    end
  end

  items << { link_to: { path: edit_admin_user_path(id: user) }, icon: 'pencil', label: 'Edit Account' }

  if user.training_required? && user.required_training_courses.present?
    items << { link_to: { path: edit_admin_user_training_path(id: user) }, icon: 'pencil', label: 'Edit Training' }
  end

  if can_audit_users?
    items << { link_to: { path: admin_user_audit_path(user) }, icon: 'eye', label: 'Audit' }
  end

  if can_impersonate_users? && user.impersonateable_by?(true_user)
    items << { link_to: { path: impersonate_admin_user_path(true_user, become_id: user.id), method: :post }, icon: 'enter', label: 'Become' }
  end

  items << { link_to: { path: expire_password_admin_user_path(user), method: :patch, class: ['label-warning'], data: {confirm: "Would you really like to force a password reset for the account? #{user.name} will be immediately logged out and will need to choose a new password on next login." } }, icon: 'lock', label: 'Force Password Reset' }

  items << { link_to: { path: admin_user_path(user), method: :delete, class: ['label-danger'], data: { confirm: "Would you really like to de-activate the account? #{user.name} will no longer be able to login." } }, icon: 'cross', label: 'De-Activate' }

= action_menu_or_button(items: items)
