%table.table.table-sm.table-hover
  %thead
    %tr
      %th Start Date
      %th End Date
      %th Status
      %th Delete
  %tbody
    - @reports.each do |report|
      %tr
        %td= link_to_if report.completed?, report.start_date, warehouse_reports_health_encounter_path(report, format: :xlsx)
        %td= link_to_if report.completed?, report.end_date, warehouse_reports_health_encounter_path(report, format: :xlsx)
        %td= report.status
        %td
          = link_to warehouse_reports_health_encounter_path(report), method: :delete, class: 'btn btn-danger btn-sm btn-icon-only', data: {confirm: "Are you sure you want to delete this report?"} do
            %i.icon-cross
