= f.input :project_group_ids, collection: @filter.project_groups_options_for_select(user: current_user), input_html: {multiple: true, placeholder: 'Any Project Group'}, label: control.label, as: :select_two, placeholder: 'Any Project Group'
