- content_for :title, "Youth Intakes"
= render 'window/clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_youth_intakes_path(client_id: @client.id)

= render 'window/clients/youth/intakes/intakes'
    