- content_for :title, "Youth Intakes"
= render 'window/clients/breadcrumbs'

= render 'window/clients/aliases'
= render 'window/clients/tab_navigation', current: window_client_youth_intakes_path(client_id: @client.id)

%section.client__assessments.c-card.c-card--block.c-card--no-padding
  .c-card__header.c-card__header--external
    %h2.section-expander-block__header Youth Intakes

  .c-card__content.c-card__content--flush
    