- content_for :modal_title, 'Update Goal'

= simple_form_for @goal, url: client_health_pctp_careplan_goal_path(@client, @careplan, @goal), remote: true do |f|
  = render 'form', f: f

  .form__actions.form__actions--right.mb-6
    = f.submit 'Save', class: 'btn btn-primary'
