- if @report.projects.count == 1
  - if notification_id
    - dq_path_base = [:notification, :project, :data_quality_report]
  - else
    - dq_path_base = [:project, :data_quality_report]
  - @report_keys = {project_id: @project.id, id: @report.id}
  - @support_path = [:support] + dq_path_base
  - @answers_path = [:answers] + dq_path_base
- else
  - if notification_id
    - dq_path_base = [:notification, :project_group, :data_quality_report]
  - else
    - dq_path_base = [:project_group, :data_quality_report]
  - @report_keys = {project_group_id: @project_group.id, id: @report.id}
  - @support_path = [:support] + dq_path_base
  - @answers_path = [:answers] + dq_path_base
- @report_keys[:notification_id] = notification_id
- if Rails.env.development?
  .alert.alert-warning.flex-column
    %p Development Only
    = link_to "answers", polymorphic_path(@answers_path, @report_keys)
    = link_to "support", polymorphic_path(@support_path, @report_keys)
