.card
  .card-body
    %h2.mb-4 Across the Country
    .row
      .col-8
        #coo-map__across-the-country{style: 'height:350px;'}
        .d-flex.justify-content-center.py-4
          .d-flex.align-items-center.pr-4
            .coo-map__atc__triangle
            .pl-2 < 10%
          .d-flex.align-items-center.pr-4
            .coo-map__atc__square
            .pl-2 10% - 60%
          .d-flex.align-items-center.pr-4
            .coo-map__atc__circle
            .pl-2 > 60%
        .text-center
          %strong Percent of Clients
      .col-4
        %table.table
          %thead
            %tr
              %th Location
              %th.text-right Percent of Clients
          %tbody
            - data.each do |d|
              %tr
                %td= d[:name]
                %td.text-right{data: { toggle: :tooltip, title: "#{d[:count]} of #{d[:total]}" }}
                  = d[:display_percent]
