.well
  %h2 Clients
  .d-flex
    .d-flex.ml-auto.mr-auto
      .count.font-weight-bolder.ml-auto.mr-auto
        = number_with_delimiter(@report.enrolled_clients.select(:client_id).distinct.count)
      .count-description
        %h3 Enrolled
        %p Unique Clients
    .d-flex.pr-6.border-right.ml-auto.mr-auto
      .count.font-weight-bolder.ml-auto.mr-auto
        = number_with_delimiter(@report.enrolled_with_community_of_origin.select(:client_id).distinct.count)
      .count-description
        %h3 With Community of Origin
        %p of the Unique Enrolled Clients
    .d-flex.ml-auto.mr-auto
      .count.font-weight-bolder.ml-auto.mr-auto
        = number_with_delimiter(@report.entering_clients.select(:client_id).distinct.count)
      .count-description
        %h3 Entering
        %p Unique Clients
    .d-flex.ml-auto.mr-auto
      .count.font-weight-bolder.ml-auto.mr-auto
        = number_with_delimiter(@report.entering_with_community_of_origin.select(:client_id).distinct.count)
      .count-description
        %h3 With Community of Origin
        %p of the Unique Entering Clients
