- note = cohort_client_note

- if note.note.length > 19
  %p{data: {toggle: 'popover', placement: 'bottom', content: note.note, trigger: 'hover', container: 'body'}}
    = truncate(note.note, length: 20)
- else
  = note.note

%p.attribution
  = note.user.name
  on
  = note.updated_at.to_date
