- homeless_contacts = []
- last_outreach_enrollment_date = patient.last_outreach_enrollment_date(current_user)
- homeless_contacts << {date: last_outreach_enrollment_date, location: 'Street Outreach'} if last_outreach_enrollment_date.present?
- patient_last_sleeping_location = patient.last_sleeping_location(current_user)
- homeless_contacts << patient_last_sleeping_location if patient_last_sleeping_location.present?
- if homeless_contacts.present?
  %table.table-sm
    %thead
      %tr
        %th
          Date
        %th
          Location
    %tbody
      - homeless_contacts.sort_by{ |contact| contact[:date] }.each do |contact|
        %tr
          %td= contact[:date]
          %td= contact[:location]