.mt-5
  = search_form_for @q, url: url, method: :get do |f|
    - if params[:entity_id]
      = hidden_field_tag(:entity_id, params[:entity_id])
    .input-group{style: 'margin-bottom: 20px;'}
      = f.search_field :full_text_search, label: false, class: 'form-control'
      %span.input-group-append
        %button.btn.btn-secondary{type: :submit} Search

