.mb-4
  = render 'warehouse_reports/health/agency_performance/form'
.mb-6
  = render 'warehouse_reports/health/agency_performance/table', entities: @agencies, detail_path: [:detail, :health, :patients], permission: current_user.has_some_patient_access?
