.card.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Document
        %th Deletion Date
        %th Deletion Reason
      %tbody
        - files.each do |file|
          = render 'clients/files/deleted_file_row', file: file
