- files.each do |file|
  = render 'clients/files/file_row', file: file, consent: consent
- if paginate
  - if consent
    - anchor = 'consent'
  - else
    - anchor = 'other'
  = render 'common/pagination_bottom', item_name: 'file'
