- selected = params[:grda_warehouse_client_file].try(:[], :tag_list)&.include?(item.name)
- selected = f.object.tag_list.to_s == item.name || selected
= hidden_field_tag('grda_warehouse_client_file[tag_list][]', item.name, options)