@import '../helpers';

label {
  color: var(--gray-070);
}

.label-helper {
  font-style: italic;
  font-size: 95%;
  font-weight: normal;

  &--info,
  &--optional {
    color: var(--bs-primary);
  }

  &--required {
    color: var(--bs-danger);
  }
}

.label {
  color: rgba(0, 0, 0, .9);
}

.label--minor {
  font-weight: normal;
}

.label-info {
  background: var(--bs-info);
}

.label-default {
  background: var(--gray-030);
}

.label-primary {
  background: var(--brand-primary-lll);
}

.label-danger {
  background: var(--brand-danger-lll);
}

.label-success {
  background: var(--brand-success-l);
}

.label-warning {
  background: var(--brand-warning-lll);
}
