- title = 'Missing Fields in Reports'
- content_for :title, title
%h1= title
= render '/warehouse_reports/breadcrumbs', tab: 'data-quality'

%div{ data: { controller: 'missing-values-chart',
        'missing-values-chart-counts-value': @query.counts.to_a.to_json,
        'missing-values-chart-possible-client-columns-value': @query.possible_client_columns.to_json,
        'missing-values-chart-possible-enrollment-columns-value': @query.possible_enrollment_columns.to_json,
        'missing-values-chart-default-columns-value': @query.default_columns.to_json } }
  = render 'filters'

  - if @query.valid?
    %div{ "data-missing-values-chart-target" => "chart", style: "height: 300px; margin: auto;" }
    %em(style="display:table;margin:0 auto;")
      click on a bar to copy its field and value to the clipboard
