- content_for :modal_title, 'Add New Medication'

= simple_form_for @medication, url: client_health_comprehensive_assessment_assessment_medications_path(@client, @assessment), remote: true do |f|
  = render 'form', f: f

  .form__actions.form__actions--right.mb-6
    = f.submit 'Save', class: 'btn btn-primary'
