cookie_secret="dtm0zv-OaNMLiq2V00I1IpIFv_ZCsP_m-V0FYubBpLg=" # See https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/#generating-a-cookie-secret
email_domains="*"
cookie_domains=[".dev.test", "oauth2-proxy.dev.test", "hmis-warehouse.dev.test", "hmis.dev.test"] # Required so cookie can be read on all subdomains.
whitelist_domains=[".dev.test", "oauth2-proxy.dev.test", "hmis-warehouse.dev.test", "hmis.dev.test"] # Required to allow redirection back to original requested target.
cookie_refresh="1h"
cookie_expire="12h" # When this time is reached, the session is closed and the user will be logged out

# dex provider
redirect_url="https://hmis.dev.test/oauth2/callback"

# These paths don't require authentication
skip_auth_routes=[
  "^/$",
  "^/sign_in",
  "^/sign_out",
  "^/favicon.ico",
  "^/icon.",
  "^/healthz",
]
skip_provider_button=true
