= content_for :page_js do
  :javascript
    $('.js-client').on('click', function(event){
      if (event.target.nodeName !== 'A' && event.target.nodeName !== 'BUTTON') {
        var href = $(this).data('href');
        if(event.metaKey) {
          open(href, '_blank');
        }
        else{
          window.location = href;
        }
      }
    })