#pjax-modal.modal.fade(data-pjax-modal role="dialog")
  .modal-dialog(role="document")
    .modal-content(data-pjax-modal-container)
      .modal-header
        %h4.modal-title(data-pjax-modal-title)
        %button.close(aria-label="Close" pjax-modal-close type="button")
          %i.modal-icon-close
      .modal-body.clearfix
        %div(data-pjax-modal-loading)
          Loading&hellip;
