- form_options = {} unless form_options.present?
- tooltip = nil unless tooltip.present?
- data = {} unless data.present?
- input_data = { toggle: 'tooltip', title: tooltip }.merge(data)
= form_tag(nil, {method: "get"}.merge(form_options)) do
  .input-group
    %input.form-control{name: 'q', autofocus: true, type: :text, placeholder: @prompt, value: @query || params[:q],  data: input_data }
    %span.input-group-append
      %button.btn.btn-secondary{type: :submit} Search
