= render_dependent_block(input_name: 'which_city_do_you_live', input_value: 'arlington') do
  %h3.h5 Arlington Resources:
  %ul.mb-0.pl-3
    %li Arlington Housing Authority - 501 W. Sanford, Ste. 20, Arlington, 76011; 817-275-3351
    %li Arlington Urban Ministries - 701 Dugan Street, Arlington, 76011, 817-861-8585
    %li Mission Arlington - 210 W. South Street, Arlington, 76010; 817-277-6620

= render_dependent_block(input_name: 'which_city_do_you_live', input_value: 'fort_worth') do
  %h3.h5 Fort Worth Resources:
  %ul
    %li Catholic Charities - 249 West Thornhill Drive, Fort Worth, 76115; 817.534.0814, option 2;
    %li Community Action Partners - 817-392-5790- information line and to schedule an appointment;
    %li Salvation Army - 1855 E. Lancaster, Fort Worth, 76103; 817-344-1832- information and message line;
    %li Specify Other.
= render_dependent_block(input_name: 'which_city_do_you_live', input_value: 'tarrant_county') do
  %h3.h5 Tarrant County Resources:
  %ul
    %li NEED East - 424 W. Bedford-Euless Road, Hurst, 76053; 817-280-0286;
    %li NEED West - 5028 Broadway, Haltom City, 76117; 817-759-1506; Tarrant Count CCD - 817-850-7940;
    %li Tarrant County Dept. of Human Services - 1200 Circle Drive, Ste. 200, Fort Worth, 76119; 817-531-5620- call center
