.d-flex.align-items-center
  .d-flex.justify-content-center.client__calendar-card__contact-key__key
    .client__calendar-day-event
      %span{class: "client__calendar-day-event__#{key}"}
        %i{class: icon}
  %span= name