%tr
  %td{colspan: 2}
    = render 'event_icon', key: key, name: values[:name], icon: values[:icon]
%tr
  %td Start Date
  %td= project[:extrapolation][:entry_date]
%tr
  %td End Date
  %td= project[:extrapolation][:exit_date]
