-# year, month = month
-# For Dev
- year, month = [2023, 2]
- fakeData = ClientHistoryMonth.new(year, month)
- start_of_month = Date.new(year, month, 1)
- date_range = (start_of_month.beginning_of_week..start_of_month.end_of_month.end_of_week)
%h3= start_of_month.strftime '%B %Y'
-#= link_to client_history_path(@client, month_index: )
%button.btn.btn-light Prev
%button.btn.btn-light Next
-#

.d3-calendar.client__calendar{style: 'margin-top:40px;'}


- content_for :page_js do
  :javascript
    var data = #{fakeData.weeks_data.to_json.html_safe}

    var calendar = App.ClientHistoryCalendar(data, '.d3-calendar')
    


