- if window_file_access?
  .c-card.c-card-overflow-inherit
    .c-card__content
      - url = polymorphic_path([:queue] + history_path_generator, client_id: @client.id)
      = simple_form_for :pdf, url: url, method: :post do |f|
        .row
          .col-sm-5
            %p Generate Homeless Verification PDF
          .col-sm-4
            = f.input :years, as: :select_two, collection: {'Last 3 years' => 3, 'Last 5 years' => 5}, include_blank: false, label: false, style: 'width: 100%;'
          .col-sm-3.pt-2
            = f.submit 'Generate PDF', class: "btn btn-secondary"
