- if window_file_access?
  - url = polymorphic_path([:queue] + history_path_generator, client_id: @client.id)
  = simple_form_for :pdf, url: url, method: :post do |f|
    = f.input :years, as: :select_two, collection: {'Last 3 years' => 3, 'Last 5 years' => 5}, include_blank: false, label: false, style: 'width: 100%;'
    .d-flex
      = f.submit 'Generate PDF', class: "btn btn-secondary ml-auto"
