- title = "Service History"
- content_for :title, title
= render 'clients/breadcrumbs'
= render 'clients/aliases'
= render 'clients/tab_navigation', current: polymorphic_path(history_path_generator, client_id: @client)
= render 'month'
