%h1.h3.mb-4= @form_definition['name']
%form{method: 'post', autocomplete: "off",  novalidate: true }
  - @form_definition['item']&.each do |node|
    = HmisExternalApis::StaticPages::FormGenerator.new(self).render_node(node).html_safe
  = render_form_actions
