.alert.alert-info
  %i.icon-warning.mr-4
  %p Access Controls are used to grant users access to #{entity_type} data with specific permissions. Each Access Control consists of one User Group, one Role, and one Collection. Each user in the Access Controls inherits data access from the Collection, permissions from the Role, and applies those permissions to the collection of data for everyone in the User Group.
