- title = _('CoC Performance Measurement Dashboard')
- content_for :title, title

= render '/warehouse_reports/breadcrumbs', tab: 'performance'
%h1.mb-5= title

= render 'form'
= render 'history_table'
