.d-flex
  %h2.client-status-header Clients Housed

.well
  .client-housed-matched-wrapper
    .client-status-housed-wrapper
      #client-status-housed-chart
      #client-status-housed-chart-legend.d-flex.m-4
  = content_for :page_js do
    :javascript
      let housed_data = #{@report.housed_by_cohort.to_json.html_safe};
      let housed_grid = #{@report.housed_by_cohort['columns'].first.drop(1).map { |d| { value: d, label: d }}.to_json.html_safe};
      let housed_max = #{@report.housed_by_cohort['columns'].select { |m| m.first == 'Total' }.first.drop(1).max};

      let status_housed_chart = bb.generate({
        data: housed_data,
        bindto: '#client-status-housed-chart',
        size: {
          height: 300,
        },
        legend: {
          contents: {
            bindto: '#client-status-housed-chart-legend',
            template: "<div class='d-flex mr-4'><div style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; margin: auto; border-radius: 10px;'>&nbsp;</div><div class='m-2'>{=TITLE}</div></div>"
          }
        },
        line: {
          point: false,
          classes: ['wide-line'],
        },
        axis: {
          x: {
            type: "timeseries",
            tick: {
              format: "%b '%y"
            }
          },
          /*
          y: {
            tick: {
              values: [0, housed_max],
            }
          },
          */
        },
        grid: {
          x: {
            lines: housed_grid,
          },
        }
      });
