.dashboard-race-by-cohort-charts
  .d-flex
    - @report.cohort_names.each do |cohort|
      - chart_id = "race-by-cohort-chart-#{cohort.parameterize(separator: '_')}"
      .race-by-cohort-chart.mr-6{ id: chart_id }
    - # Bind charts to one legend (https://github.com/naver/billboard.js/issues/605)
    #race-by-cohort-chart-legend

  :ruby
    charts = @report.cohort_names.map do |cohort|
      cohohrt_slug = cohort.parameterize(separator: '_')
      [cohohrt_slug, @report.race_by_cohort[cohohrt_slug]]
    end
  = content_for :page_js do
    :javascript
      let race_charts = #{charts.to_json.html_safe};
      let active_race_charts = []
      race_charts.forEach((arr, index) => {
        let chart_name, data, legend, width, height;
        [chart_name, data] = arr;
        if(index == 0) {
          width = 185;
          height = 185;
          legend = {
            contents: {
              bindto: '#race-by-cohort-chart-legend',
              template: "<span><div class='d-flex mr-4'><div style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; margin: auto 1rem; border-radius: 10px;'>&nbsp;</div><div class='m-2'>{=TITLE}</div></div></span>"
            },
            item: {
              onclick: function(id) {
                false;
              },
            },
          }
        } else {
          width = 165;
          height = 165;
          legend = {
            show: false,
            item: {
              onclick: function(id) {
                false;
              },
            },
          }
        }
        active_race_charts.push(bb.generate({
          data: data,
          bindto: `#race-by-cohort-chart-${chart_name}`,
          legend: legend,
          size: {
            width: width,
            height: height
          }
        }));
      });
      // (2) Bind new event handler to handle all generated charts
      d3.selectAll("#race-by-cohort-chart-legend span")
        .on("mouseover mouseout click", (e) => {
          const id = e.target.innerHTML;
          const type = e.type;

          active_race_charts.forEach(v => {
            switch (type) {
              case "mouseover":
                v.focus(id);
                break;
              case "mouseout":
                v.revert();
                break;
              }
            });
        });
