%h2 Total Clients by Stage
.well
  #total-clients-by-stage-chart
  #total-clients-by-stage-chart-legend.d-flex.m-4
- max_value = @report.counts_by_stage['columns'].map(&:last).max
= content_for :page_js do
  :javascript
    let total_chart = bb.generate({
      data: #{@report.counts_by_stage.to_json.html_safe},
      bindto: '#total-clients-by-stage-chart',
      bar: {
        padding: 20,
        width: 85,
      },
      legend: {
        contents: {
          bindto: '#total-clients-by-stage-chart-legend',
          template: "<div class='d-flex mr-4'><div style='padding:5px; height: 14px; width: 26px; background-color:{=COLOR}; margin: auto; border-radius: 10px;'>&nbsp;</div><div class='m-2'>{=TITLE}</div></div>"
        }
      },
      axis: {
        x: {
          type: 'category',
          categories: ['Stage'],
          show: false
        },
        y: {
          tick: {
            values: [0, #{max_value}]
          }
        }
      }
    });
