- title = "Edit #{@cohort.name}"
- content_for :modal_title, title

%p Please choose the columns to display when viewing this cohort.
= simple_form_for @cohort, as: :column_state, url: cohort_columns_path(@cohort) do |f|
  - GrdaWarehouse::Cohort.available_columns.each do |column|
    - visible = @column_state.find{|m| m.class == column.class}&.visible
    = f.input column.column, label: column.title, as: :boolean, input_html: {checked: visible}
  = f.submit value: 'Update Cohort', class: 'btn btn-primary'
