- content_for :title, 'Veteran Dashboard'
- @show_census = true
%h1= content_for :title
= render 'dashboards/tabs', active: 'veteran'
%p.text-muted
  Clients enrolled in homeless projects (ES, SH, SO, TH) where the client is a veteran.