#computation-accordion.panel-group.panel-collapsible
  - content_for :panel_collapse_content, flush: true do
    %p Each client is counted only once per CoC.  Client responses are counted from the most recently started closed enrollment that overlaps the chosen universe.

  = render 'common/panel_collapse', id: 'computation-info', title: 'How this Data is Computed'
