- content_for :modal_title, "#{@key.humanize} Client Details"

- if @data.count.zero?
  No clients found
- else
  - columns = @data.values.first.keys
  %table.table.table-striped
    %thead
      %tr
        %th Client ID
        - columns.each do |key|
          %th= key.to_s.humanize
    %tbody
      - @data.each do |id, values|
        %tr
          %td
            = link_to id, client_path(id)
          - columns.each do |key|
            %td= values[key]
