.mt-8.d-flex
  %span.badge.text-bg-primary Primary
  %span.badge.text-bg-secondary.ml-2 Secondary
  %span.badge.text-bg-success.ml-2 Success
  %span.badge.text-bg-danger.ml-2 Danger
  %span.badge.text-bg-warning.ml-2 Warning
  %span.badge.text-bg-info.ml-2 Info
  %span.badge.text-bg-light.ml-2 Light
  %span.badge.text-bg-dark.ml-2 Dark
