.buttons.mb-6
  .btn-group.client__filter-active
    %button.btn.btn-default
      Default (Client Filter Active)

  .btn-group
    %button.btn.btn-default
      Default

  .btn-group
    %button.btn.btn-primary
      Primary

  .btn-group
    %button.btn.btn-secondary
      Secondary

  .btn-group
    %button.btn.btn-success
      Success

  .btn-group
    %button.btn.btn-warning
      Warning

  .btn-group
    %button.btn.btn-danger
      Danger

  .btn-group
    %button.btn.btn-light
      Light (BS 4)

.buttons.mb-6
  .btn-group.client__filter-active
    %button.btn.btn-default.disabled
      Default (Client Filter Active)

  .btn-group
    %button.btn.btn-default.disabled
      Default

  .btn-group
    %button.btn.btn-primary.disabled
      Primary

  .btn-group
    %button.btn.btn-secondary.disabled
      Secondary

  .btn-group
    %button.btn.btn-success.disabled
      Success

  .btn-group
    %button.btn.btn-warning.disabled
      Warning

  .btn-group
    %button.btn.btn-danger.disabled
      Danger

  .btn-group
    %button.btn.btn-light.disabled
      Light (BS 4)