.buttons.mb-6
  .btn-group.client__filter-active
    %button.btn.btn-default
      Default (Client Filter Active)

  .btn-group
    %button.btn.btn-default
      Default

  .btn-group
    %button.btn.btn-primary
      Primary

  .btn-group
    %button.btn.btn-secondary
      Secondary

  .btn-group
    %button.btn.btn-success
      Success

  .btn-group
    %button.btn.btn-warning
      Warning

  .btn-group
    %button.btn.btn-danger
      Danger

  .btn-group
    %button.btn.btn-light
      Light (BS 4)
