= render 'breadcrumbs'
%h1 Colors
.row
  .col-sm-10
    %h2 Bootstrap Theme Colors
    .d-flex.flex-row.flex-wrap.gap-2.mb-4
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--bs-primary);" }
        .c-color-key__title --bs-primary
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--bs-success);" }
        .c-color-key__title --bs-success
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--bs-warning);" }
        .c-color-key__title --bs-warning
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--bs-danger);" }
        .c-color-key__title --bs-danger
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--bs-info);" }
        .c-color-key__title --bs-info

    %h2 Brand Primary Variants
    .row
      .col-3
        %h3 Darker
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-d);" }
          .c-color-key__title --brand-primary-d
      .col-3
        %h3 Main
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary);" }
          .c-color-key__title --brand-primary
      .col-3
        %h3 Lighter
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-l);" }
          .c-color-key__title --brand-primary-l
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-ll);" }
          .c-color-key__title --brand-primary-ll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-lll);" }
          .c-color-key__title --brand-primary-lll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-llll);" }
          .c-color-key__title --brand-primary-llll
      .col-3
        %h3 Desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-primary-l-desaturated);" }
          .c-color-key__title --brand-primary-l-desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--bs-primary-desaturated);" }
          .c-color-key__title --bs-primary-desaturated

    %h2 Brand Success Variants
    .row
      .col-3
        %h3 Darker
      .col-3
        %h3 Main
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success);" }
          .c-color-key__title --brand-success
      .col-3
        %h3 Lighter
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success-l);" }
          .c-color-key__title --brand-success-l
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success-ll);" }
          .c-color-key__title --brand-success-ll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success-lll);" }
          .c-color-key__title --brand-success-lll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success-llll);" }
          .c-color-key__title --brand-success-llll
      .col-3
        %h3 Desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-success-l-desaturated);" }
          .c-color-key__title --brand-success-l-desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--bs-success-desaturated);" }
          .c-color-key__title --bs-success-desaturated

    %h2 Brand Warning Variants
    .row
      .col-3
        %h3 Darker
      .col-3
        %h3 Main
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-warning);" }
          .c-color-key__title --brand-warning
      .col-3
        %h3 Lighter
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-warning-l);" }
          .c-color-key__title --brand-warning-l
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-warning-ll);" }
          .c-color-key__title --brand-warning-ll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-warning-lll);" }
          .c-color-key__title --brand-warning-lll
      .col-3
        %h3 Desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-warning-l-desaturated);" }
          .c-color-key__title --brand-warning-l-desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--bs-warning-desaturated);" }
          .c-color-key__title --bs-warning-desaturated

    %h2 Brand Danger Variants
    .row
      .col-3
        %h3 Darker
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger-d);" }
          .c-color-key__title --brand-danger-d
      .col-3
        %h3 Main
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger);" }
          .c-color-key__title --brand-danger
      .col-3
        %h3 Lighter
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger-l);" }
          .c-color-key__title --brand-danger-l
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger-ll);" }
          .c-color-key__title --brand-danger-ll
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger-lll);" }
          .c-color-key__title --brand-danger-lll
      .col-3
        %h3 Desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-danger-l-desaturated);" }
          .c-color-key__title --brand-danger-l-desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--bs-danger-desaturated);" }
          .c-color-key__title --bs-danger-desaturated

    %h2 Brand Info Variants
    .row
      .col-3
        %h3 Darker
      .col-3
        %h3 Main
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-info);" }
          .c-color-key__title --brand-info
      .col-3
        %h3 Lighter
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--brand-info-l);" }
          .c-color-key__title --brand-info-l
      .col-3
        %h3 Desaturated
        .c-color-key.mb-2
          .c-color-key__swatch{ style: "background-color: var(--bs-info-desaturated);" }
          .c-color-key__title --bs-info-desaturated

    %h2 Highlight Colors
    .d-flex.flex-row.flex-wrap.gap-2.mb-4
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--highlight-red);" }
        .c-color-key__title --highlight-red
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--highlight-red-green);" }
        .c-color-key__title --highlight-red-green

    %h2 Theme Colors
    .d-flex.flex-row.flex-wrap.gap-2.mb-4
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-bright-blue);" }
        .c-color-key__title --theme-bright-blue

    %h2 Theme Background Colors
    .d-flex.flex-row.flex-wrap.gap-2.mb-4
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background);" }
        .c-color-key__title --theme-background
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background-l);" }
        .c-color-key__title --theme-background-l
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-foreground);" }
        .c-color-key__title --theme-foreground
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-alt-background);" }
        .c-color-key__title --theme-alt-background
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background-d);" }
        .c-color-key__title --theme-background-d
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background-highlight-d);" }
        .c-color-key__title --theme-background-highlight-d
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background-highlight-dd);" }
        .c-color-key__title --theme-background-highlight-dd
      .c-color-key
        .c-color-key__swatch{ style: "background-color: var(--theme-background-d);" }
        .c-color-key__title --theme-background-d
  .col-sm-2= render 'pages'
