= render 'breadcrumbs'
.row
  .col-sm-8
    %h1 Icon Font from https://fontello.com
    %p See the readme.md in /app/assets/fonts for instructions on adding additional characters
    %p Char codes associated with class-names located in app/assets/stylesheets/settings/_icons.scss
    %h4.mb-3 Icons Currently Available in This App

:ruby
  # Char codes located in app/assets/stylesheets/settings/_icons.scss
  icons = %W(
    ok-circled
    ok-circled2
    cancel-circled
    cancel-circled2
    plus-circled
    minus-circled
    up-circle
    wheelchair
    helping-hands
    medical-provider
    mental-health
    nurse-clipboard
    reminder
    team
    pencil
    arrow-circled-down
    arrow-circled-right
    move
    settings_backup_restore
    envelope-o
    home3
    group
    users
    child
    user2
    house
    minus-circle
    undo
    go
    break
    return
    times-circle-o
    check-circle
    award
    clip-board-check
    file-drawn
    group-alt
    medkit
    passport
    star
    map
    child1
    angle-down
    file-text
    clock-o
    stop
    check
    copy
    bell
    calendar
    printer
    database
    user
    users2
    enlarge2
    shrink2
    lock
    unlocked
    equalizer
    cog
    list-numbered
    list
    list2
    menu
    download2
    upload2
    flag
    eye
    eye-blocked
    warning
    notification
    question
    plus
    minus
    info
    cancel-circle
    cross
    checkmark
    checkmark2
    enter
    exit
    arrow-up
    arrow-right
    arrow-down
    arrow-left
    arrow-right2
    arrow-left2
    checkbox-checked
    checkbox-unchecked
    filter
    file-pdf
    file-excel
    heart
    heart-empty
  )

.style-guide__icon-list
  - icons.each_slice(4) do |icons|
    .row
      - icons.each do |icon|
        .col-sm-3.mb-6
          %i{ class: "icon-#{icon}" }
          %pre= ".icon-#{icon}"
