.row
  .col-sm-8
    %h1 Icon Font from icomoon
    %p See the readme.md in /app/assets/fonts for instructions on adding additional characters

.row
  .col-sm-6
    %h4 Icons Currently Available in This App
    %ol
      %li
        %i.icon-wheelchair
        wheelchair (font-awesome)
      %li
        %i.icon-pencil
        pencil
      %li
        %i.icon-copy
        copy
      %li
        %i.icon-bell
        bell
      %li
        %i.icon-calendar
        calendar
      %li
        %i.icon-database
        database
      %li
        %i.icon-user
        user
      %li
        %i.icon-users
        users
      %li
        %i.icon-enlarge2
        enlarge2
      %li
        %i.icon-shrink2
        shrink2
      %li
        %i.icon-lock
        lock
      %li
        %i.icon-unlocked
        unlocked
      %li
        %i.icon-cog
        cog
      %li
        %i.icon-menu
        menu
      %li
        %i.icon-download2
        download2
      %li
        %i.icon-upload2
        upload2
      %li
        %i.icon-flag
        flag
      %li
        %i.icon-eye
        eye
      %li
        %i.icon-eye-blocked
        eye-blocked
      %li
        %i.icon-warning
        warning
      %li
        %i.icon-notification
        notification
      %li
        %i.icon-question
        question
      %li
        %i.icon-plus
        plus
      %li
        %i.icon-minus
        minus
      %li
        %i.icon-info
        info
      %li
        %i.icon-cross
        cross
      %li
        %i.icon-checkmark
        checkmark
      %li
        %i.icon-checkmark2
        checkmark2
      %li
        %i.icon-enter
        enter
      %li
        %i.icon-exit
        exit
      %li
        %i.icon-arrow-right2
        arrow-right2
      %li
        %i.icon-filter
        filter
      %li
        %i.icon-printer
        printer
      %li
        %i.icon-checkbox-checked
        checkbox-checked
      %li
        %i.icon-checkbox-unchecked
        checkbox-unchecked
        