= render 'breadcrumbs'
%h1 Menu
.row
  .col-sm-10
    :css
      .site-menu {
        padding: 1rem;
      }
    - # First level is either a direct link or a header containing children in a collapsible
    - # Second level is either a direct link, or a header containing children in an exposed group
    .well
      .menu-wrapper{style: 'width: 220px;' }
        = render 'menus/site_menu'
  .col-sm-2= render 'pages'
