.dropdown.ml-auto
  %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{ type: :button, data: { toggle: :dropdown, boundary: 'viewport' }, aria: { expanded: false }}
    Actions
    %i.ml-2.icon-angle-down
  .dropdown-menu.options(aria-label="Actions")
    %ul.list-unstyled.m-0
      - items.each do |item|
        -# Populate classes with a drop-down item
        - item[:link_to][:class] ||= []
        - item[:link_to][:class] += ['dropdown-item']

        - if item.dig(:link_to, :method) == :delete
          - item[:icon] ||= :cross
        - path = item.dig(:link_to, :path)
        %li
          = link_to(path, **item[:link_to]) do
            - if item[:icon].present?
              %i{class: "icon-#{item[:icon]} mr-2"}
            = item[:label]
