- classes = ['btn', 'btn-sm']
- if item.dig(:link_to, :method) == :delete
  - classes << 'btn-danger'
  - item[:icon] ||= :cross
- else
  - classes << 'btn-secondary'
- if item[:label].blank?
  - classes << 'btn-icon-only'
- path = item.dig(:link_to, :path)
= link_to(path, **item[:link_to].reverse_merge({class: classes})) do
  - if item[:icon].present?
    %i{class: "icon-#{item[:icon]}"}
  = item[:label]
