- # Generic search form, see render_generic_search_form
= form_tag(url_for_options, form_options) do
  .input-group
    %input.form-control{**input_attrs}
    %button.btn.btn-secondary{type: :submit} Search
