.c-gradient-legend
  .c-gradient-legend__gradient{style: "background: linear-gradient(90deg, #{colors.first} 0%, #{colors.last} 100%)"}
  .c-gradient-legend__labels
    .c-gradient-legend__label=labels.first
    .c-gradient-legend__label=labels.last
