.well.overflow-scroll
	.row
		.col-sm-3
			%br
			%p.text-center Bed Inventory
			%h3.text-center
				= pluralize(@report.report_project_group.bed_inventory, 'bed')
			%hr
			%p.text-center Average Daily / Nightly Clients

			%h3.text-center
				= pluralize(@report.report_project_group.average_nightly_clients, 'client')
			%hr
			%p.text-center Average Bed Utilization

			%h3.text-center
				#{@report.report_project_group.average_bed_utilization}%

		.col-sm-9
			%h3.text-center Nightly Client Census
			.bed-census-chart.jChart
				%p.jLoading Loading