.mb-4
  %h3.text-center Percentage of Clients Increasing or Retaining Income
  .income-chart.jChart
    %p.jLoading Loading
  %p.description Clients retained income if their two most recent income responses have remained the same or increased.  Percentages are calculated against all enrolled clients who are heads of household or adults at entry and have at least 365 days in the enrollment, or two or more income assessments.

.mb-4
  %h3.text-center Percentage of Clients With No Income
  .no-income-chart.jChart
    %p.jLoading Loading