= f.input :inactivity_days, collection: @filter.available_inactivity_days, required: false, hint: control.hint, input_html: { placeholder: 'Select Range' }, label: control.label, as: :select_two, placeholder: 'Select Range'
