- if @blank_release_form_url.present? || @blank_directed_form_url.present?
  .dropdown
    %button#dropdownButton.btn.btn-secondary.dropdown-toggle{aria: {expanded: "false", haspopup: "true"}, data:{toggle: "dropdown"}, type: "button"}
      %i.icon-download2
      Blank Participation and Release Forms
    .dropdown-menu.dropdown-menu-right.px-0.py-2{style: 'min-width: 200px', aria: {labelledby:"downloadButton"}}
      - if @blank_release_form_url.present?
        %a.dropdown-item.d-flex.align-items-center.mb-1.py-2{href: @blank_release_form_url}
          %i.icon-user2
          Patient Signature Form
      - if @blank_directed_form_url
        %a.dropdown-item.d-flex.align-items-center.mb-1.py-2{href: @blank_directed_form_url}
          %i.icon-users2
          Verbal (Directed) Signature Form

