%label{for:html_id, class: required && 'required'}= label
%input.form-control{type: input_type, id: html_id, name: name, required: required, pattern: input_pattern, placeholder: input_placeholder, class: input_class}
