%h3.mb-2.gray.form-filter-section-title-prs1
  = section&.title
- section.controls.each do |control|
  - next unless control
  = render control.input_partial_path, control: control, f: f, data: local_assigns[:data].presence
