= simple_form_for @upload_object, url: upload_url, as: :health_file, html: {multipart: true} do |f|
  = f.error_notification
  = render 'window/health/health_files/form_fields', f: f, include_submit: true, include_note: false