name: Bundle Audit and Brakeman
on:
  push:
    branches:
      - '*'
      - '**/*'
jobs:
  # Label of the container job
  audit:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-20.04

    # Docker Hub image that the job executes in
    container: ruby:2.7.4-alpine3.13
    steps:
      - name: Set up dependencies
        run: |
          apk add --no-cache \
            nodejs yarn npm \
            tzdata \
            git \
            bash \
            freetds-dev \
            icu icu-dev \
            curl libcurl curl-dev \
            imagemagick \
            libmagic file-dev file \
            build-base libxml2-dev libxslt-dev postgresql-dev \
            wkhtmltopdf libgcc libstdc++ libx11 glib libxrender libxext libintl ttf-dejavu ttf-droid ttf-freefont ttf-liberation ttf-ubuntu-font-family \
            chromium nss freetype freetype-dev harfbuzz ca-certificates ttf-freefont \
            lftp postgresql postgis geos geos-dev \
            shared-mime-info
          gem install bundler --version=2.2.15

      - uses: actions/checkout@v2
      - name: Install gems
        run: |
          bundle config set --local without 'production staging development'
          bundle install --jobs 4 --retry 3

      - name: Run bundle-audit
        run: |
          bundle exec bundle-audit check --update --ignore CVE-2015-9284 CVE-2019-16676 CVE-2017-1002201

      - name: Run brakeman
        run: |
          bundle exec brakeman -q --no-pager --except PermitAttributes,Render
