# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, on every push
# to the master branch.
#
# To use this workflow, you will need to complete the following set-up steps:
#
# 1. Create an ECR repository to store your images.
#    For example: `aws ecr create-repository --repository-name my-ecr-repo --region us-east-2`.
#    Replace the value of `ECR_REPOSITORY` in the workflow below with your repository's name.
#    Replace the value of `aws-region` in the workflow below with your repository's region.
#
# 2. Create an ECS task definition, an ECS cluster, and an ECS service.
#    For example, follow the Getting Started guide on the ECS console:
#      https://us-east-2.console.aws.amazon.com/ecs/home?region=us-east-2#/firstRun
#    Replace the values for `service` and `cluster` in the workflow below with your service and cluster names.
#
# 3. Store your ECS task definition as a JSON file in your repository.
#    The format should follow the output of `aws ecs register-task-definition --generate-cli-skeleton`.
#    Replace the value of `task-definition` in the workflow below with your JSON file's name.
#    Replace the value of `container-name` in the workflow below with the name of the container
#    in the `containerDefinitions` section of the task definition.
#
# 4. Store an IAM user access key in GitHub Actions secrets named `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
#    See the documentation for each action used below for the recommended IAM policies for this IAM user,
#    and best practices on handling the access key credentials.

on:
  push:
    branches:
      - master
      - '*ecs*'
      - pre-release
    pull_request:
     - '**/*'

name: Build and Upload Container Image to ECR

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    #- name: Install postgres
    #  uses: harmon758/postgresql-action@v1
    #  with:
    #    postgresql version: '11'  # See https://hub.docker.com/_/postgres for available versions

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        SHA: ${{ github.sha }}
      run: |
        export IMAGE_TAG=${SHA::9}

        echo $SHA > config/deploy/docker/assets/REVISION
        echo 'no tag generated' > image-tag.txt

        # Pull the image that speeds up builds. Build it if we have to.
        # Delete from ECR to re-cache
        docker pull $ECR_REGISTRY/$ECR_REPOSITORY:latest--pre-cache || docker build --file=config/deploy/docker/assets/Dockerfile.${ECR_REPOSITORY}.pre-cache -t $ECR_REGISTRY/$ECR_REPOSITORY:latest--pre-cache .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest--pre-cache

        # tag it the way the subsequent Dockerfiles know it
        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:latest--pre-cache ${ECR_REPOSITORY}:latest--pre-cache

        # the pre-cache image is like a stale version of the code. This builds the most recent things
        docker build --file=config/deploy/docker/assets/Dockerfile.${ECR_REPOSITORY}.base -t ${ECR_REPOSITORY}:latest--base .

        # tag it so we can push it remotely
        docker tag ${ECR_REPOSITORY}:latest--base $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--base

        docker build --file=config/deploy/docker/assets/Dockerfile.${ECR_REPOSITORY}.web -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--web .
        docker build --file=config/deploy/docker/assets/Dockerfile.${ECR_REPOSITORY}.dj -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--dj .

        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--base
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--web
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--dj

        echo $IMAGE_TAG--base > image-tag.txt
        echo $IMAGE_TAG--web >> image-tag.txt
        echo $IMAGE_TAG--dj >> image-tag.txt
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--base"
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--web"
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG--dj"

    - name: Show image tag
      uses: actions/upload-artifact@v1
      with:
        name: Last Image Tag
        path: image-tag.txt
