name: Rubocop
on:
  push:
    branches:
      - '*'
      - '**/*'
concurrency:
  group: ${{ github.ref }}-rubocop
  cancel-in-progress: true

jobs:
  rubocop:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-20.04

    # Docker Hub image that the job executes in
    container: ruby:3.1.4-alpine3.18
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - id: dependencies
        name: Set up dependencies
        run: |
          apk add --no-cache \
            nodejs yarn npm \
            tzdata \
            git \
            bash \
            freetds-dev \
            icu icu-dev \
            curl libcurl curl-dev \
            imagemagick \
            libmagic file-dev file \
            build-base libxml2-dev libxslt-dev postgresql-dev \
            libgcc libstdc++ libx11 glib libxrender libxext libintl ttf-dejavu ttf-droid ttf-freefont ttf-liberation ttf-freefont \
            chromium nss freetype freetype-dev harfbuzz ca-certificates ttf-freefont \
            lftp postgresql postgis geos geos-dev \
            shared-mime-info
          gem install bundler --version=2.4.6

      - id: gems
        name: Install gems
        run: |
          bundle config set --local without 'production staging'
          bundle install --jobs 4 --retry 3

      - name: Get changed files
        id: changed-files
        uses: masesgroup/retrieve-changed-files@v3

      - id: rubocop
        name: Run Rubocop
        run: |
          files=`echo "${{ steps.changed-files.outputs.added_modified }}" | tr " " "\n" | grep "**/*.rb" | tr "\n" " ./"`
          num=`echo $files | wc -w`
          echo $files
          if [ $num -gt 0 ]; then bundle exec rubocop --config ./.rubocop.yml $files; else echo "No changed ruby files"; fi
