= simple_form_for @filter, as: :filter, url: warehouse_reports_first_time_homeless_index_path, html: { method: :get, class: :jFilter } do |f|
  - content_for :filters_col_full do
    = render 'warehouse_reports/client_details/filter_fields', f: f, homeless_only: true

  - content_for :filter_actions do
    .col-sm-2.mt-no-label
      = f.button :submit, value: 'Update View'

  - content_for :page_js do
    :javascript
      $('#new_range').submit(function(e){
        var $form = $(this);
        // disable things *immediately after* submit
        setTimeout(function(){
          $form.find(':input').prop('disabled', true);
        }, 0);
      });

  = render 'warehouse_reports/filters', f:f
