-# This file is used in both HTML and PDF layouts, the logos need to be
-# displayed Base64 encoded
%span.seal-image
  - logo = GrdaWarehouse::Theme.logo
  - if logo.attached?
    - content_type = logo.blob.content_type
    = image_tag("data:#{content_type};base64,#{GrdaWarehouse::Theme.encoded_logo}", class: :seal)
