- logo = ENV['LOGO']
- if logo.present?
  %span.seal-image
    - if SerializedAsset.exists?(logo)
      %img.seal{src: SerializedAsset.get_src(logo)}
    - else
      = image_tag "theme/logo/#{logo}", class: :seal
