%nav.o-header__nav.c-header-nav
  %ul.list-unstyled
    %li
      = yield :prepended_nav_items
    - if user_signed_in?
      %li.c-header-nav__item.border-right-0
        = render 'layouts/messages'

      %li.c-header-nav__mobile-link
        = link_to '#', class: 'c-header-nav__link js-toggle-menu', aria: {label: 'Site Navigation', expanded: false}  do
          %i.icon-menu
    - elsif !@showing_sign_in_form
      %li.c-header-nav__item
        = link_to new_user_session_path, class: 'c-header-nav__link' do
          Sign In
