.o-menu.js-menu.off-canvas{class: @layout__plain_inner ? 'o-menu-prs1' : nil}
  %nav{ aria: { labelledby: 'site-menu-label' }}
    %h2#site-menu-label.sr-only Site Menu
    = render 'menus/site_menu'

  %a.js-back-to-top.o-menu__to-top.o-menu__link{ href:'#' }
    Back to Top
