- Dir.glob('app/assets/stylesheets/theme/styles/*.scss') do |stylesheet|
  - theme_styles = "theme/styles/#{File.basename(stylesheet, '.scss')}"
  = stylesheet_link_tag(theme_styles, media: 'all')
- colors = Rails.cache.fetch('system-colors', expires_in: 5.minutes) {GrdaWarehouse::SystemColor.as_css.html_safe }
- if colors.present?
  %style{ type: 'text/css' }
    = colors
:css
  :root {
    /* Replace this with colors from the Admin world */
    --success: yellowgreen;
  }
  /* Expand this to cover everywhere bootstrap uses the scss variables */
  .alert-success {
    background: var(--success);
  }
