- if current_user
  - alert = WarehouseAlert.ordered&.first
  .c-header-nav__group
    - if alert.present? && alert.html.present?
      %li.c-header-nav__item.c-header-nav__item--warning
        = link_to admin_warehouse_alert_path(WarehouseAlert.ordered&.first), class: 'c-header-nav__link' do
          %i.icon-warning{ data: {toggle: :tooltip, title: 'Warehouse Alert!', placement: :bottom}}
    - if current_user.can_edit_data_sources? && GrdaWarehouse::DataSource.stalled_imports?(current_user)
      %li.c-header-nav__item.c-header-nav__item--warning
        = link_to data_sources_path, class: 'c-header-nav__link' do
          %i.icon-clock-o{ data: {toggle: :tooltip, title: 'Stalled Import!', placement: :bottom}}
