- @title = 'Partner Dashboard'

= render 'warehouse_reports/health/agency_performance/table', report: @report, entities: @agencies, entity_label: 'Agency', totals: @totals, detail_path: [:detail, :warehouse_reports, :health_agency_performance, :index], permission: false, default_open: 'yes'
