- scope = @report.detail_scope_from_key(@key)
- headers = @report.header_for(@key)
%p Showing #{pluralize(number_with_delimiter(scope.distinct.select(:client_id).count), 'client')}.
.card
  .overflow-x-scroll{style: "height: 800px"}
    %table.table.table-sm.table-bordered.table-fixed.datatable{ style: 'margin-top: 0 !important;'}
      %thead.thead-dark
        %tr
          - headers.each do |header|
            %th= header
      %tbody
        - scope.pluck(*@report.columns_for(@key)).each do |row|
          %tr
            - row.each_with_index do |col, i|
              %td
                - if i == 0
                  = link_to col, appropriate_client_path(id: col)
                - else
                  = @report.detail_column_display(header: headers[i], column: col)
